Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

IG: add parameter sets to construct assignment requests (#627)
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementAccessPackageAssignmentRequest.ps1
Due: none

identity governance: additional cmdlets for filtering entitlement mgmt policy and access packages (#631)
  src/Identity.Governance/Identity.Governance/custom/Select-MgEntitlementManagementAccessPackage.ps1
  src/Identity.Governance/Identity.Governance/custom/Select-MgEntitlementManagementAccessPackageAssignmentPolicy.ps1
Due: none

identity governance: add parameters for Get-MgEntitlementManagement* (#632)
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackage.ps1
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackageAssignment.ps1
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackageAssignmentPolicy.ps1
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackageAssignmentRequest.ps1
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackageCatalog.ps1
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementConnectedOrganization.ps1
Due: none

supress invoke of my() for accesspackageassignmentresourcerole (#666)
  src/Identity.Governance/Identity.Governance/readme.md
Due: none

Remove admin module.
  config/ModulesMapping.jsonc
  openApiDocs/beta/Admin.yml
  profiles/Admin/crawl-log-v1.0-beta.json
  profiles/Admin/definitions/v1.0-beta.md
  profiles/Admin/readme.md
  src/Admin/Admin/Microsoft.Graph.Admin.psd1
  src/Admin/Admin/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

On module importation, pass along PSCmdlet to gain access to output methods from the cmdlet.
  src/Authentication/Authentication.Core/Common/GraphSession.cs
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Common/Output.cs
  src/Authentication/Authentication/Helpers/AttachDebugger.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Clean up modules with known invalid commands.
  src/Identity.Governance/Identity.Governance/Microsoft.Graph.Identity.Governance.psd1
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/Microsoft.Graph.Identity.SignIns.psd1
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Users/Users/Microsoft.Graph.Users.psd1
  src/Users/Users/readme.md
Due: none

Rename IOutput to PsGraphOutputWriter refactor session initializer.
  src/Authentication/Authentication.Core/Common/GraphSession.cs
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Interfaces/IPSGraphOutputWriter.cs
  src/Authentication/Authentication.Test/TokenCache/ProcessTokenCacheStorageTests.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Models/PsGraphOutputWriter.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove New|Update-MgUserAuthenticationPasswordMethod commands.
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Users.Actions/Users.Actions/readme.md
Due: none

Add module manifest.
  src/Identity.SignIns/Identity.SignIns/Microsoft.Graph.Identity.SignIns.psd1
  src/Users.Actions/Users.Actions/Microsoft.Graph.Users.Actions.psd1
Due: none

Rename output to outputWriter. Cannot initialize output on Module import, thus init on module execution. use async command runtime to handle output.
  src/Authentication/Authentication.Core/Common/GraphSession.cs
  src/Authentication/Authentication.Core/ErrorConstants.cs
  src/Authentication/Authentication.Core/Interfaces/IPSGraphOutputWriter.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Test/Helpers/GraphSessionTests.cs
  src/Authentication/Authentication.Test/TokenCache/ProcessTokenCacheStorageTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Models/PsGraphOutputWriter.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

move targetemail to separate PR
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementAccessPackageAssignmentRequest.ps1
Due: none

Follow casing rules.
  src/Authentication/Authentication.Core/ErrorConstants.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove Invalid Commands (#670)
  config/ModulesMapping.jsonc
  openApiDocs/beta/Admin.yml
  profiles/Admin/crawl-log-v1.0-beta.json
  profiles/Admin/definitions/v1.0-beta.md
  profiles/Admin/readme.md
  src/Admin/Admin/Microsoft.Graph.Admin.psd1
  src/Admin/Admin/readme.md
  src/Identity.Governance/Identity.Governance/Microsoft.Graph.Identity.Governance.psd1
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/Microsoft.Graph.Identity.SignIns.psd1
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Users.Actions/Users.Actions/Microsoft.Graph.Users.Actions.psd1
  src/Users.Actions/Users.Actions/readme.md
  src/Users/Users/Microsoft.Graph.Users.psd1
  src/Users/Users/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Enable Support for PowerShell ISE by handling output via Cmdlet methods. (#668)
  src/Authentication/Authentication.Core/Common/GraphSession.cs
  src/Authentication/Authentication.Core/ErrorConstants.cs
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Interfaces/IPSGraphOutputWriter.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Test/Helpers/GraphSessionTests.cs
  src/Authentication/Authentication.Test/TokenCache/ProcessTokenCacheStorageTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Helpers/AttachDebugger.cs
  src/Authentication/Authentication/Models/PsGraphOutputWriter.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Code clean-up.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

update parameter name
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementConnectedOrganization.ps1
  src/Identity.Governance/Identity.Governance/custom/Split-MgEntitlementManagementConnectedOrganization.ps1
Due: none

Add WindowsUpdates module (#671)
  config/ModulesMapping.jsonc
  openApiDocs/beta/WindowsUpdates.yml
  profiles/WindowsUpdates/crawl-log-v1.0-beta.json
  profiles/WindowsUpdates/definitions/v1.0-beta.md
  profiles/WindowsUpdates/readme.md
  src/WindowsUpdates/WindowsUpdates/Microsoft.Graph.WindowsUpdates.psd1
  src/WindowsUpdates/WindowsUpdates/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Bump SDK version.
  config/ModuleMetadata.json
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Bookings/Bookings/readme.md
  src/Calendar/Calendar/readme.md
  src/ChangeNotifications/ChangeNotifications/readme.md
  src/CloudCommunications/CloudCommunications/readme.md
  src/Compliance/Compliance/readme.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/readme.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/DeviceManagement.Functions/DeviceManagement.Functions/readme.md
  src/DeviceManagement/DeviceManagement/readme.md
  src/Devices.CloudPrint/Devices.CloudPrint/readme.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Education/Education/readme.md
  src/Files/Files/readme.md
  src/Financials/Financials/readme.md
  src/Groups/Groups/readme.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Mail/Mail/readme.md
  src/Notes/Notes/readme.md
  src/People/People/readme.md
  src/PersonalContacts/PersonalContacts/readme.md
  src/Planner/Planner/readme.md
  src/Reports/Reports/readme.md
  src/SchemaExtensions/SchemaExtensions/readme.md
  src/Search/Search/readme.md
  src/Security/Security/readme.md
  src/Sites/Sites/readme.md
  src/Teams/Teams/readme.md
  src/Users.Actions/Users.Actions/readme.md
  src/Users.Functions/Users.Functions/readme.md
  src/Users/Users/readme.md
  src/WindowsUpdates/WindowsUpdates/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Weekly OpenApiDocs Download
  openApiDocs/v1.0/DeviceManagement.Actions.yml
  openApiDocs/v1.0/DeviceManagement.Administration.yml
  openApiDocs/v1.0/DeviceManagement.yml
  openApiDocs/v1.0/Devices.CloudPrint.yml
  openApiDocs/v1.0/Devices.CorporateManagement.yml
  openApiDocs/v1.0/Education.yml
  openApiDocs/v1.0/Files.yml
  openApiDocs/v1.0/Groups.yml
  openApiDocs/v1.0/Identity.Governance.yml
  openApiDocs/v1.0/Identity.SignIns.yml
  openApiDocs/v1.0/Sites.yml
  openApiDocs/v1.0/Teams.yml
  openApiDocs/v1.0/Users.Actions.yml
  openApiDocs/v1.0/Users.Functions.yml
  openApiDocs/v1.0/Users.yml
  profiles/DeviceManagement.Actions/crawl-log-v1.0.json
  profiles/DeviceManagement.Actions/definitions/v1.0.md
Due: none

Add missing OpenAPI tag to modulesmapping config.
  config/ModulesMapping.jsonc
  openApiDocs/beta/Groups.yml
  openApiDocs/v1.0/Groups.yml
  profiles/Groups/crawl-log-v1.0-beta.json
  profiles/Groups/crawl-log-v1.0.json
  profiles/Groups/definitions/v1.0-beta.md
  profiles/Groups/definitions/v1.0.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Bump SDK version. (#672)
  config/ModuleMetadata.json
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Bookings/Bookings/readme.md
  src/Calendar/Calendar/readme.md
  src/ChangeNotifications/ChangeNotifications/readme.md
  src/CloudCommunications/CloudCommunications/readme.md
  src/Compliance/Compliance/readme.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/readme.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/DeviceManagement.Functions/DeviceManagement.Functions/readme.md
  src/DeviceManagement/DeviceManagement/readme.md
  src/Devices.CloudPrint/Devices.CloudPrint/readme.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Education/Education/readme.md
  src/Files/Files/readme.md
  src/Financials/Financials/readme.md
  src/Groups/Groups/readme.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Mail/Mail/readme.md
  src/Notes/Notes/readme.md
  src/People/People/readme.md
  src/PersonalContacts/PersonalContacts/readme.md
  src/Planner/Planner/readme.md
  src/Reports/Reports/readme.md
  src/SchemaExtensions/SchemaExtensions/readme.md
  src/Search/Search/readme.md
  src/Security/Security/readme.md
  src/Sites/Sites/readme.md
  src/Teams/Teams/readme.md
  src/Users.Actions/Users.Actions/readme.md
  src/Users.Functions/Users.Functions/readme.md
  src/Users/Users/readme.md
  src/WindowsUpdates/WindowsUpdates/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

identity governance: add cmdlets for identity sources of connected organizations (#663)
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementConnectedOrganization.ps1
  src/Identity.Governance/Identity.Governance/custom/Split-MgEntitlementManagementConnectedOrganization.ps1
Due: none

revise parameter set name
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementAccessPackageAssignment.ps1
Due: none

move cmdlet supression for new AR, TOU and app consent from mapping to identity.governance readme
  config/ModulesMapping.jsonc
  profiles/Identity.Governance/definitions/v1.0-beta.md
  src/Identity.Governance/Identity.Governance/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

unsupress AR definition, history definition and policy cmdlets
  src/Identity.Governance/Identity.Governance/readme.md
Due: none

Exclude WindowsUpdates module.
  config/ModulesMapping.jsonc
  src/WindowsUpdates/WindowsUpdates/readme.md
  src/readme.graph.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Added base examples for the cmdlets
  src/Applications/Applications/examples/v1.0/Get-MgUserAppRoleAssignment.md
  src/Users/Users/examples/v1.0/Get-MgUser.md
  src/Users/Users/examples/v1.0/Get-MgUserLicenseDetail.md
  src/Users/Users/examples/v1.0/Get-MgUserManager.md
  src/Users/Users/examples/v1.0/Get-MgUserMember.md
  src/Users/Users/examples/v1.0/Get-MgUserOauth2PermissionGrant.md
  src/Users/Users/examples/v1.0/Get-MgUserPhoto.md
  src/Users/Users/examples/v1.0/Update-MgUser.md
Due: none

change AR rename back to supress cmdlets for now
  src/Identity.Governance/Identity.Governance/readme.md
Due: none

Pluralize Updates in WindowsUpdate.
  config/ModulesMapping.jsonc
  src/WindowsUpdates/WindowsUpdates/Microsoft.Graph.WindowsUpdates.psd1
  src/WindowsUpdates/WindowsUpdates/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Made changes to incorporate PR review feedback
  src/Applications/Applications/examples/v1.0/Get-MgUserAppRoleAssignment.md
  src/Users/Users/examples/v1.0/Get-MgUser.md
  src/Users/Users/examples/v1.0/Get-MgUserLicenseDetail.md
  src/Users/Users/examples/v1.0/Get-MgUserManager.md
  src/Users/Users/examples/v1.0/Get-MgUserMember.md
  src/Users/Users/examples/v1.0/Get-MgUserOauth2PermissionGrant.md
  src/Users/Users/examples/v1.0/Get-MgUserPhoto.md
  src/Users/Users/examples/v1.0/Update-MgUser.md
Due: none

Made some minor edits
  src/Applications/Applications/examples/v1.0/Get-MgUserAppRoleAssignment.md
  src/Users/Users/examples/v1.0/Get-MgUser.md
  src/Users/Users/examples/v1.0/Get-MgUserLicenseDetail.md
  src/Users/Users/examples/v1.0/Get-MgUserManager.md
  src/Users/Users/examples/v1.0/Get-MgUserMember.md
  src/Users/Users/examples/v1.0/Get-MgUserOauth2PermissionGrant.md
  src/Users/Users/examples/v1.0/Get-MgUserPhoto.md
  src/Users/Users/examples/v1.0/Update-MgUser.md
Due: none

Pluralize Updates in WindowsUpdate. (#683)
  config/ModulesMapping.jsonc
  src/WindowsUpdates/WindowsUpdates/Microsoft.Graph.WindowsUpdates.psd1
  src/WindowsUpdates/WindowsUpdates/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

identity governance: update module mapping (#680)
  config/ModulesMapping.jsonc
  profiles/Identity.Governance/definitions/v1.0-beta.md
  src/Identity.Governance/Identity.Governance/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Added examples for the cmdlets
  src/Applications/Applications/examples/v1.0/Get-MgApplication.md
  src/Applications/Applications/examples/v1.0/Get-MgServicePrincipal.md
  src/Groups/Groups/examples/v1.0/Get-MgGroup.md
  src/Groups/Groups/examples/v1.0/Get-MgGroupMember.md
Due: none

Bump SDK version to 1.6.0
  config/ModuleMetadata.json
  src/Applications/Applications/readme.md
  src/CloudCommunications/CloudCommunications/readme.md
  src/Compliance/Compliance/readme.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/DeviceManagement.Functions/DeviceManagement.Functions/readme.md
  src/DeviceManagement/DeviceManagement/readme.md
  src/Devices.CloudPrint/Devices.CloudPrint/readme.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
  src/Education/Education/readme.md
  src/Files/Files/readme.md
  src/Groups/Groups/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Search/Search/readme.md
  src/Sites/Sites/readme.md
  src/Teams/Teams/readme.md
  src/Users.Actions/Users.Actions/readme.md
  src/Users.Functions/Users.Functions/readme.md
  src/Users/Users/readme.md
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
