Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Add access reviews definitions APIs.
  src/Identity.Governance/Identity.Governance/Microsoft.Graph.Identity.Governance.psd1
  src/Identity.Governance/Identity.Governance/readme.md
  src/readme.graph.md
Due: none

Add option to skip force refresh.
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/weekly-generation.yml
  tools/UpdateOpenApi.ps1
Due: none

Add option to set base branch.
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/weekly-generation.yml
Due: none

Weekly OpenApiDocs Download. [run ci]
  openApiDocs/beta/CloudCommunications.yml
  openApiDocs/beta/Compliance.yml
  openApiDocs/beta/DeviceManagement.Enrolment.yml
  openApiDocs/beta/DeviceManagement.yml
  openApiDocs/beta/Devices.CloudPrint.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/Identity.DirectoryManagement.yml
  openApiDocs/beta/Reports.yml
  openApiDocs/beta/SchemaExtensions.yml
  openApiDocs/beta/Search.yml
  openApiDocs/beta/Security.yml
  openApiDocs/beta/Users.Actions.yml
  openApiDocs/beta/Users.Functions.yml
  openApiDocs/beta/Users.yml
  openApiDocs/v1.0/Applications.yml
  openApiDocs/v1.0/DeviceManagement.Enrolment.yml
  openApiDocs/v1.0/Devices.CloudPrint.yml
  openApiDocs/v1.0/Education.yml
  openApiDocs/v1.0/Files.yml
  openApiDocs/v1.0/Identity.SignIns.yml
  openApiDocs/v1.0/SchemaExtensions.yml
  openApiDocs/v1.0/Sites.yml
  openApiDocs/v1.0/Teams.yml
  openApiDocs/v1.0/Users.Actions.yml
  openApiDocs/v1.0/Users.Functions.yml
  openApiDocs/v1.0/Users.yml
  profiles/Applications/crawl-log-v1.0.json
  profiles/Applications/definitions/v1.0.md
  profiles/Devices.CloudPrint/crawl-log-v1.0-beta.json
  profiles/Devices.CloudPrint/definitions/v1.0-beta.md
  profiles/Identity.SignIns/crawl-log-v1.0.json
  profiles/Identity.SignIns/definitions/v1.0.md
  profiles/Reports/crawl-log-v1.0-beta.json
  profiles/Reports/definitions/v1.0-beta.md
  profiles/Security/crawl-log-v1.0-beta.json
  profiles/Security/definitions/v1.0-beta.md
  profiles/Users.Actions/crawl-log-v1.0.json
  profiles/Users.Actions/definitions/v1.0.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove ResetGraphSessionEnvironment.
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Weekly OpenApiDocs Download. [run ci]
  openApiDocs/beta/CloudCommunications.yml
  openApiDocs/beta/DeviceManagement.Enrolment.yml
  openApiDocs/beta/DeviceManagement.yml
  openApiDocs/beta/Devices.CloudPrint.yml
  openApiDocs/beta/Education.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/People.yml
  openApiDocs/beta/SchemaExtensions.yml
  openApiDocs/beta/Security.yml
  openApiDocs/beta/Sites.yml
  openApiDocs/beta/Teams.yml
  openApiDocs/beta/Users.Actions.yml
  openApiDocs/beta/Users.Functions.yml
  openApiDocs/beta/Users.yml
  openApiDocs/v1.0/DeviceManagement.Enrolment.yml
  openApiDocs/v1.0/Devices.CloudPrint.yml
  openApiDocs/v1.0/Education.yml
  openApiDocs/v1.0/Files.yml
  openApiDocs/v1.0/Groups.yml
  openApiDocs/v1.0/Sites.yml
  openApiDocs/v1.0/Users.Actions.yml
  openApiDocs/v1.0/Users.Functions.yml
  openApiDocs/v1.0/Users.yml
  profiles/Security/crawl-log-v1.0-beta.json
  profiles/Security/definitions/v1.0-beta.md
  profiles/Users.Actions/crawl-log-v1.0.json
  profiles/Users.Actions/definitions/v1.0.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add HttpVersionHandler tests.
  src/Authentication/Authentication.Test/Handlers/HttpVersionHandlerTests.cs
  src/Authentication/Authentication.Test/Handlers/ODataQueryOptionsHandlerTests.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Handlers/HttpVersionHandler.cs
  src/Authentication/Authentication/custom/common/GraphUri.ps1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Bump dependency versions.
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Utilities/DependencyAssemblyResolver.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Load platform specific HTTP handler.
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Utilities/DependencyAssemblyResolver.cs
  src/Authentication/Authentication/build-module.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Improve Command Coverage: Identity.Signin and Identity.Governance (#1368)
  .azure-pipelines/generate-modules-template.yml
  .azure-pipelines/generation-templates/generate-service-modules.yml
  config/ModulesMapping.jsonc
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/v1.0/Identity.SignIns.yml
  profiles/Identity.SignIns/crawl-log-v1.0-beta.json
  profiles/Identity.SignIns/crawl-log-v1.0.json
  profiles/Identity.SignIns/definitions/v1.0-beta.md
  profiles/Identity.SignIns/definitions/v1.0.md
  src/Identity.Governance/Identity.Governance/Microsoft.Graph.Identity.Governance.psd1
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/Microsoft.Graph.Identity.SignIns.psd1
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/readme.graph.md
  tools/PostGeneration/FindDuplicateCommand.ps1
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add NewMgGroupOwner
  src/Groups/Groups/custom/Groups.cs
  src/Groups/Groups/custom/NewMgGroupOwner_Create.cs
  src/Groups/Groups/custom/NewMgGroupOwner_Create1.cs
  src/Groups/Groups/custom/NewMgGroupOwner_CreateExpanded.cs
  src/Groups/Groups/custom/NewMgGroupOwner_CreateExpanded1.cs
  src/Groups/Groups/custom/NewMgGroupOwner_CreateViaIdentity.cs
  src/Groups/Groups/custom/NewMgGroupOwner_CreateViaIdentity1.cs
  src/Groups/Groups/custom/NewMgGroupOwner_CreateViaIdentityExpanded.cs
  src/Groups/Groups/custom/NewMgGroupOwner_CreateViaIdentityExpanded1.cs
Due: none

Update Get-MgRiskDetection.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Get-MgRiskDetection.md
Due: none

Remove SP FIC cmdlets.
  src/Applications/Applications/Microsoft.Graph.Applications.psd1
  src/Applications/Applications/readme.md
Due: none

Lookup certificates in both user and local machine store.
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

adding -Environment completers
  src/Authentication/Authentication/custom/ParameterCompleters.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update tests.
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update error messages.
  src/Authentication/Authentication.Core/ErrorConstants.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove SP FIC cmdlets. (#1385)
  src/Applications/Applications/Microsoft.Graph.Applications.psd1
  src/Applications/Applications/readme.md
Due: none

Added alias Invoke-MgRestMethod
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added Invoke-MgRestMethod
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated pester test
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Throw non-terminating error.
  src/Authentication/Authentication/Cmdlets/DisconnectMgGraph.cs
  src/Authentication/Authentication/test/Disconnect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Return auth context after disconnect.
  src/Authentication/Authentication/Cmdlets/DisconnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update Get-MgRiskDetection.md (#1381)
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Get-MgRiskDetection.md
Due: none

Docs Generation for SchemaExtensions [run ci]
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Microsoft.Graph.SchemaExtensions.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/New-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Remove-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Update-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Microsoft.Graph.SchemaExtensions.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/New-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Remove-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Update-MgSchemaExtension.md
Due: none

Docs Generation for CloudCommunications [run ci]
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/Microsoft.Graph.CloudCommunications.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/Move-MgCommunicationCall.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/New-MgCommunicationCall.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/New-MgCommunicationCallParticipant.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/New-MgCommunicationOnlineMeeting.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/New-MgUserOnlineMeeting.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/Update-MgCommunicationCallParticipant.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/Update-MgCommunicationOnlineMeeting.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/Update-MgUserOnlineMeeting.md
  src/CloudCommunications/CloudCommunications/docs/v1.0/Microsoft.Graph.CloudCommunications.md
Due: none

Docs Generation for Groups [run ci]
  src/Groups/Groups/docs/v1.0-beta/Add-MgGroupSite.md
  src/Groups/Groups/docs/v1.0-beta/Get-MgGroupLifecyclePolicyByGroup.md
  src/Groups/Groups/docs/v1.0-beta/Microsoft.Graph.Groups.md
  src/Groups/Groups/docs/v1.0-beta/New-MgGroup.md
  src/Groups/Groups/docs/v1.0-beta/New-MgUserJoinedGroup.md
  src/Groups/Groups/docs/v1.0-beta/Remove-MgGroupSite.md
  src/Groups/Groups/docs/v1.0-beta/Update-MgGroup.md
  src/Groups/Groups/docs/v1.0-beta/Update-MgGroupConversationThreadPost.md
  src/Groups/Groups/docs/v1.0/Add-MgGroupSite.md
  src/Groups/Groups/docs/v1.0/Get-MgGroupLifecyclePolicyByGroup.md
  src/Groups/Groups/docs/v1.0/Microsoft.Graph.Groups.md
  src/Groups/Groups/docs/v1.0/New-MgGroup.md
  src/Groups/Groups/docs/v1.0/Remove-MgGroupSite.md
  src/Groups/Groups/docs/v1.0/Update-MgGroup.md
  src/Groups/Groups/docs/v1.0/Update-MgGroupConversationThreadPost.md
  src/Groups/Groups/examples/v1.0-beta/Get-MgGroupLifecyclePolicyByGroup.md
  src/Groups/Groups/examples/v1.0/Get-MgGroupLifecyclePolicyByGroup.md
Due: none

Docs Generation for Identity.DirectoryManagement [run ci]
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Microsoft.Graph.Identity.DirectoryManagement.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/New-MgAdministrativeUnit.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/New-MgDirectoryAdministrativeUnit.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Update-MgAdministrativeUnit.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Update-MgDirectory.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Update-MgDirectoryAdministrativeUnit.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0/Microsoft.Graph.Identity.DirectoryManagement.md
Due: none

Docs Generation for Compliance [run ci]
  src/Compliance/Compliance/docs/v1.0-beta/Add-MgComplianceEdiscoveryCaseReviewSetQueryTag.md
  src/Compliance/Compliance/docs/v1.0-beta/Add-MgComplianceEdiscoveryCaseReviewSetToReviewSet.md
  src/Compliance/Compliance/docs/v1.0-beta/Microsoft.Graph.Compliance.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCase.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodian.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodianSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodianUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodianUserSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHold.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHoldSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHoldUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHoldUserSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseNoncustodialDataSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseOperation.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseReviewSet.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseReviewSetQuery.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseSourceCollection.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseSourceCollectionAdditionalSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseTag.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgCompliance.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscovery.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCase.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodian.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodianSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodianUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodianUserSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHold.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHoldSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHoldUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHoldUserSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseNoncustodialDataSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseOperation.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseReviewSet.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseReviewSetQuery.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseSourceCollection.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseSourceCollectionAdditionalSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseTag.md
  src/Compliance/Compliance/docs/v1.0/Microsoft.Graph.Compliance.md
Due: none
