Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Simplify fallback Logic. Store AuthProviderType in AuthContext. Add test for fallback scenario.
  src/Authentication/Authentication.Core/Authenticator.cs
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Models/AuthContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Apply rename directive for *ById actions. (#638)
  src/Admin/Admin/Microsoft.Graph.Admin.psd1
  src/Admin/Admin/readme.md
Due: none

Install certificate in auth step since stages may run on different machines.
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/integrated-pipeline.yml
  tools/Tests/loadEnv.ps1
Due: none

formatting.
  .azure-pipelines/generate-auth-module-template.yml
Due: none

Remove variables.
  .azure-pipelines/generate-auth-module-template.yml
Due: none

make tests verbose.
  src/Authentication/Authentication/test/Invoke-MgGraphRequest.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

use device auth
  src/Authentication/Authentication/test/Invoke-MgGraphRequest.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

unblock tests due to default auth change.
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
  src/Authentication/Authentication/test/Invoke-MgGraphRequest.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

revert environment loader.
  tools/Tests/loadEnv.ps1
Due: none

default auth provider should not be none.
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

change cert store.
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/integrated-pipeline.yml
Due: none

store certs in current user.
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/integrated-pipeline.yml
Due: none

Add dependency type on-load.
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psm1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

introduce direct bulk assignment creation cmdlet
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementAccessPackageAssignment.ps1
Due: none

Interactive Authentication (#618)
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/integrated-pipeline.yml
  src/Authentication/Authentication.Core/Authenticator.cs
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Models/AuthContext.cs
  src/Authentication/Authentication/Properties/Resources.Designer.cs
  src/Authentication/Authentication/Properties/Resources.resx
  src/Authentication/Authentication/Utilities/DependencyAssemblyResolver.cs
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

add cmdlet body
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementAccessPackageAssignment.ps1
Due: none

Change checking use null or whitespace
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add dependency type on-load. (#642)
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psm1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

add -TargetEmail to create an assignment request
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementAccessPackageAssignmentRequest.ps1
Due: none

Bump SDK version to 1.5.1
  src/Admin/Admin/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Financials/Financials/readme.md
  src/Notes/Notes/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Bump SDK version to 1.5.1 (#647)
  src/Admin/Admin/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Financials/Financials/readme.md
  src/Notes/Notes/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add ClientId Provided by User for Delegated Option (#615)
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add CODEOWNERS to make PRs discoverable.
  .github/CODEOWNERS
Due: none

Update authentication unit tests.
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update reviewers.
  .github/workflows/main.yml
Due: none

simplify expression
  src/Identity.Governance/Identity.Governance/custom/Select-MgEntitlementManagementAccessPackage.ps1
Due: none

Update authentication unit tests. (#657)
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add CODEOWNERS to make PRs discoverable. (#656)
  .github/CODEOWNERS
  .github/workflows/main.yml
Due: none

Add WindowsUpdates module.
  config/ModulesMapping.jsonc
  openApiDocs/beta/WindowsUpdates.yml
  profiles/WindowsUpdates/crawl-log-v1.0-beta.json
  profiles/WindowsUpdates/definitions/v1.0-beta.md
  profiles/WindowsUpdates/readme.md
  src/Admin/Admin/Microsoft.Graph.Admin.psd1
  src/Admin/Admin/readme.md
  src/WindowsUpdates/WindowsUpdates/Microsoft.Graph.WindowsUpdates.psd1
  src/WindowsUpdates/WindowsUpdates/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

remove pipeline
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackage.ps1
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackageAssignment.ps1
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackageAssignmentPolicy.ps1
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackageAssignmentRequest.ps1
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackageCatalog.ps1
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementConnectedOrganization.ps1
Due: none

move to process section
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementAccessPackageAssignmentRequest.ps1
Due: none

Remove invalid cmdlets.
  src/WindowsUpdates/WindowsUpdates/Microsoft.Graph.WindowsUpdates.psd1
  src/WindowsUpdates/WindowsUpdates/readme.md
Due: none

update to include targetemail
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementAccessPackageAssignmentRequest.ps1
Due: none

add cmdlets for identity sources of connected organizations
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementConnectedOrganization.ps1
  src/Identity.Governance/Identity.Governance/custom/Split-MgEntitlementManagementConnectedOrganization.ps1
Due: none

supress invoke of my() for accesspackageassignmentresourcerole
  src/Identity.Governance/Identity.Governance/readme.md
Due: none

Weekly OpenApiDocs Download
  openApiDocs/beta/Applications.yml
  openApiDocs/beta/Compliance.yml
  openApiDocs/beta/DeviceManagement.Enrolment.yml
  openApiDocs/beta/DeviceManagement.yml
  openApiDocs/beta/Devices.CloudPrint.yml
  openApiDocs/beta/Devices.CorporateManagement.yml
  openApiDocs/beta/Education.yml
  openApiDocs/beta/Files.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/Identity.DirectoryManagement.yml
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/beta/Sites.yml
  openApiDocs/beta/Teams.yml
  openApiDocs/beta/Users.Actions.yml
  openApiDocs/beta/Users.Functions.yml
  openApiDocs/beta/Users.yml
  openApiDocs/v1.0/Applications.yml
  openApiDocs/v1.0/Devices.CloudPrint.yml
  openApiDocs/v1.0/Devices.CorporateManagement.yml
  openApiDocs/v1.0/Education.yml
  openApiDocs/v1.0/Files.yml
  openApiDocs/v1.0/Groups.yml
  openApiDocs/v1.0/Identity.SignIns.yml
  openApiDocs/v1.0/Mail.yml
  openApiDocs/v1.0/Reports.yml
  openApiDocs/v1.0/Sites.yml
  openApiDocs/v1.0/Teams.yml
  openApiDocs/v1.0/Users.Actions.yml
  openApiDocs/v1.0/Users.Functions.yml
  openApiDocs/v1.0/Users.yml
  profiles/Compliance/crawl-log-v1.0-beta.json
  profiles/Compliance/definitions/v1.0-beta.md
  profiles/Education/crawl-log-v1.0-beta.json
  profiles/Education/definitions/v1.0-beta.md
  profiles/Identity.DirectoryManagement/crawl-log-v1.0-beta.json
  profiles/Identity.DirectoryManagement/definitions/v1.0-beta.md
  profiles/Users/crawl-log-v1.0-beta.json
  profiles/Users/definitions/v1.0-beta.md
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
