Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Update 5-Teams.ps1
  samples/5-Teams.ps1
Due: none

Bump to v1.0.1 Generate Profiles in Service Modules Build Stage
  .azure-pipelines/generate-modules-template.yml
  .azure-pipelines/integrated-pipeline.yml
  config/ModuleMetadata.json
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Bookings/Bookings/readme.md
  src/Calendar/Calendar/readme.md
  src/ChangeNotifications/ChangeNotifications/readme.md
  src/CloudCommunications/CloudCommunications/readme.md
  src/Compliance/Compliance/readme.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/readme.md
  src/Devices.CloudPrint/Devices.CloudPrint/readme.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Education/Education/readme.md
  src/Files/Files/readme.md
  src/Financials/Financials/readme.md
  src/Groups/Groups/readme.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Mail/Mail/readme.md
  src/Notes/Notes/readme.md
  src/People/People/readme.md
  src/PersonalContacts/PersonalContacts/readme.md
  src/Planner/Planner/readme.md
  src/Reports/Reports/readme.md
  src/SchemaExtensions/SchemaExtensions/readme.md
  src/Search/Search/readme.md
  src/Security/Security/readme.md
  src/Sites/Sites/readme.md
  src/Teams/Teams/readme.md
  src/Users.Actions/Users.Actions/readme.md
  src/Users.Functions/Users.Functions/readme.md
  src/Users/Users/readme.md
  tools/Templates/Microsoft.Graph.nuspec
  tools/Templates/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove Profiles Build Step
  .azure-pipelines/integrated-pipeline.yml
Due: none

Generate profiles in same Stage as Generate and Build Service Modules (#397)
  .azure-pipelines/generate-modules-template.yml
  .azure-pipelines/integrated-pipeline.yml
  config/ModuleMetadata.json
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Bookings/Bookings/readme.md
  src/Calendar/Calendar/readme.md
  src/ChangeNotifications/ChangeNotifications/readme.md
  src/CloudCommunications/CloudCommunications/readme.md
  src/Compliance/Compliance/readme.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/readme.md
  src/Devices.CloudPrint/Devices.CloudPrint/readme.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Education/Education/readme.md
  src/Files/Files/readme.md
  src/Financials/Financials/readme.md
  src/Groups/Groups/readme.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Mail/Mail/readme.md
  src/Notes/Notes/readme.md
  src/People/People/readme.md
  src/PersonalContacts/PersonalContacts/readme.md
  src/Planner/Planner/readme.md
  src/Reports/Reports/readme.md
  src/SchemaExtensions/SchemaExtensions/readme.md
  src/Search/Search/readme.md
  src/Security/Security/readme.md
  src/Sites/Sites/readme.md
  src/Teams/Teams/readme.md
  src/Users.Actions/Users.Actions/readme.md
  src/Users.Functions/Users.Functions/readme.md
  src/Users/Users/readme.md
  tools/Templates/Microsoft.Graph.nuspec
  tools/Templates/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

update new modifier regex.
  src/readme.graph.md
Due: none

update new modifier regex. (#398)
  src/readme.graph.md
Due: none

Remove leading ? from query option on PS 5.1.
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication.Test/Helpers/ODataQueryOptionsHandlerTests.cs
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
  src/Authentication/Authentication/Helpers/ODataQueryOptionsHandler.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update test csproj.
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Run code metrics on auth module.
  .azure-pipelines/generate-auth-module-template.yml
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Weekly OpenApiDocs Download
  openApiDocs/beta/Compliance.yml
  openApiDocs/beta/Devices.CloudPrint.yml
  openApiDocs/beta/Devices.CorporateManagement.yml
  openApiDocs/beta/Education.yml
  openApiDocs/beta/Files.yml
  openApiDocs/beta/Financials.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/beta/Search.yml
  openApiDocs/beta/Sites.yml
  openApiDocs/beta/Teams.yml
  openApiDocs/beta/Users.Actions.yml
  openApiDocs/beta/Users.Functions.yml
  openApiDocs/beta/Users.yml
  openApiDocs/v1.0/Calendar.yml
  openApiDocs/v1.0/Education.yml
  openApiDocs/v1.0/Files.yml
  openApiDocs/v1.0/Groups.yml
  openApiDocs/v1.0/Identity.SignIns.yml
  openApiDocs/v1.0/Sites.yml
  openApiDocs/v1.0/Teams.yml
  openApiDocs/v1.0/Users.Actions.yml
  openApiDocs/v1.0/Users.Functions.yml
  openApiDocs/v1.0/Users.yml
Due: none

Update README.md
  README.md
Due: none

Fix reference to ClientCredentialApp for SPN
  samples/9-Applications.ps1
Due: none

Add Graph environment.
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Common/GraphContextSettings.cs
  src/Authentication/Authentication/Common/GraphSession.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/ErrorConstants.cs
  src/Authentication/Authentication/GraphEnvironmentConstants.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Helpers/NationalCloudHandler.cs
  src/Authentication/Authentication/Interfaces/IGraphEnvironment.cs
  src/Authentication/Authentication/Models/GraphEnvironment.cs
  src/Authentication/Authentication/TokenCache/WindowsTokenCache.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Fix Mg prefix and some minor typos
  README.md
Due: none

Add cmdlets to manage environment.
  src/Authentication/Authentication.Test/Helpers/ODataQueryOptionsHandlerTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/Environment/AddMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/Environment/GetMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/Environment/RemoveMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/Environment/SetMgEnvironment.cs
  src/Authentication/Authentication/Common/DiskDataStore.cs
  src/Authentication/Authentication/Common/GraphContextSettings.cs
  src/Authentication/Authentication/Common/GraphSession.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Common/GraphSettings.cs
  src/Authentication/Authentication/Common/GraphSettingsConverter.cs
  src/Authentication/Authentication/Common/ProtectedFileProvider.cs
  src/Authentication/Authentication/ErrorConstants.cs
  src/Authentication/Authentication/Extensions/IGraphEnvironmentExtensions.cs
  src/Authentication/Authentication/Extensions/PSCmdletExtensions.cs
  src/Authentication/Authentication/Extensions/StringExtensions.cs
  src/Authentication/Authentication/GraphEnvironmentConstants.cs
  src/Authentication/Authentication/Handlers/NationalCloudHandler.cs
  src/Authentication/Authentication/Handlers/ODataQueryOptionsHandler.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Interfaces/IDataStore.cs
  src/Authentication/Authentication/Interfaces/IFileProvider.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/Models/GraphEnvironment.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add unit tests.
  src/Authentication/Authentication.Test/Common/GraphSettingsTests.cs
  src/Authentication/Authentication.Test/Handlers/NationalCloudHandlerTests.cs
  src/Authentication/Authentication.Test/Handlers/ODataQueryOptionsHandlerTests.cs
  src/Authentication/Authentication.Test/Mocks/FakeSuccessHandler.cs
  src/Authentication/Authentication.Test/Mocks/MockDataStore.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/Environment/AddMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/Environment/RemoveMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/Environment/SetMgEnvironment.cs
  src/Authentication/Authentication/Common/GraphSettings.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Extensions/PSCmdletExtensions.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Models/GraphEnvironment.cs
  src/Authentication/Authentication/Properties/launchSettings.json
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add soverign cloud support to Invoke-GraphRequest.
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Extensions/StringExtensions.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update environment session object after updates.
  src/Authentication/Authentication/Cmdlets/Environment/AddMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/Environment/SetMgEnvironment.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Log updated request url with -Debug.
  src/Authentication/Authentication/ErrorConstants.cs
  src/Authentication/Authentication/Helpers/HttpMessageFormatter.cs
  tools/Custom/HttpMessageFormatter.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Apply suggestions from code review
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Interfaces/IDataStore.cs
  src/Authentication/Authentication/Interfaces/IFileProvider.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Resolve namespaces.
  src/Authentication/Authentication.Test/Common/GraphSettingsTests.cs
  src/Authentication/Authentication.Test/Handlers/NationalCloudHandlerTests.cs
  src/Authentication/Authentication.Test/Mocks/MockDataStore.cs
  src/Authentication/Authentication.Test/TokenCache/ProcessTokenCacheStorageTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/Environment/AddMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/Environment/GetMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/Environment/RemoveMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/Environment/SetMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Common/DiskDataStore.cs
  src/Authentication/Authentication/Common/GraphSession.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Common/GraphSettings.cs
  src/Authentication/Authentication/Common/GraphSettingsConverter.cs
  src/Authentication/Authentication/Common/ProtectedFileProvider.cs
  src/Authentication/Authentication/Extensions/IGraphEnvironmentExtensions.cs
  src/Authentication/Authentication/GraphEnvironmentConstants.cs
  src/Authentication/Authentication/Handlers/NationalCloudHandler.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Interfaces/IDataStore.cs
  src/Authentication/Authentication/Interfaces/IFileProvider.cs
  src/Authentication/Authentication/Interfaces/IGraphEnvironment.cs
  src/Authentication/Authentication/Interfaces/IGraphSession.cs
  src/Authentication/Authentication/Models/GraphEnvironment.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Weekly OpenApiDocs Download
  openApiDocs/beta/Applications.yml
  openApiDocs/beta/Bookings.yml
  openApiDocs/beta/Calendar.yml
  openApiDocs/beta/ChangeNotifications.yml
  openApiDocs/beta/Compliance.yml
  openApiDocs/beta/CrossDeviceExperiences.yml
  openApiDocs/beta/Devices.CloudPrint.yml
  openApiDocs/beta/Devices.CorporateManagement.yml
  openApiDocs/beta/Education.yml
  openApiDocs/beta/Files.yml
  openApiDocs/beta/Financials.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/Identity.DirectoryManagement.yml
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/beta/Search.yml
  openApiDocs/beta/Sites.yml
  openApiDocs/beta/Teams.yml
  openApiDocs/beta/Users.Actions.yml
  openApiDocs/beta/Users.Functions.yml
  openApiDocs/beta/Users.yml
  openApiDocs/v1.0/Applications.yml
  openApiDocs/v1.0/Calendar.yml
  openApiDocs/v1.0/ChangeNotifications.yml
  openApiDocs/v1.0/Education.yml
  openApiDocs/v1.0/Files.yml
  openApiDocs/v1.0/Groups.yml
  openApiDocs/v1.0/Identity.SignIns.yml
  openApiDocs/v1.0/Sites.yml
  openApiDocs/v1.0/Teams.yml
  openApiDocs/v1.0/Users.Actions.yml
  openApiDocs/v1.0/Users.Functions.yml
  openApiDocs/v1.0/Users.yml
Due: none

Add section of Known Issues
  README.md
Due: none

Add stream support directives.
  config/ModulesMapping.jsonc
  src/readme.graph.md
  tools/Custom/FileUploadCmdlet.cs
  tools/Custom/PSCmdletExtensions.cs
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Use thread safe stream.
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Common/DiskDataStore.cs
  src/Authentication/Authentication/Common/ProtectedFileProvider.cs
  src/Files/Files/readme.md
  tools/Custom/FileUploadCmdlet.cs
  tools/Custom/PSCmdletExtensions.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update progress
  src/readme.graph.md
  tools/Custom/PSCmdletExtensions.cs
Due: none

Return case insensitive dictionaries from IMGR. #421
  src/Authentication/Authentication.Test/Helpers/StringUtilTests.cs
  src/Authentication/Authentication/Helpers/StringUtil.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Trigger Pipeline on features/*
  .azure-pipelines/integrated-pipeline.yml
Due: none

Lock @autorest/powershell to version 2.1.401
  src/readme.graph.md
Due: none

-1: Build OpenApiDocs Download [skip ci]
  openApiDocs/beta/Applications.yml
  openApiDocs/beta/Bookings.yml
  openApiDocs/beta/Calendar.yml
  openApiDocs/beta/ChangeNotifications.yml
  openApiDocs/beta/Compliance.yml
  openApiDocs/beta/CrossDeviceExperiences.yml
  openApiDocs/beta/Devices.CloudPrint.yml
  openApiDocs/beta/Devices.CorporateManagement.yml
  openApiDocs/beta/Education.yml
  openApiDocs/beta/Files.yml
  openApiDocs/beta/Financials.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/Identity.DirectoryManagement.yml
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/beta/Mail.yml
  openApiDocs/beta/Notes.yml
  openApiDocs/beta/PersonalContacts.yml
  openApiDocs/beta/Search.yml
  openApiDocs/beta/Sites.yml
  openApiDocs/beta/Teams.yml
  openApiDocs/beta/Users.Actions.yml
  openApiDocs/beta/Users.Functions.yml
  openApiDocs/beta/Users.yml
  openApiDocs/v1.0/Applications.yml
  openApiDocs/v1.0/Calendar.yml
  openApiDocs/v1.0/ChangeNotifications.yml
  openApiDocs/v1.0/Education.yml
  openApiDocs/v1.0/Files.yml
  openApiDocs/v1.0/Groups.yml
  openApiDocs/v1.0/Identity.DirectoryManagement.yml
  openApiDocs/v1.0/Identity.SignIns.yml
  openApiDocs/v1.0/Mail.yml
  openApiDocs/v1.0/Notes.yml
  openApiDocs/v1.0/PersonalContacts.yml
  openApiDocs/v1.0/Sites.yml
  openApiDocs/v1.0/Teams.yml
  openApiDocs/v1.0/Users.Actions.yml
  openApiDocs/v1.0/Users.Functions.yml
  openApiDocs/v1.0/Users.yml
Due: none

Weekly OpenApiDocs Download
  openApiDocs/beta/Applications.yml
  openApiDocs/beta/Bookings.yml
  openApiDocs/beta/Calendar.yml
  openApiDocs/beta/ChangeNotifications.yml
  openApiDocs/beta/Compliance.yml
  openApiDocs/beta/CrossDeviceExperiences.yml
  openApiDocs/beta/Devices.CloudPrint.yml
  openApiDocs/beta/Devices.CorporateManagement.yml
  openApiDocs/beta/Education.yml
  openApiDocs/beta/Files.yml
  openApiDocs/beta/Financials.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/Identity.DirectoryManagement.yml
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/beta/Mail.yml
  openApiDocs/beta/Notes.yml
  openApiDocs/beta/PersonalContacts.yml
  openApiDocs/beta/Search.yml
  openApiDocs/beta/Sites.yml
  openApiDocs/beta/Teams.yml
  openApiDocs/beta/Users.Actions.yml
  openApiDocs/beta/Users.Functions.yml
  openApiDocs/beta/Users.yml
  openApiDocs/v1.0/Applications.yml
  openApiDocs/v1.0/Calendar.yml
  openApiDocs/v1.0/ChangeNotifications.yml
  openApiDocs/v1.0/Education.yml
  openApiDocs/v1.0/Files.yml
  openApiDocs/v1.0/Groups.yml
  openApiDocs/v1.0/Identity.DirectoryManagement.yml
  openApiDocs/v1.0/Identity.SignIns.yml
  openApiDocs/v1.0/Mail.yml
  openApiDocs/v1.0/Notes.yml
  openApiDocs/v1.0/PersonalContacts.yml
  openApiDocs/v1.0/Sites.yml
  openApiDocs/v1.0/Teams.yml
  openApiDocs/v1.0/Users.Actions.yml
  openApiDocs/v1.0/Users.Functions.yml
  openApiDocs/v1.0/Users.yml
Due: none

Use asynccommandruntime to handle async calls. Fix double formatted resource strings. Fixes #436 #390
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Helpers/AsyncHelpers.cs
  src/Authentication/Authentication/Helpers/CustomAsyncCommandRuntime.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Allow Connect-Graph to take an x509Certificate. Add tests to verify cert is passed to auth provider.
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Interfaces/IAuthContext.cs
  src/Authentication/Authentication/Models/AuthContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Bump version number to 1.1.0
  config/ModuleMetadata.json
  documentation/images/graph_color256.png
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Bookings/Bookings/readme.md
  src/Calendar/Calendar/readme.md
  src/ChangeNotifications/ChangeNotifications/readme.md
  src/CloudCommunications/CloudCommunications/readme.md
  src/Compliance/Compliance/readme.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/readme.md
  src/Devices.CloudPrint/Devices.CloudPrint/readme.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Education/Education/readme.md
  src/Files/Files/readme.md
  src/Financials/Financials/readme.md
  src/Groups/Groups/readme.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Mail/Mail/readme.md
  src/Notes/Notes/readme.md
  src/People/People/readme.md
  src/PersonalContacts/PersonalContacts/readme.md
  src/Planner/Planner/readme.md
  src/Reports/Reports/readme.md
  src/SchemaExtensions/SchemaExtensions/readme.md
  src/Search/Search/readme.md
  src/Security/Security/readme.md
  src/Sites/Sites/readme.md
  src/Teams/Teams/readme.md
  src/Users.Actions/Users.Actions/readme.md
  src/Users.Functions/Users.Functions/readme.md
  src/Users/Users/readme.md
  tools/Templates/Microsoft.Graph.nuspec
  tools/Templates/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update logos.
  config/ModuleMetadata.json
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  tools/Templates/Microsoft.Graph.nuspec
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

-1: Build OpenApiDocs Download [skip ci]
  openApiDocs/beta/Identity.DirectoryManagement.yml
  openApiDocs/beta/Teams.yml
  openApiDocs/v1.0/Teams.yml
Due: none

Minor style changes. Comment additions.
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Merge pull request #443 from microsoftgraph/releases/1.1.0
  src/Authentication/Authentication/Common/DiskDataStore.cs
  tools/Custom/PSCmdletExtensions.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Format search values.
  src/readme.graph.md
  tools/Custom/ListCmdlet.cs
Due: none
