Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Dot source scripts in AzDo pipelines.
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/generate-modules-template.yml
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
  tools/GenerateModules.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Clean-up Invoke-MgGraphRequest tests.
  src/Authentication/Authentication/test/Invoke-MgGraphRequest.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Find-MgGraphPermission (#809)
  .gitignore
  samples/2-ConnectToGraph.ps1
  samples/9-Applications.ps1
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.format.ps1xml
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psm1
  src/Authentication/Authentication/StartupScripts/ExportCustomCommands.ps1
  src/Authentication/Authentication/build-module.ps1
  src/Authentication/Authentication/custom/Find-MgGraphPermission.ps1
  src/Authentication/Authentication/custom/common/MSGraphServicePrincipalPermissions.json
  src/Authentication/Authentication/custom/common/Permissions.ps1
  src/Authentication/Authentication/test/Find-MgGraphPermission.Tests.ps1
  src/Authentication/Authentication/test/Find-MgGraphPermissionTestfile.ps1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add Teams test.
  src/Teams/Teams/readme.md
  src/Teams/Teams/test/Microsoft.Graph.Teams.Tests.ps1
Due: none

Update tests.
  src/Teams/Teams/test/Microsoft.Graph.Teams.Tests.ps1
Due: none

Remove duplicate copy-item at build.
  src/Authentication/Authentication/build-module.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Clean commands in Planner module.
  src/Planner/Planner/Microsoft.Graph.Planner.psd1
  src/Planner/Planner/readme.md
  src/Planner/Planner/test/Microsoft.Graph.Planner.Tests.ps1
  src/readme.graph.md
Due: none

Added more examples to cmdlets
  src/Applications/Applications/examples/v1.0-beta/Get-MgServicePrincipalOwner.md
  src/Applications/Applications/examples/v1.0-beta/New-MgGroupAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0-beta/New-MgServicePrincipalOwnerByRef.md
  src/Applications/Applications/examples/v1.0/Get-MgServicePrincipalOwner.md
  src/Applications/Applications/examples/v1.0/New-MgGroupAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0/New-MgServicePrincipalOwnerByRef.md
Due: none

Temporarily skip Invoke-MgGraphRequest tests to unblock releases.
  src/Authentication/Authentication/test/Invoke-MgGraphRequest.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove invalid teams cmdlets.
  src/Teams/Teams/Microsoft.Graph.Teams.psd1
Due: none

Write default log to verbose stream.
  tools/Custom/Module.cs
Due: none

Improve debug log formatting.
  tools/Custom/HttpMessageLogFormatter.cs
  tools/Custom/Module.cs
  tools/ManageGeneratedModule.ps1
Due: none

Added more examples
  src/Applications/Applications/examples/v1.0-beta/New-MgGroupAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0/New-MgGroupAppRoleAssignment.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Get-MgDirectoryDeletedItem.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/Get-MgDirectoryDeletedItem.md
Due: none

Added examples to cmdlets
  src/Applications/Applications/examples/v1.0-beta/Get-MgServicePrincipalAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0-beta/New-MgGroupAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0-beta/New-MgServicePrincipalAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0-beta/Remove-MgServicePrincipalAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0/Get-MgServicePrincipalAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0/New-MgGroupAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0/New-MgServicePrincipalAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0/Remove-MgServicePrincipalAppRoleAssignment.md
  src/Users/Users/examples/v1.0-beta/Get-MgUserCreatedObject.md
  src/Users/Users/examples/v1.0/Get-MgUserCreatedObject.md
Due: none

Set paralell throttle limit dynamically to # of cores.
  tools/GenerateModules.ps1
Due: none

Use first index of CsProcessors.
  tools/GenerateModules.ps1
Due: none

Fix failing tests.
  src/Applications/Applications/test/Applications.Tests.ps1
  src/CloudCommunications/CloudCommunications/test/CloudCommunications.Tests.ps1
  src/Users/Users/test/Users.Tests.ps1
Due: none

Bump SDK version to 1.7.0 (#818)
  config/ModuleMetadata.json
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Bookings/Bookings/readme.md
  src/Calendar/Calendar/readme.md
  src/ChangeNotifications/ChangeNotifications/readme.md
  src/CloudCommunications/CloudCommunications/readme.md
  src/Compliance/Compliance/readme.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/readme.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/DeviceManagement.Functions/DeviceManagement.Functions/readme.md
  src/DeviceManagement/DeviceManagement/readme.md
  src/Devices.CloudPrint/Devices.CloudPrint/readme.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Education/Education/readme.md
  src/Files/Files/readme.md
  src/Financials/Financials/readme.md
  src/Groups/Groups/readme.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Mail/Mail/readme.md
  src/Notes/Notes/readme.md
  src/People/People/readme.md
  src/PersonalContacts/PersonalContacts/readme.md
  src/Planner/Planner/readme.md
  src/Reports/Reports/readme.md
  src/SchemaExtensions/SchemaExtensions/readme.md
  src/Search/Search/readme.md
  src/Security/Security/readme.md
  src/Sites/Sites/readme.md
  src/Teams/Teams/readme.md
  src/Users.Actions/Users.Actions/readme.md
  src/Users.Functions/Users.Functions/readme.md
  src/Users/Users/readme.md
  src/WindowsUpdates/WindowsUpdates/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove invalid commands (#830)
  src/Planner/Planner/Microsoft.Graph.Planner.psd1
  src/Planner/Planner/readme.md
  src/Planner/Planner/test/Microsoft.Graph.Planner.Tests.ps1
  src/Teams/Teams/Microsoft.Graph.Teams.psd1
  src/Teams/Teams/readme.md
  src/Teams/Teams/test/Microsoft.Graph.Teams.Tests.ps1
  src/readme.graph.md
Due: none

Fix module initialization in Planner.tests.ps1
  src/Planner/Planner/test/Microsoft.Graph.Planner.Tests.ps1
Due: none

Fix failing planner tests.
  src/Planner/Planner/test/Microsoft.Graph.Planner.Tests.ps1
Due: none

Remove fully qualified namespaces from actions and functions.
  src/Authentication/Authentication/custom/Find-MgGraphCommand.ps1
  tools/PostGeneration/NewCommandMetadata.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added more examples
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Get-MgAdministrativeUnit.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Get-MgSubscribedSku.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/New-MgAdministrativeUnit.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/New-MgDirectoryRoleMemberByRef.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Remove-MgAdministrativeUnit.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Update-MgAdministrativeUnit.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/Get-MgSubscribedSku.md
  src/Users/Users/examples/v1.0-beta/Set-MgUserManagerByRef.md
  src/Users/Users/examples/v1.0/Remove-MgUserManagerByRef.md
Due: none

Fail Build When Pester Tests Fail (#819)
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/generate-modules-template.yml
  src/Applications/Applications/test/Applications.Tests.ps1
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
  src/Authentication/Authentication/test/Invoke-MgGraphRequest.Tests.ps1
  src/CloudCommunications/CloudCommunications/test/CloudCommunications.Tests.ps1
  src/Planner/Planner/test/Microsoft.Graph.Planner.Tests.ps1
  src/Users/Users/test/Users.Tests.ps1
  tools/GenerateModules.ps1
  tools/TestModule.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Set default ModulesToGenerate value.
  .azure-pipelines/generation-templates/generate-service-modules.yml
Due: none

Add steps to parameters:
  .azure-pipelines/generation-templates/generate-command-metadata-template.yml
Due: none

Added examples to the cmdlets (#791)
  src/Applications/Applications/examples/v1.0-beta/Get-MgGroupAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0-beta/Get-MgServicePrincipalAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0-beta/Get-MgServicePrincipalOwner.md
  src/Applications/Applications/examples/v1.0-beta/New-MgGroupAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0-beta/New-MgServicePrincipalAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0-beta/New-MgServicePrincipalOwnerByRef.md
  src/Applications/Applications/examples/v1.0-beta/Remove-MgApplication.md
  src/Applications/Applications/examples/v1.0-beta/Remove-MgServicePrincipalAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0/Get-MgGroupAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0/Get-MgServicePrincipalAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0/Get-MgServicePrincipalOwner.md
  src/Applications/Applications/examples/v1.0/New-MgGroupAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0/New-MgServicePrincipalAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0/New-MgServicePrincipalOwnerByRef.md
  src/Applications/Applications/examples/v1.0/Remove-MgApplication.md
  src/Applications/Applications/examples/v1.0/Remove-MgServicePrincipalAppRoleAssignment.md
  src/Groups/Groups/examples/v1.0-beta/New-MgGroupMember.md
  src/Groups/Groups/examples/v1.0-beta/Remove-MgGroup.md
  src/Groups/Groups/examples/v1.0/New-MgGroupMember.md
  src/Groups/Groups/examples/v1.0/Remove-MgGroup.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Get-MgAdministrativeUnit.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Get-MgDirectoryDeletedItem.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Get-MgSubscribedSku.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/New-MgAdministrativeUnit.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Remove-MgAdministrativeUnit.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Update-MgAdministrativeUnit.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/Get-MgDirectoryDeletedItem.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/Get-MgSubscribedSku.md
  src/Users/Users/examples/v1.0-beta/Get-MgUserCreatedObject.md
  src/Users/Users/examples/v1.0/Get-MgUserCreatedObject.md
  src/Users/Users/examples/v1.0/Remove-MgUserManagerByRef.md
Due: none

Update Weekly OpenAPI Download AzDo Pipeline (#848)
  .azure-pipelines/generation-templates/generate-command-metadata-template.yml
  .azure-pipelines/generation-templates/generate-service-modules.yml
Due: none

Added advanced examples
  src/Users/Users/examples/v1.0/Get-MgUser.md
Due: none

Sign ps1 scripts in auth module.
  .azure-pipelines/generate-auth-module-template.yml
Due: none

Sign ps1 scripts in auth module. (#850)
  .azure-pipelines/generate-auth-module-template.yml
Due: none

Skip weekly generation if no chnage is detected.
  .azure-pipelines/generation-templates/generate-service-modules.yml
  .azure-pipelines/weekly-generation.yml
Due: none

Update variable name.
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/weekly-generation.yml
Due: none

Build entire SDK when generateCommandMetadata is enabled.
  .azure-pipelines/generation-templates/generate-service-modules.yml
  .azure-pipelines/weekly-generation.yml
Due: none

Add test data.
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/generation-templates/generate-service-modules.yml
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Download beta OpenAPI documents.
  .azure-pipelines/common-templates/download-openapi-docs.yml
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml
