Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

reintroduce dynamic throttle
  tools/GenerateModules.ps1
Due: none

Bump module versions after metadata generation.
  config/ModuleMetadata.json
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/Identity.DirectoryManagement/v1.0/examples/Get-MgDirectoryRoleDelta.md
Due: none

fix and validate ConfigurationManagement download
  config/ModulesMapping.jsonc
  openApiDocs/beta/ConfigurationManagement.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updating examples (#3554)
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/Identity.DirectoryManagement/v1.0/examples/Get-MgDirectoryRoleDelta.md
Due: none

fix and validate ConfigurationManagement download (#3555)
  config/ModulesMapping.jsonc
  openApiDocs/beta/ConfigurationManagement.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

reduce release version to 2.36.1
  config/ModuleMetadata.json
Due: none

ci: update rush installation
  .azure-pipelines/common-templates/install-tools.yml
Due: none

use npm to install rush
  .azure-pipelines/common-templates/install-tools.yml
Due: none

add rush link
  .azure-pipelines/common-templates/install-tools.yml
Due: none

expanding rush build to install and link deps
  .azure-pipelines/common-templates/install-tools.yml
Due: none

ci: update rush installation (#3558)
  .azure-pipelines/common-templates/install-tools.yml
Due: none

bump coverlet collector
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
  tools/Tests/JsonUtilitiesTest/JsonUtilitiesTest.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updating examples
  src/ConfigurationManagement/beta/examples/Get-MgBetaAdminConfigurationManagementConfigurationDrift.md
  src/ConfigurationManagement/beta/examples/Get-MgBetaAdminConfigurationManagementConfigurationMonitor.md
  src/ConfigurationManagement/beta/examples/Get-MgBetaAdminConfigurationManagementConfigurationMonitorBaseline.md
  src/ConfigurationManagement/beta/examples/Get-MgBetaAdminConfigurationManagementConfigurationMonitoringResult.md
  src/ConfigurationManagement/beta/examples/Get-MgBetaAdminConfigurationManagementConfigurationSnapshotJob.md
Due: none

bump coverlet collector (#3559)
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
  tools/Tests/JsonUtilitiesTest/JsonUtilitiesTest.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

fix: resolve CS0281 InternalsVisibleTo signing mismatch in Authentication tests
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Properties/AssemblyInfo.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Properties/AssemblyInfo.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

fix: use private npm feed in CI to bypass network isolation
  .azure-pipelines/common-templates/install-tools.yml
  tools/Configure-PrivateNpmFeed.ps1
Due: none

fix: use private npm feed in CI to bypass network isolation (#3564)
  .azure-pipelines/common-templates/install-tools.yml
  tools/Configure-PrivateNpmFeed.ps1
Due: none

fix: resolve CS0281 InternalsVisibleTo signing mismatch in Authentication tests (#3562)
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Properties/AssemblyInfo.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Properties/AssemblyInfo.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

put command metadata pipeline on a schedule
  .azure-pipelines/command-metadata-refresh.yml
Due: none

put command metadata pipeline on a schedule (#3565)
  .azure-pipelines/command-metadata-refresh.yml
Due: none

include caeEnabled: true so token is correctly cached
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml
