Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Updating examples
  src/Applications/beta/examples/Get-MgBetaApplicationOwnerByRef.md
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Education/beta/examples/Get-MgBetaEducationReportSpeakerAssignmentSubmission.md
  src/Identity.DirectoryManagement/beta/examples/Get-MgBetaAdminPeopleProfilePropertySetting.md
  src/Identity.DirectoryManagement/beta/examples/Get-MgBetaAdminPeopleProfileSource.md
  src/Identity.DirectoryManagement/beta/examples/Get-MgBetaDirectoryRecommendationConfiguration.md
  src/Identity.SignIns/beta/examples/Confirm-MgBetaRiskyUserSafe.md
  src/Identity.SignIns/v1.0/examples/Confirm-MgRiskyUserSafe.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessLogConnection.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessLogRemoteNetwork.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessReportConnectionSummary.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessReportDiscoveredApplicationSegmentReport.md
  src/Reports/beta/examples/Export-MgBetaReportPartnerBillingReconciliationUnbilled.md
  src/Reports/beta/examples/Get-MgBetaAuditLogSignUp.md
  src/Reports/beta/examples/Get-MgBetaReportServiceActivityMetricForConditionalAccessBlockedSignIn.md
  src/Reports/beta/examples/Get-MgBetaReportUserInsightMonthlySummary.md
  src/Reports/v1.0/examples/Confirm-MgAuditLogSignInCompromised.md
  src/Reports/v1.0/examples/Confirm-MgAuditLogSignInSafe.md
  src/Search/beta/examples/Get-MgBetaExternalIndustryDataOperation.md
  src/Security/beta/examples/Get-MgBetaSecurityDataSecurityAndGovernanceSensitivityLabel.md
  src/Security/beta/examples/Get-MgBetaSecurityDataSecurityAndGovernanceSensitivityLabelRight.md
Due: none

update and build security module only
  config/ModulesMapping.jsonc
  openApiDocs/beta/Security.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

responseAction reMap
  openApiDocs/beta/Security.yml
Due: none

adding template context
  .azure-pipelines/ci-build.yml
Due: none

removing checkout
  .azure-pipelines/ci-build.yml
Due: none

update security beta
  openApiDocs/beta/Security.yml
Due: none

Compress MgCommandMetadata.json to reduce whitespace/package size for `Microsoft.Graph.Authentication` (#3346)
  tools/PostGeneration/AuthModuleMetadata.ps1
  tools/PostGeneration/NewCommandMetadata.ps1
Due: none

bump to 2.30.0
  config/ModuleMetadata.json
Due: none

Create dotnet.yml
  .github/workflows/dotnet.yml
Due: none

Create main
  .github/workflows/main
Due: none

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Fix missing extensionAttributes structure in PowerShell Example 2 for Update-MgDevice.md
  src/Identity.DirectoryManagement/v1.0/examples/Update-MgDevice.md
Due: none

Update New-MgDomainFederationConfiguration.md
  src/Identity.DirectoryManagement/v1.0/examples/New-MgDomainFederationConfiguration.md
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Education/beta/examples/Get-MgBetaEducationReportReadingAssignmentSubmission.md
  src/Education/beta/examples/Get-MgBetaEducationReportReadingCoachPassage.md
  src/Files/beta/examples/Get-MgBetaDriveItemSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaDriveListSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaDriveRootSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaGroupDriveItemSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaGroupDriveListSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaGroupDriveRootSubscriptionVapidPublicKey.md
  src/Identity.DirectoryManagement/beta/examples/Get-MgBetaAdminPeoplePhotoUpdateSetting.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessAlert.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessFilteringProfilePolicy.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessThreatIntelligencePolicy.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessTlExternalCertificateAuthorityCertificate.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessTlInspectionPolicy.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessTlInspectionPolicyRule.md
  src/Reports/beta/examples/Get-MgBetaReportAuthenticationMethodUserEventSummary.md
  src/Reports/beta/examples/Get-MgBetaReportAuthenticationMethodUserMfaSignInSummary.md
  src/Reports/beta/examples/Get-MgBetaReportAuthenticationMethodUserPasswordResetAndChangeSummary.md
  src/Reports/v1.0/examples/Export-MgReportPartnerBillingReconciliationUnbilled.md
  src/Search/v1.0/examples/Add-MgExternalConnectionItemActivity.md
  src/Security/beta/examples/Get-MgBetaSecurityIncidentTask.md
  src/Sites/beta/examples/Get-MgBetaGroupSiteListSubscriptionVapidPublicKey.md
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Education/beta/examples/Get-MgBetaEducationReportReadingAssignmentSubmission.md
  src/Education/beta/examples/Get-MgBetaEducationReportReadingCoachPassage.md
  src/Files/beta/examples/Get-MgBetaDriveItemSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaDriveListSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaDriveRootSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaGroupDriveItemSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaGroupDriveListSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaGroupDriveRootSubscriptionVapidPublicKey.md
  src/Identity.DirectoryManagement/beta/examples/Get-MgBetaAdminPeoplePhotoUpdateSetting.md
  src/Identity.SignIns/beta/examples/Get-MgBetaPolicyMobileAppManagementPolicyIncludedGroup.md
  src/Identity.SignIns/beta/examples/Get-MgBetaPolicyMobileDeviceManagementPolicyIncludedGroup.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessAlert.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessFilteringProfilePolicy.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessThreatIntelligencePolicy.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessTlExternalCertificateAuthorityCertificate.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessTlInspectionPolicy.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessTlInspectionPolicyRule.md
  src/Reports/beta/examples/Get-MgBetaReportAuthenticationMethodUserEventSummary.md
  src/Reports/beta/examples/Get-MgBetaReportAuthenticationMethodUserMfaSignInSummary.md
  src/Reports/beta/examples/Get-MgBetaReportAuthenticationMethodUserPasswordResetAndChangeSummary.md
  src/Reports/v1.0/examples/Export-MgReportPartnerBillingReconciliationUnbilled.md
  src/Search/v1.0/examples/Add-MgExternalConnectionItemActivity.md
  src/Security/beta/examples/Get-MgBetaSecurityIncidentTask.md
  src/Sites/beta/examples/Get-MgBetaGroupSiteListSubscriptionVapidPublicKey.md
Due: none

fix: include the groups on prem sync behavior in the OpenAPI spec
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

fix: include the groups on prem sync behavior in the OpenAPI spec (#3400)
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

update azure.identity tooling
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  tools/Custom/Module.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml
