Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Docs Generation for Search [skip ci]
  src/Search/Search/docs/v1.0-beta/Get-MgExternalConnection.md
  src/Search/Search/docs/v1.0-beta/Get-MgSearchEntity.md
  src/Search/Search/docs/v1.0-beta/Invoke-MgQuerySearch.md
  src/Search/Search/docs/v1.0-beta/Microsoft.Graph.Search.md
  src/Search/Search/docs/v1.0-beta/New-MgExternalConnection.md
  src/Search/Search/docs/v1.0-beta/Update-MgExternal.md
  src/Search/Search/docs/v1.0-beta/Update-MgExternalConnection.md
  src/Search/Search/docs/v1.0-beta/Update-MgSearchEntity.md
  src/Search/Search/docs/v1.0/Get-MgSearchEntity.md
  src/Search/Search/docs/v1.0/Invoke-MgQuerySearch.md
  src/Search/Search/docs/v1.0/Microsoft.Graph.Search.md
  src/Search/Search/docs/v1.0/Update-MgSearchEntity.md
Due: none

Docs Generation for SchemaExtensions [skip ci]
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Get-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Microsoft.Graph.SchemaExtensions.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/New-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Remove-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Update-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Get-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Microsoft.Graph.SchemaExtensions.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/New-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Remove-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Update-MgSchemaExtension.md
Due: none

Docs Generation for CrossDeviceExperiences [skip ci]
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivityHistoryItemActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Microsoft.Graph.CrossDeviceExperiences.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/New-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/New-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/New-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Set-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Update-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Update-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Update-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivityHistoryItemActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Microsoft.Graph.CrossDeviceExperiences.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/New-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/New-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Remove-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Remove-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Remove-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Set-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Update-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Update-MgUserActivityHistoryItem.md
Due: none

Fix broken Get-MgEntitlementManagementAccessPackageAssignmentPolicy and Get-MgEntitlementManagementAccessPackageCatalog command.
  src/Identity.Governance/Identity.Governance/Microsoft.Graph.Identity.Governance.psd1
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackageAssignmentPolicy.ps1
  src/Identity.Governance/Identity.Governance/readme.md
Due: none

Include search variants.
  src/Identity.Governance/Identity.Governance/readme.md
Due: none

Moving WIP to the src for future builds
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/custom/FindMgGraph_Permission.ps1
  src/Authentication/Authentication/test/Find-MgGraphPermission.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Rename template.
  .azure-pipelines/common-templates/install-tools-template.yml
Due: none

Quick test with small module.
  .azure-pipelines/generate-modules-template.yml
Due: none

Build only bookings.
  .azure-pipelines/generate-modules-template.yml
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Execute tasks for all modules.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Condition on push Rename job
  .github/docs/helpdocs.yml
Due: none

Test Changes on Bookings only/
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Alias -TenantId as -Audience.
  src/Authentication/Authentication.Core/Authenticator.cs
  src/Authentication/Authentication.Core/ErrorConstants.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove invalid Get-Mg*AvailableExtensionProperty commands.
  src/Applications/Applications/Microsoft.Graph.Applications.psd1
  src/Applications/Applications/readme.md
  src/Groups/Groups/Microsoft.Graph.Groups.psd1
  src/Groups/Groups/readme.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/readme.md
  src/Users.Actions/Users.Actions/Microsoft.Graph.Users.Actions.psd1
  src/Users.Actions/Users.Actions/readme.md
Due: none

Remove invalid Get-Mg*AvailableExtensionProperty commands in Identity.DirectoryManagement.
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/Microsoft.Graph.Identity.DirectoryManagement.psd1
Due: none

Pass along modules to generate parameter. Remove old tools template.
  .azure-pipelines/generate-profiles-template.yml
  .azure-pipelines/generate-rollup-module-template.yml
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  .azure-pipelines/install-tools-template.yml
  config/ModulesMapping.jsonc
  tools/GenerateHelp.ps1
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Specify LTS versions of dotnet 3 and 2
  .azure-pipelines/common-templates/install-tools-template.yml
Due: none

Change task descriptions.
  .azure-pipelines/common-templates/install-tools-template.yml
Due: none

Use latest major version.
  .azure-pipelines/common-templates/install-tools-template.yml
Due: none

Find-MgGraphPermission: Define new location for common script code
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/custom/FindMgGraph_Permission.ps1
  src/Authentication/Authentication/custom/common/Permissions.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

work in progress
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/custom/FindMgGraph_Permission.ps1
  src/Authentication/Authentication/custom/testbench.ps1
  src/Authentication/Authentication/test/Find-MgGraphPermission.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml
