Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Fix: Include the users onPremSyncBehavior API in the OpenAPI spec
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

update azure.identity tooling (#3403)
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  tools/Custom/Module.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updating examples (#3398)
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Education/beta/examples/Get-MgBetaEducationReportReadingAssignmentSubmission.md
  src/Education/beta/examples/Get-MgBetaEducationReportReadingCoachPassage.md
  src/Files/beta/examples/Get-MgBetaDriveItemSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaDriveListSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaDriveRootSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaGroupDriveItemSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaGroupDriveListSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaGroupDriveRootSubscriptionVapidPublicKey.md
  src/Identity.DirectoryManagement/beta/examples/Get-MgBetaAdminPeoplePhotoUpdateSetting.md
  src/Identity.SignIns/beta/examples/Get-MgBetaPolicyMobileAppManagementPolicyIncludedGroup.md
  src/Identity.SignIns/beta/examples/Get-MgBetaPolicyMobileDeviceManagementPolicyIncludedGroup.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessAlert.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessFilteringProfilePolicy.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessThreatIntelligencePolicy.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessTlExternalCertificateAuthorityCertificate.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessTlInspectionPolicy.md
  src/NetworkAccess/beta/examples/Get-MgBetaNetworkAccessTlInspectionPolicyRule.md
  src/Reports/beta/examples/Get-MgBetaReportAuthenticationMethodUserEventSummary.md
  src/Reports/beta/examples/Get-MgBetaReportAuthenticationMethodUserMfaSignInSummary.md
  src/Reports/beta/examples/Get-MgBetaReportAuthenticationMethodUserPasswordResetAndChangeSummary.md
  src/Reports/v1.0/examples/Export-MgReportPartnerBillingReconciliationUnbilled.md
  src/Search/v1.0/examples/Add-MgExternalConnectionItemActivity.md
  src/Security/beta/examples/Get-MgBetaSecurityIncidentTask.md
  src/Sites/beta/examples/Get-MgBetaGroupSiteListSubscriptionVapidPublicKey.md
Due: none

Update New-MgDomainFederationConfiguration.md (#3385)
  src/Identity.DirectoryManagement/v1.0/examples/New-MgDomainFederationConfiguration.md
Due: none

Fix missing extensionAttributes structure in PowerShell Example 2 for Update-MgDevice.md (#3384)
  src/Identity.DirectoryManagement/v1.0/examples/Update-MgDevice.md
Due: none

bump to 2.31.0 for release
  config/ModuleMetadata.json
Due: none

Fix: Include the users onPremSyncBehavior API in the OpenAPI spec (#3407)
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

match version in auth csproj
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add UserPrincipalName support for Connect-MgGraph
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication-help.xml
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.dll-Help.xml
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/Models/AuthContext.cs
  src/Authentication/docs/Add-MgEnvironment.md
  src/Authentication/docs/Connect-MgGraph.md
  src/Authentication/docs/Disconnect-MgGraph.md
  src/Authentication/docs/Get-MgContext.md
  src/Authentication/docs/Get-MgEnvironment.md
  src/Authentication/docs/Get-MgGraphOption.md
  src/Authentication/docs/Get-MgRequestContext.md
  src/Authentication/docs/Invoke-MgGraphRequest.md
  src/Authentication/docs/Microsoft.Graph.Authentication.md
  src/Authentication/docs/Remove-MgEnvironment.md
  src/Authentication/docs/Set-MgEnvironment.md
  src/Authentication/docs/Set-MgGraphOption.md
  src/Authentication/docs/Set-MgRequestContext.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Weekly OpenApiDocs Download.
  config/ModuleMetadata.json
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/OpenApiInfoGenerator.csproj.gdn.sarif
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/beta/examples/Get-MgBetaServicePrincipalTokenLifetimePolicyByRef.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalCreatedObject.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalOwnedObject.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/ChangeNotifications/beta/examples/Get-MgBetaSubscriptionVapidPublicKey.md
  src/Education/v1.0/examples/Get-MgEducationReportReadingAssignmentSubmission.md
  src/Education/v1.0/examples/Get-MgEducationReportReflectCheck.md
  src/Files/beta/examples/Get-MgBetaShareListSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaUserDriveItemSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaUserDriveListSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaUserDriveRootSubscriptionVapidPublicKey.md
  src/Security/v1.0/examples/Get-MgSecurityAttackSimulationEndUserNotification.md
  src/Security/v1.0/examples/Get-MgSecurityAttackSimulationTrainingLanguageDetail.md
  src/Security/v1.0/examples/Get-MgSecurityDataSecurityAndGovernanceSensitivityLabel.md
  src/Security/v1.0/examples/Get-MgSecurityDataSecurityAndGovernanceSensitivityLabelRight.md
  src/Sites/beta/examples/Get-MgBetaSiteListSubscriptionVapidPublicKey.md
Due: none

revert azure identity updates
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

version 2.31.0
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

revert azure identity updates (#3411)
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update example to clarify scope of AllowedToUseSSPR parameter
  src/Identity.SignIns/v1.0/examples/Update-MgPolicyAuthorizationPolicy.md
Due: none

Weekly OpenApiDocs Download.
  config/ModuleMetadata.json
Due: none

Updating examples (#3416)
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/beta/examples/Get-MgBetaServicePrincipalTokenLifetimePolicyByRef.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalCreatedObject.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalOwnedObject.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/ChangeNotifications/beta/examples/Get-MgBetaSubscriptionVapidPublicKey.md
  src/Education/v1.0/examples/Get-MgEducationReportReadingAssignmentSubmission.md
  src/Education/v1.0/examples/Get-MgEducationReportReflectCheck.md
  src/Files/beta/examples/Get-MgBetaShareListSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaUserDriveItemSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaUserDriveListSubscriptionVapidPublicKey.md
  src/Files/beta/examples/Get-MgBetaUserDriveRootSubscriptionVapidPublicKey.md
  src/Security/v1.0/examples/Get-MgSecurityAttackSimulationEndUserNotification.md
  src/Security/v1.0/examples/Get-MgSecurityAttackSimulationTrainingLanguageDetail.md
  src/Security/v1.0/examples/Get-MgSecurityDataSecurityAndGovernanceSensitivityLabel.md
  src/Security/v1.0/examples/Get-MgSecurityDataSecurityAndGovernanceSensitivityLabelRight.md
  src/Sites/beta/examples/Get-MgBetaSiteListSubscriptionVapidPublicKey.md
Due: none

Update example to clarify scope of AllowedToUseSSPR parameter (#3417)
  src/Identity.SignIns/v1.0/examples/Update-MgPolicyAuthorizationPolicy.md
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
Due: none
