Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Allow caller to Specify desired OutputType (#499)
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/integrated-pipeline.yml
  .gitignore
  Nuget.config
  src/Authentication/Authentication.Test/Helpers/StringUtilTests.cs
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/ErrorConstants.cs
  src/Authentication/Authentication/Helpers/ContentHelper.cs
  src/Authentication/Authentication/Helpers/Errors.cs
  src/Authentication/Authentication/Helpers/HttpMessageFormatter.cs
  src/Authentication/Authentication/Helpers/StringUtil.cs
  src/Authentication/Authentication/Helpers/WebResponseHelper.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/Models/OutputType.cs
  src/Authentication/Authentication/Models/RestReturnType.cs
  src/Authentication/Authentication/Properties/Resources.Designer.cs
  src/Authentication/Authentication/Properties/Resources.resx
  src/Authentication/Authentication/test/Authentication.Tests.ps1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication-TestResults.xml
  src/Authentication/Authentication/test/loadEnv.ps1
  src/Authentication/Authentication/test/readme.md
  tools/GenerateAuthenticationModule.ps1
  tools/TestModule.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Fix broken error flattening logic.
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
  src/Authentication/Authentication/test/Invoke-MgGraphRequest.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Lock autorest-core version to 3.0.6306
  tools/GenerateModules.ps1
Due: none

Bump version of all modules to 1.3.0
  src/Financials/Financials/readme.md
  src/Notes/Notes/readme.md
Due: none

Remove *-UserAuthenticationMethod commands
  src/Identity.SignIns/Identity.SignIns/readme.md
Due: none

Update src/Identity.SignIns/Identity.SignIns/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
Due: none

Revert MSAL version to 4.14.0
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Bump version numbers to 1.3.1
  .azure-pipelines/generate-modules-template.yml
  config/ModuleMetadata.json
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Helpers/ContentHelper.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Bookings/Bookings/readme.md
  src/Calendar/Calendar/readme.md
  src/ChangeNotifications/ChangeNotifications/readme.md
  src/CloudCommunications/CloudCommunications/readme.md
  src/Compliance/Compliance/readme.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/readme.md
  src/Devices.CloudPrint/Devices.CloudPrint/readme.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Education/Education/readme.md
  src/Files/Files/readme.md
  src/Financials/Financials/readme.md
  src/Groups/Groups/readme.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Mail/Mail/readme.md
  src/Notes/Notes/readme.md
  src/People/People/readme.md
  src/PersonalContacts/PersonalContacts/readme.md
  src/Planner/Planner/readme.md
  src/Reports/Reports/readme.md
  src/SchemaExtensions/SchemaExtensions/readme.md
  src/Search/Search/readme.md
  src/Security/Security/readme.md
  src/Sites/Sites/readme.md
  src/Teams/Teams/readme.md
  src/Users.Actions/Users.Actions/readme.md
  src/Users.Functions/Users.Functions/readme.md
  src/Users/Users/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove TenantId, ForceRefresh and ContextScope from AccessTokenParameterSet
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/ErrorConstants.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add unit test.
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add directive to remove Count, Keys, and Values properties from implementations of an IAssociativeArray.
  src/readme.graph.md
Due: none

Remove new modifier for values, keys and count.
  src/readme.graph.md
Due: none

Inline ediscovery.tag and ediscovery.sourceCollection entities.
  src/readme.graph.md
Due: none

Cleanup previous device management modules.
  config/ModulesMapping.jsonc
  src/DeviceManagement.Administration/DeviceManagement.Administration/Microsoft.Graph.DeviceManagement.Administration.psd1
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/Microsoft.Graph.DeviceManagement.Enrolment.psd1
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/DeviceManagement/DeviceManagement/Microsoft.Graph.DeviceManagement.psd1
  src/DeviceManagement/DeviceManagement/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add deviceManamenet module.
  config/ModulesMapping.jsonc
  src/DeviceManagement/DeviceManagement/readme.md
  tools/GenerateProfiles.ps1
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add deviceManagement.Action directives.
  src/DeviceManagement.Actions/DeviceManagement.Actions/Microsoft.Graph.DeviceManagement.Actions.psd1
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/Microsoft.Graph.DeviceManagement.Administration.psd1
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/Microsoft.Graph.DeviceManagement.Enrolment.psd1
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/DeviceManagement.Functions/DeviceManagement.Functions/Microsoft.Graph.DeviceManagement.Functions.psd1
  src/DeviceManagement.Functions/DeviceManagement.Functions/readme.md
  src/DeviceManagement/DeviceManagement/Microsoft.Graph.DeviceManagement.psd1
  tools/GenerateProfiles.ps1
Due: none

Clean up deviceManagement directives.
  config/ModulesMapping.jsonc
  src/DeviceManagement.Actions/DeviceManagement.Actions/Microsoft.Graph.DeviceManagement.Actions.psd1
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/Microsoft.Graph.DeviceManagement.Administration.psd1
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/Microsoft.Graph.DeviceManagement.Enrolment.psd1
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/DeviceManagement.Functions/DeviceManagement.Functions/Microsoft.Graph.DeviceManagement.Functions.psd1
  src/DeviceManagement.Functions/DeviceManagement.Functions/readme.md
  src/DeviceManagement/DeviceManagement/Microsoft.Graph.DeviceManagement.psd1
  src/DeviceManagement/DeviceManagement/readme.md
  tools/GenerateProfiles.ps1
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Remove ADO feeds from nuget.config.
  Nuget.config
  tools/GenerateProfiles.ps1
Due: none

Remove breaking undocumented cmdlet
  src/Compliance/Compliance/readme.md
Due: none

Add device management profiles.
  openApiDocs/beta/DeviceManagement.Actions.yml
  openApiDocs/beta/DeviceManagement.Administration.yml
  openApiDocs/beta/DeviceManagement.Enrolment.yml
  openApiDocs/beta/DeviceManagement.Functions.yml
  openApiDocs/beta/DeviceManagement.yml
  openApiDocs/beta/Reports.yml
  openApiDocs/v1.0/DeviceManagement.Actions.yml
  openApiDocs/v1.0/DeviceManagement.Administration.yml
  openApiDocs/v1.0/DeviceManagement.Enrolment.yml
  openApiDocs/v1.0/DeviceManagement.Functions.yml
  openApiDocs/v1.0/DeviceManagement.yml
  openApiDocs/v1.0/Reports.yml
  profiles/DeviceManagement.Actions/crawl-log-v1.0-beta.json
  profiles/DeviceManagement.Actions/crawl-log-v1.0.json
  profiles/DeviceManagement.Actions/definitions/v1.0-beta.md
  profiles/DeviceManagement.Actions/definitions/v1.0.md
  profiles/DeviceManagement.Actions/readme.md
  profiles/DeviceManagement.Administration/crawl-log-v1.0-beta.json
  profiles/DeviceManagement.Administration/crawl-log-v1.0.json
  profiles/DeviceManagement.Administration/definitions/v1.0-beta.md
  profiles/DeviceManagement.Administration/definitions/v1.0.md
  profiles/DeviceManagement.Administration/readme.md
  profiles/DeviceManagement.Enrolment/crawl-log-v1.0-beta.json
  profiles/DeviceManagement.Enrolment/crawl-log-v1.0.json
  profiles/DeviceManagement.Enrolment/definitions/v1.0-beta.md
  profiles/DeviceManagement.Enrolment/definitions/v1.0.md
  profiles/DeviceManagement.Enrolment/readme.md
  profiles/DeviceManagement.Functions/crawl-log-v1.0-beta.json
  profiles/DeviceManagement.Functions/crawl-log-v1.0.json
  profiles/DeviceManagement.Functions/definitions/v1.0-beta.md
  profiles/DeviceManagement.Functions/definitions/v1.0.md
  profiles/DeviceManagement.Functions/readme.md
  profiles/DeviceManagement/crawl-log-v1.0-beta.json
  profiles/DeviceManagement/crawl-log-v1.0.json
  profiles/DeviceManagement/definitions/v1.0-beta.md
  profiles/DeviceManagement/definitions/v1.0.md
  profiles/DeviceManagement/readme.md
  profiles/Reports/crawl-log-v1.0-beta.json
  profiles/Reports/crawl-log-v1.0.json
  profiles/Reports/definitions/v1.0-beta.md
Due: none

Write generation errors to pipeline.
  tools/GenerateModules.ps1
  tools/ValidateUpdatedModuleVersion.ps1
Due: none

Update weekly generation ADO pipeline to bump patch numbers.
  .azure-pipelines/common-templates/download-openapi-docs.yml
  Nuget.config
Due: none

Update users.actions module directive.
  src/Users.Actions/Users.Actions/readme.md
  tools/GenerateModules.ps1
Due: none

Remove entity-id property from entities.
  src/readme.graph.md
Due: none

Update ADO pipeline to use the latest version of AutoREST.
  .azure-pipelines/install-tools-template.yml
Due: none

Set NODE memory to 8192.
  .azure-pipelines/common-templates/install-tools.yml
  .azure-pipelines/install-tools-template.yml
Due: none

Set node memory in generation script.
  tools/GenerateModules.ps1
Due: none

Clean up pipelines.
  .azure-pipelines/common-templates/install-tools.yml
  .azure-pipelines/install-tools-template.yml
Due: none

Exclude MarkDown docs from produced nuget package. Do no emit example stubs into ProxyCmdlets and markdown docs. Update pipelines to not emit example stubs and exclude docs from nuget package.
  .azure-pipelines/generate-modules-template.yml
  tools/BuildModule.ps1
  tools/GenerateModules.ps1
  tools/NuspecHelper.ps1
  tools/PackModule.ps1
Due: none

Security Pre-Checks failing due to PathTooLongException in CredScan
  .azure-pipelines/security-prechecks-template.yml
Due: none

Add tests for New-MgInvitation.
  src/Authentication/Authentication/ErrorConstants.cs
  src/Identity.SignIns/Identity.SignIns/test/env.json
  src/Identity.SignIns/Identity.SignIns/test/loadEnv.ps1
  src/Identity.SignIns/Identity.SignIns/test/v1.0-beta/New-MgInvitation.Recording.json
  src/Identity.SignIns/Identity.SignIns/test/v1.0-beta/New-MgInvitation.Tests.ps1
  src/Identity.SignIns/Identity.SignIns/test/v1.0/New-MgInvitation.Recording.json
  src/Identity.SignIns/Identity.SignIns/test/v1.0/New-MgInvitation.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Set user type to MicrosoftGraphUser in v1.0.
  src/Identity.SignIns/Identity.SignIns/test/v1.0/New-MgInvitation.Tests.ps1
Due: none

Add directive to remove breaking undocumented API.
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
Due: none

Bump all modules to 1.3.2
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement/DeviceManagement/readme.md
  src/Financials/Financials/readme.md
  src/Notes/Notes/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add rename directive to duplicate device management cmdlets.
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
  src/DeviceManagement.Functions/DeviceManagement.Functions/readme.md
  src/DeviceManagement/DeviceManagement/readme.md
Due: none

Update readme.md
  src/DeviceManagement/DeviceManagement/readme.md
Due: none

Exclude *.md files from nuget package to reduce overrall package size.
  .azure-pipelines/generate-modules-template.yml
  tools/NuspecHelper.ps1
  tools/PackModule.ps1
Due: none
