Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Fixed typo on path
  .azure-pipelines/generation-templates/authentication-module.yml
Due: none

Adds alias for cmdlets that have been renamed
  src/readme.graph.md
Due: none

Reenabled directory objects
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Fixed duplicate key entry in read me
  src/readme.graph.md
Due: none

Removes duplicate cmdlets
  src/DirectoryObjects/DirectoryObjects.md
Due: none

Removed duplicates
  src/DirectoryObjects/DirectoryObjects.md
Due: none

Updates autorest to remove invalid cmdlet
  src/Identity.Governance/Identity.Governance.md
Due: none

Set alias for *OnPremise* to *OnPremises*
  src/readme.graph.md
Due: none

Updated directive
  src/readme.graph.md
Due: none

Updated Json extension class to handle Json Arrays. Updated tests. Updated readme
  src/readme.graph.md
  tools/Custom/JsonExtensions.cs
  tools/Tests/JsonUtilitiesTest/JsonExtensionsTests.cs
Due: none

Updated file based on review feedback
  tools/Custom/JsonExtensions.cs
Due: none

Rectified error
  tools/Custom/JsonExtensions.cs
Due: none

Handled regex for Microsoft .Graph.Beta.*
  src/readme.graph.md
Due: none

Testing with failing security module first
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Made jsonExtension file generic by specifying a namespace place holder to cover both beta and v1.0 endpoints
  tools/Custom/JsonExtensions.cs
  tools/Tests/JsonUtilitiesTest/JsonExtensionsTests.cs
Due: none

Reenabled the other modules
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

adding "-AT PoP" option to "Set-MgGraphOptions"
  docs/AT-Pop.md
  docs/authentication.md
  src/Authentication/Authentication.Core/Common/GraphSession.cs
  src/Authentication/Authentication.Core/Interfaces/IGraphOptions.cs
  src/Authentication/Authentication.Core/Interfaces/IGraphRequestPopContext.cs
  src/Authentication/Authentication.Core/Interfaces/IGraphSession.cs
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Cmdlets/SetMgGraphOption.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Handlers/AuthenticationHandler.cs
  src/Authentication/Authentication/Models/GraphOption.cs
  src/Authentication/Authentication/Models/GraphRequestPopContext.cs
  src/Authentication/Authentication/test/Get-MgGraphOption.Tests.ps1
  src/Authentication/Authentication/test/Set-MgGraphOption.Tests.ps1
  src/Authentication/docs/Get-MgGraphOption.md
  src/Authentication/docs/Set-MgGraphOption.md
  src/Authentication/examples/Set-MgGraphOption.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated error message
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

resolving issues with PS 7.4.4
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Resolving comments regarding static instance
  src/Authentication/Authentication.Core/Interfaces/IGraphRequestPopContext.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Handlers/AuthenticationHandler.cs
  src/Authentication/Authentication/Models/GraphRequestPopContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated expected message
  src/Authentication/docs/Connect-MgGraph.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Fixed pester test expected messages
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Rolled back devicemanagement to the one that 2.19.0 had.
  openApiDocs/beta/DeviceManagement.Actions.yml
Due: none

Updating docs
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
  src/Authentication/docs/Connect-MgGraph.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove sorting by unique name because it omits permissions with the same name but different permission type
  tools/PostGeneration/NewCommandMetadata.ps1
Due: none

Updated replace and remove slashes
  tools/Custom/JsonExtensions.cs
  tools/Tests/JsonUtilitiesTest/JsonExtensionsTests.cs
Due: none
