Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Updated file
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Isolated Devices Management Actions and Enrollment module from being generated due to potential duplicates in cmdlet names
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updated directives
  src/Devices.CorporateManagement/Devices.CorporateManagement.md
Due: none

Removed duplicate operation id
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Mail/Mail.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
Due: none

Updated directive to remove duplicate
  src/Mail/Mail.md
Due: none

Updated calendar module
  openApiDocs/v1.0/Calendar.yml
Due: none

Renamed operation ids for testing
  openApiDocs/v1.0/Notes.yml
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Program.cs
Due: none

Updated sites file
  tools/DownloadOpenApiDoc.ps1
  tools/PostGeneration/NewCommandMetadata.ps1
Due: none

Updated sites file
  openApiDocs/v1.0/Sites.yml
Due: none

Updated to torus endpoint
  tools/DownloadOpenApiDoc.ps1
  tools/PostGeneration/NewCommandMetadata.ps1
Due: none

Updated sites operation id
  docs/OpenApiInfo/v1.0/duplicateOperationIds.csv
  openApiDocs/v1.0/Sites.yml
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/DeviceManagement.Actions/beta/examples/Add-MgBetaDeviceManagementVirtualEndpointProvisioningPolicy.md
Due: none

Updated experiment file
  tools/DownloadOpenApiDoc.ps1
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Program.cs
  tools/TweakOpenApi.ps1
Due: none

Added directory module
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updated the open Api tweak
  tools/TweakOpenApi.ps1
Due: none

Added Directory API file
  openApiDocs/beta/Directory.yml
Due: none

Changed tag to be included in DirectoryObjects because the word Directory is a reserved word and it causes build errors
  openApiDocs/beta/Directory.yml
Due: none

Updated Directory Objects file and version
  config/ModuleMetadata.json
  config/ModulesMapping.jsonc
  openApiDocs/beta/DirectoryObjects.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Added functionality for generating report for newly added paths and methods
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Program.cs
  tools/TweakOpenApi.ps1
Due: none

Rolled back tweak open Api file
  tools/TweakOpenApi.ps1
Due: none

Handling of OR preposition needs to be reviewed
  tools/TweakOpenApi.ps1
Due: none

Update CONTRIBUTING.md - fixing link
  CONTRIBUTING.md
Due: none

Updated Exo file
  openApiDocs/v1.0/ExoUser.yml
Due: none

Rolled back devicemanagement to the one that 2.19.0 had.
  openApiDocs/beta/DeviceManagement.Actions.yml
Due: none

Fixed pester test expected messages
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

adding "-AT PoP" option to "Set-MgGraphOptions"
  docs/AT-Pop.md
  docs/authentication.md
  src/Authentication/Authentication.Core/Common/GraphSession.cs
  src/Authentication/Authentication.Core/Interfaces/IGraphOptions.cs
  src/Authentication/Authentication.Core/Interfaces/IGraphRequestPopContext.cs
  src/Authentication/Authentication.Core/Interfaces/IGraphSession.cs
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Cmdlets/SetMgGraphOption.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Handlers/AuthenticationHandler.cs
  src/Authentication/Authentication/Models/GraphOption.cs
  src/Authentication/Authentication/Models/GraphRequestPopContext.cs
  src/Authentication/Authentication/test/Get-MgGraphOption.Tests.ps1
  src/Authentication/Authentication/test/Set-MgGraphOption.Tests.ps1
  src/Authentication/docs/Get-MgGraphOption.md
  src/Authentication/docs/Set-MgGraphOption.md
  src/Authentication/examples/Set-MgGraphOption.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Resolving comments regarding static instance
  src/Authentication/Authentication.Core/Interfaces/IGraphRequestPopContext.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Handlers/AuthenticationHandler.cs
  src/Authentication/Authentication/Models/GraphRequestPopContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

resolving issues with PS 7.4.4
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated expected message
  src/Authentication/docs/Connect-MgGraph.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml
