Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Update windowsUpdates tags in module mapping.
  config/ModulesMapping.jsonc
  openApiDocs/beta/WindowsUpdates.yml
  src/WindowsUpdates/WindowsUpdates.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Update windows updates tags in module mapping.
  config/ModulesMapping.jsonc
  src/WindowsUpdates/WindowsUpdates/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Remove duplicate undocumented paths in Identity.SignIns.
  src/Identity.SignIns/Identity.SignIns.md
Due: none

Remove duplicate undocumented paths in Identity.SignIns.
  src/Identity.SignIns/Identity.SignIns/readme.md
Due: none

Add migration module.
  src/Tools.Migration/Microsoft.Graph.Tools.Migration.psd1
  src/Tools.Migration/Microsoft.Graph.Tools.Migration.psm1
Due: none

Update AccessPackageAnswer type in beta.
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementAccessPackageAssignment.ps1
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementAccessPackageAssignmentRequest.ps1
Due: none

Use overrideOn2Xx when dowloading files. (#1800)
  src/readme.graph.md
  tools/Custom/PSCmdletExtensions.cs
Due: none

Unescape filter values.
  src/readme.graph.md
  tools/Custom/PSCmdletExtensions.cs
Due: none

Enable generation of /alerts_v2 commands.
  src/Security/Security.md
Due: none

rename to legacy and caching file read
  src/Authentication/Authentication.Core/Common/GraphSession.cs
  src/Authentication/Authentication/custom/Find-MgGraphCommand.ps1
  src/Authentication/Authentication/custom/common/GraphCommand.ps1
  src/Authentication/Authentication/custom/common/MgLegacyCommandMapping.json
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

fix legacy mapping for cmd with multiple mappings
  src/Authentication/Authentication/custom/Find-MgGraphCommand.ps1
  src/Authentication/Authentication/custom/common/GraphCommand.ps1
  src/Authentication/Authentication/custom/common/MgLegacyCommandMapping.json
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Enable generation of /alerts_v2 commands. (#1827)
  src/Security/Security.md
Due: none

Unescape filter values. (#1826)
  src/readme.graph.md
  tools/Custom/PSCmdletExtensions.cs
Due: none

Adds AzureIdentityAuthProvider for handling claims.
  src/Authentication/Authentication.Core/Constants.cs
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Core/Utilities/AzureIdentityAuthProvider.cs
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Utilities/DependencyAssemblyResolver.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Scan scripts and write output to a table detailing the required changes
  src/Tools.Migration/Microsoft.Graph.Tools.Migration.psm1
Due: none

Changed title message for the output table
  src/Tools.Migration/Microsoft.Graph.Tools.Migration.psm1
Due: none

Added -GraphProfile on the commented script call example
  src/Tools.Migration/Microsoft.Graph.Tools.Migration.psm1
Due: none

Updated profile check scenarios
  src/Tools.Migration/Microsoft.Graph.Tools.Migration.psm1
Due: none

Removed camel cases
  src/Tools.Migration/Microsoft.Graph.Tools.Migration.psm1
Due: none

Added support for recreating scripts
  src/Tools.Migration/Microsoft.Graph.Tools.Migration.psm1
Due: none

Added pester tests
  samples/10-RandomProfileChanges.ps1
  src/Tools.Migration/Microsoft.Graph.Tools.Migration.psm1
  src/Tools.Migration/test/Microsoft.Graph.Tools.Migration.Tests.ps1
Due: none

Added more columns to the output table
  src/Tools.Migration/Microsoft.Graph.Tools.Migration.psm1
Due: none

Added help file
  src/Tools.Migration/Microsoft.Graph.Tools.Migration-help.xml
  src/Tools.Migration/help/New-MgMigrationPlan.md
Due: none

Updated markdown
  src/Tools.Migration/Microsoft.Graph.Tools.Migration-help.xml
  src/Tools.Migration/help/New-MgMigrationPlan.md
Due: none

Internally decode JWT.
  src/Authentication/Authentication.Core/Models/JwtContent.cs
  src/Authentication/Authentication.Core/Utilities/JwtHelpers.cs
  src/Authentication/Authentication.Core/Utilities/UserProvidedTokenCredential.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added tests for commented profile switch
  samples/11-CommentedOutProfileChanges.ps1
  src/Tools.Migration/Microsoft.Graph.Tools.Migration.psm1
  src/Tools.Migration/test/Microsoft.Graph.Tools.Migration.Tests.ps1
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
