Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Remove unused variable. Exclude Example Templates for ServiceModule Generation.
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  .azure-pipelines/generation-templates/generate-service-modules.yml
Due: none

Improving output to nrea-final output format
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/custom/FindMgGraph_Permission.ps1
  src/Authentication/Authentication/custom/common/Permissions.ps1
  src/Authentication/Authentication/custom/common/datasample.json
  src/Authentication/Authentication/custom/testbench.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add virtualEndpoint to ModuleMapping. Remove cmdlets that are not supported.
  config/ModulesMapping.jsonc
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Revert back to used variable. Handle issue when no modules to generate are passed.
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  tools/GenerateHelp.ps1
Due: none

Test Module.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Incorrect default value
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  tools/GenerateHelp.ps1
Due: none

introduce variables.
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

default value
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

Revert to old format
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

old help gen
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

Full build
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Delete Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated to include the changes requested by Adam
  src/Authentication/Authentication/custom/common/Permissions.ps1
  src/Authentication/Authentication/test/Find-MgGraphPermission.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

v2.0
  src/Authentication/Authentication/custom/testbench.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

bad indentation.
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

Test help change
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

param error
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

Help docs detects changed modules internally.
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  .azure-pipelines/generation-templates/generate-service-modules.yml
Due: none

Added examples for the cmdlets
  src/Applications/Applications/examples/v1.0-beta/New-MgServicePrincipal.md
  src/Applications/Applications/examples/v1.0/New-MgServicePrincipal.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Get-MgContact.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Get-MgDomain.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/New-MgDirectoryRoleMemberByRef.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/Get-MgContact.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/Get-MgDomain.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/New-MgDirectoryRoleMemberByRef.md
Due: none

Add virtualEndpoint to ModuleMapping. (#734)
  config/ModulesMapping.jsonc
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Minor changes and scrubbing organizational filters
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication/custom/FindMgGraph_Permission.ps1
  src/Authentication/Authentication/custom/common/Permissions.ps1
  src/Authentication/Authentication/custom/common/datasample.json
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Reverting
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

variable casing.
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  .azure-pipelines/generation-templates/generate-service-modules.yml
Due: none

n>1
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

check validation.
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

exclude empty entries.
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

Small module generation.
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Build and generate docs for all modules.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Added more examples
  src/Groups/Groups/examples/v1.0-beta/Update-MgGroup.md
  src/Groups/Groups/examples/v1.0/Update-MgGroup.md
  src/Users/Users/examples/v1.0-beta/Set-MgUserManagerByRef.md
  src/Users/Users/examples/v1.0/Set-MgUserManagerByRef.md
Due: none

change error action preference.
  tools/GenerateHelp.ps1
Due: none

Add command metadata to assets.
  assets/MgCommandMetadata.json
  tools/PostGeneration/NewCommandMetadata.ps1
Due: none

Fetch permissions from DexAPI.
  tools/PostGeneration/NewCommandMetadata.ps1
Due: none

skip platyps.
  tools/GenerateHelp.ps1
Due: none

Minor generation.
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  config/ModulesMapping.jsonc
  tools/GenerateHelp.ps1
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

commit issue.
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
