Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Reenabled other modules
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Catered for "in" operator with + character that was being replaced with a space
  tools/Custom/PSCmdletExtensions.cs
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/DeviceManagement.Functions/beta/examples/Get-MgBetaDeviceManagementVirtualEndpointCloudPcProvisionedCloudPc.md
Due: none

Added directive to remove duplicate cmdlet
  src/Calendar/Calendar.md
Due: none

Updated agent name from 1es-windows-ps-compute to 1es-windows-ps-compute-m
  .azure-pipelines/ci-build.yml
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  .azure-pipelines/weekly-generation.yml
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Security/beta/examples/Clear-MgBetaSecurityCaseEdiscoveryCaseSearchData.md
  src/Security/v1.0/examples/Clear-MgSecurityCaseEdiscoveryCaseSearchData.md
Due: none

Fix conjunction problems causing build errors due to duplicates
  src/readme.graph.md
  tools/TweakOpenApi.ps1
Due: none

Removed path by operation causing duplicate parameter types
  src/Devices.CorporateManagement/Devices.CorporateManagement.md
Due: none

Rolled back file
  openApiDocs/beta/DeviceManagement.Administration.yml
  openApiDocs/v1.0/DeviceManagement.Administration.yml
Due: none

Weekly OpenApiDocs Download.
  config/ModuleMetadata.json
Due: none

Rolled back beta version of DeviceManagement module
  openApiDocs/beta/DeviceManagement.yml
Due: none

For tests only
  config/ModulesMapping.jsonc
  openApiDocs/v1.0/ExoUser.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/Bookings/beta/examples/New-MgBetaVirtualEventWebinarRegistration.md
  src/BusinessScenario/beta/examples/Remove-MgBetaSolutionBusinessScenarioPlannerTask.md
  src/Education/beta/examples/Update-MgBetaEducationClassAssignmentSetting.md
  src/Identity.SignIns/beta/examples/New-MgBetaPolicyAppManagementPolicy.md
  src/Security/beta/examples/New-MgBetaSecurityCaseEdiscoveryCaseLegalHold.md
  src/Security/v1.0/examples/New-MgSecurityCaseEdiscoveryCaseCustodianUserSource.md
Due: none

Rolled back files flagged to cause potential breaking changes
  openApiDocs/beta/Devices.CorporateManagement.yml
  openApiDocs/v1.0/CloudCommunications.yml
  openApiDocs/v1.0/DeviceManagement.Administration.yml
  openApiDocs/v1.0/Groups.yml
  openApiDocs/v1.0/Identity.Governance.yml
  openApiDocs/v1.0/Reports.yml
Due: none

Updated alias
  src/readme.graph.md
Due: none

Changed module version to preview
  config/ModuleMetadata.json
Due: none

Corrected prerelease string
  config/ModuleMetadata.json
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Rolled back device.corporate management
  openApiDocs/beta/Devices.CorporateManagement.yml
  openApiDocs/v1.0/Devices.CorporateManagement.yml
Due: none

Rolled back education module
  openApiDocs/beta/Education.yml
  openApiDocs/v1.0/Education.yml
Due: none

Updated open API file and custom classes
  openApiDocs/v1.0/ExoUser.yml
  tools/Custom/HttpMessageLogFormatter.cs
  tools/Custom/PSCmdletExtensions.cs
Due: none

Updated file
  openApiDocs/v1.0/ExoUser.yml
Due: none

Testing education module only
  config/ModulesMapping.jsonc
  openApiDocs/beta/Education.yml
  openApiDocs/v1.0/Education.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Testing education module only
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Added directory objects module
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Added DevicesManagement.functions and Files modules
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Uncommented half of the modules
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml
