Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Rolled back device management
  openApiDocs/beta/DeviceManagement.yml
Due: none

Rolled back mail
  openApiDocs/beta/Mail.yml
  openApiDocs/v1.0/Mail.yml
Due: none

Removed inexistent mapping
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Rolled back notes
  config/ModulesMapping.jsonc
  openApiDocs/beta/Notes.yml
  openApiDocs/v1.0/Notes.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Rolled back beta reports
  openApiDocs/beta/Reports.yml
Due: none

Rolled back security open api files
  openApiDocs/beta/Security.yml
  openApiDocs/v1.0/Security.yml
Due: none

Narrowed troubleshooting scope
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Added directive to omit failing cmdlet in sites and narrowed down troubleshooing scope
  config/ModulesMapping.jsonc
  src/Sites/Sites.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

narrowed down troubleshooting scope by adding GroupSiteOnenoteNotebookSectionPage to sites directive
  config/ModulesMapping.jsonc
  openApiDocs/beta/DeviceManagement.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Narrowed down troubleshooting scope and added GroupSiteOnenoteNotebookSectionPage to exception directive because of errors
  config/ModulesMapping.jsonc
  src/Sites/Sites.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Corrected regex
  src/Sites/Sites.md
Due: none

Added Update-MgGroupSiteOnenotePage to exception list
  src/Sites/Sites.md
Due: none

Added GroupSiteOnenoteSectionGroupSectionPage to exception
  src/Sites/Sites.md
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Identity.Governance/beta/examples/Get-MgBetaEntitlementManagementAccessPackageAssignment.md
  src/Identity.Governance/beta/examples/Get-MgBetaEntitlementManagementAssignmentRequest.md
Due: none

Added GroupSiteOnenoteSectionPage to the exception list
  src/Sites/Sites.md
Due: none

Updated Mail directives
  config/ModulesMapping.jsonc
  openApiDocs/beta/Mail.yml
  openApiDocs/beta/Users.Actions.yml
  openApiDocs/v1.0/Mail.yml
  src/Mail/Mail.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Moved the backward compatibility alias implmentation to readme.graph.md. Updated reports file
  config/ModulesMapping.jsonc
  openApiDocs/beta/Reports.yml
  src/Teams/Teams.md
  src/Users.Actions/Users.Actions.md
  src/readme.graph.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Added problematic DeviceManagementReportCertificateReport to directive exception list
  src/Reports/Reports.md
Due: none

Updated security.md by adding directive to remove invalid path. Also updated notes file
  openApiDocs/beta/Notes.yml
  openApiDocs/v1.0/Notes.yml
  src/Security/Security.md
Due: none

Updated modules mapping file
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updated directives for sites and notes
  src/Notes/Notes.md
  src/Sites/Sites.md
Due: none

Added directive to remove invalid cmdlet GroupOnenoteNotebookSectionGroupSectionPage
  src/Notes/Notes.md
Due: none

Updated notes directive to remove problematic cmdlets failing to build
  src/Notes/Notes.md
Due: none

Updated mapping file
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Task: Bootstrap acr-push pipeline
  .azure-pipelines/acr-push.yml
Due: none

Refreshed Devices.Corporate management api files
  openApiDocs/beta/Devices.CorporateManagement.yml
  openApiDocs/v1.0/Devices.CorporateManagement.yml
  src/Devices.CorporateManagement/beta/readme.md
Due: none

Updated mapping config file
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updated mapping file
  config/ModulesMapping.jsonc
  src/Sites/Sites.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updated directives to remove overgenerated variants
  config/ModulesMapping.jsonc
  openApiDocs/beta/CloudCommunications.yml
  openApiDocs/beta/Sites.yml
  openApiDocs/v1.0/CloudCommunications.yml
  src/CloudCommunications/CloudCommunications.md
  src/Devices.CorporateManagement/Devices.CorporateManagement.md
  src/Devices.CorporateManagement/beta/readme.md
  src/Sites/Sites.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Uncommented tests and other modules. Also bumped SDK version
  config/ModuleMetadata.json
  config/ModulesMapping.jsonc
  openApiDocs/v1.0/DeviceManagement.Administration.yml
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Fixed formatting
  tools/ImportExamples.ps1
Due: none

Restricted number of CPUs used by autorest to 2 inorder to reduce number of threads used to process files
  tools/GenerateServiceModule.ps1
Due: none

Rolled back beta version of Devices.CorporateManagement.yml
  openApiDocs/beta/Devices.CorporateManagement.yml
Due: none

Updated beta version of Devices.CorporateManagement.yml
  config/ModulesMapping.jsonc
  openApiDocs/beta/Devices.CorporateManagement.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Re-enabled other modules
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updated autorest to use 1 cpu
  tools/GenerateServiceModule.ps1
Due: none

Isolating failing device.corporateManagement
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml
