Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Pluralizes known products.
  src/readme.graph.md
Due: none

Adds parameter completer for `-Period` in Reports module (#1956)
  src/Reports/Reports.md
  src/Reports/v1.0/test/Get-MgReportEmailActivityCount.Tests.ps1
  src/readme.graph.md
Due: none

Update sites directives.
  src/Devices.CorporateManagement/Devices.CorporateManagement.md
  src/Reports/Reports.md
  src/Sites/Sites.md
  src/Users.Actions/Users.Actions.md
  src/Users/Users.md
  src/readme.graph.md
Due: none

Add ODataId to required properties for update and create.
  src/Applications/beta/test/Update-MgBetaApplication.Tests.ps1
  src/Applications/v1.0/test/New-MgApplicationOwnerByRef.Tests.ps1
  src/Applications/v1.0/test/Update-MgApplication.Tests.ps1
  src/Users/v1.0/test/Set-MgUserManagerByRef.Tests.ps1
  src/readme.graph.md
Due: none

Stash
  src/Teams/beta/custom/GetMgBetaChatRscConfiguration_Get.cs
  src/Teams/beta/custom/GetMgBetaTeamAppPreApproval_Get.cs
  src/Teams/beta/custom/GetMgBetaTeamRscConfiguration_Get.cs
  src/Teams/beta/custom/HttpRequests/CreateGroupConsentSettingsRequest.cs
  src/Teams/beta/custom/HttpRequests/GetAuthorizationPolicyRequest.cs
  src/Teams/beta/custom/HttpRequests/GetTeamsAppSettingsRequest.cs
  src/Teams/beta/custom/HttpRequests/GetTenantConsentSettingsCollectionRequest.cs
  src/Teams/beta/custom/HttpRequests/UpdateDefaultUserRolePermissionGrantPoliciesAssignedRequest.cs
  src/Teams/beta/custom/HttpRequests/UpdateGroupConsentSettingsRequest.cs
  src/Teams/beta/custom/HttpRequests/UpdateTeamsAppSettingsRequest.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfiguration.PowerShell.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfiguration.TypeConverter.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfiguration.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfiguration.dictionary.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfiguration.json.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfigurationScopeType.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfigurationState.cs
  src/Teams/beta/custom/RscConfigurationConverter.cs
  src/Teams/beta/custom/SetMgBetaChatRscConfiguration_Update.cs
  src/Teams/beta/custom/SetMgBetaTeamRscConfiguration_Update.cs
  src/Teams/beta/custom/Teams.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalAuthorizationPolicy.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalDefaultUserRolePermissions.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalTenantConsentSettingValue.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalTenantConsentSettings.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalTenantConsentSettingsCollection.cs
Due: none

Fix pluralization of statistics
  src/Teams/Teams.md
  src/readme.graph.md
  tools/TweakOpenApi.ps1
Due: none

Increase coverage for groups APIs.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add ODataId to required properties for update and create. (#1967)
  src/Applications/beta/test/Update-MgBetaApplication.Tests.ps1
  src/Applications/v1.0/test/New-MgApplicationOwnerByRef.Tests.ps1
  src/Applications/v1.0/test/Update-MgApplication.Tests.ps1
  src/Users/v1.0/test/Set-MgUserManagerByRef.Tests.ps1
  src/readme.graph.md
Due: none

Run tests on build
  .azure-pipelines/generation-templates/workload-modules.yml
Due: none

Taking PR comments.
  src/Teams/beta/custom/GetMgBetaChatRscConfiguration_Get.cs
  src/Teams/beta/custom/GetMgBetaTeamRscConfiguration_Get.cs
  src/Teams/beta/custom/HttpRequests/CreateGroupConsentSettingsRequest.cs
  src/Teams/beta/custom/HttpRequests/GetGroupConsentSettingsTemplateRequest.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfigurationState.cs
  src/Teams/beta/custom/RscConfigurationSynthesizer.cs
  src/Teams/beta/custom/SetMgBetaChatRscConfiguration_Update.cs
  src/Teams/beta/custom/SetMgBetaTeamRscConfiguration_Update.cs
  src/Teams/beta/custom/Teams.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalDirectorySettingTemplate.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalSettingTemplateValue.cs
Due: none

PR comments.
  src/Teams/beta/custom/HttpRequests/CreateGroupConsentSettingsRequest.cs
  src/Teams/beta/custom/SetMgBetaTeamRscConfiguration_Update.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalSettingTemplateValue.cs
Due: none

Adding custom cmdlets for RSC configuration (#1968)
  src/Teams/beta/custom/GetMgBetaChatRscConfiguration_Get.cs
  src/Teams/beta/custom/GetMgBetaTeamAppPreApproval_Get.cs
  src/Teams/beta/custom/GetMgBetaTeamRscConfiguration_Get.cs
  src/Teams/beta/custom/HttpRequests/CreateGroupConsentSettingsRequest.cs
  src/Teams/beta/custom/HttpRequests/GetAuthorizationPolicyRequest.cs
  src/Teams/beta/custom/HttpRequests/GetGroupConsentSettingsTemplateRequest.cs
  src/Teams/beta/custom/HttpRequests/GetTeamsAppSettingsRequest.cs
  src/Teams/beta/custom/HttpRequests/GetTenantConsentSettingsCollectionRequest.cs
  src/Teams/beta/custom/HttpRequests/UpdateDefaultUserRolePermissionGrantPoliciesAssignedRequest.cs
  src/Teams/beta/custom/HttpRequests/UpdateGroupConsentSettingsRequest.cs
  src/Teams/beta/custom/HttpRequests/UpdateTeamsAppSettingsRequest.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfiguration.PowerShell.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfiguration.TypeConverter.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfiguration.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfiguration.dictionary.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfiguration.json.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfigurationScopeType.cs
  src/Teams/beta/custom/MicrosoftGraphRscConfigurationState.cs
  src/Teams/beta/custom/RscConfigurationSynthesizer.cs
  src/Teams/beta/custom/SetMgBetaChatRscConfiguration_Update.cs
  src/Teams/beta/custom/SetMgBetaTeamRscConfiguration_Update.cs
  src/Teams/beta/custom/Teams.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalAuthorizationPolicy.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalDefaultUserRolePermissions.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalDirectorySettingTemplate.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalSettingTemplateValue.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalTenantConsentSettingValue.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalTenantConsentSettings.cs
  src/Teams/beta/custom/TeamsInternalModels/MGTeamsInternalTenantConsentSettingsCollection.cs
Due: none

Add group settings templates coverage in v1.
  config/ModulesMapping.jsonc
  openApiDocs/v1.0/Groups.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Added windowsQualityUpdateProfile Api
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add group settings templates coverage in v1. (#1991)
  config/ModulesMapping.jsonc
  openApiDocs/v1.0/Groups.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add $ to to OData query parameters
  src/Authentication/Authentication.Test/Handlers/ODataQueryOptionsHandlerTests.cs
  src/Authentication/Authentication/Handlers/ODataQueryOptionsHandler.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add default output view for orgnanization
  src/readme.graph.default.output.md
  src/readme.graph.md
Due: none

Updated generator script
  tools/ExamplesGenerator.ps1
Due: none

Add $ to to OData query parameters (#1993)
  src/Authentication/Authentication.Test/Handlers/ODataQueryOptionsHandlerTests.cs
  src/Authentication/Authentication/Handlers/ODataQueryOptionsHandler.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add directive for default calendar
  src/Calendar/Calendar.md
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
