Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

- add Roslyn Analyzers for each module type generation
  .azure-pipelines/generation-templates/authentication-module.yml
  .azure-pipelines/generation-templates/meta-module.yml
  .azure-pipelines/generation-templates/workload-modules.yml
Due: none

Updated default branch from features/2.0 to dev
  .azure-pipelines/common-templates/create-pr.yml
  config/ModuleMetadata.json
Due: none

Updated to dev
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated icon url
  src/Applications/beta/Microsoft.Graph.Beta.Applications.psd1
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update default branch from features/2.0 to dev (#2267)
  .azure-pipelines/common-templates/create-pr.yml
  config/ModuleMetadata.json
  src/Applications/beta/Microsoft.Graph.Beta.Applications.psd1
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updating examples
  src/CloudCommunications/v1.0/examples/Invoke-MgInviteCommunicationCallParticipant.md
Due: none

Updating examples (#2275)
  src/CloudCommunications/v1.0/examples/Invoke-MgInviteCommunicationCallParticipant.md
Due: none

chore: Use msBuildInfo
  .azure-pipelines/common-templates/guardian-analyzer.yml
  .azure-pipelines/generation-templates/authentication-module.yml
Due: none

chore: Run dotnet build command line
  .azure-pipelines/common-templates/guardian-analyzer.yml
  .azure-pipelines/generation-templates/authentication-module.yml
  src/Authentication/Authentication.Core/Properties/AssemblyInfo.cs
  src/Authentication/Authentication/Properties/AssemblyInfo.cs
  tools/GenerateAuthenticationModule.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

chore: Run analysis after build & sign
  .azure-pipelines/generation-templates/authentication-module.yml
Due: none

Adds support for windowsQualityUpdateProfiles API
  config/ModulesMapping.jsonc
  openApiDocs/beta/DeviceManagement.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add partner information path
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Escaped dot operator
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Update Roslyn analyzer task (#2281)
  .azure-pipelines/common-templates/guardian-analyzer.yml
  .azure-pipelines/generation-templates/authentication-module.yml
  src/Authentication/Authentication.Core/Properties/AssemblyInfo.cs
  src/Authentication/Authentication/Properties/AssemblyInfo.cs
  tools/GenerateAuthenticationModule.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

chore: Resolve duplicate command in Users.Functions
  .azure-pipelines/generation-templates/workload-modules.yml
  src/Users.Functions/Users.Functions.md
  tools/PostGeneration/FindDuplicateCommand.ps1
Due: none

Rename SECURITY.md to SECURITY.mdk
  SECURITY.mdk
Due: none

Rename dependabot.yml to dependabot.ymll
  .github/dependabot.ymll
Due: none

- maps errors to 4XX
  openApiDocs/v1.0/Mail.yml
Due: none

Updating examples
  src/Teams/beta/examples/Get-MgBetaAllTeamChannel.md
  src/Teams/beta/examples/Get-MgBetaChatMember.md
  src/Teams/beta/examples/Get-MgBetaChatPermissionGrant.md
  src/Teams/beta/examples/Get-MgBetaGroupTeamPermissionGrant.md
  src/Teams/v1.0/examples/Get-MgAllTeamChannel.md
Due: none

Updating examples (#2294)
  src/Teams/beta/examples/Get-MgBetaAllTeamChannel.md
  src/Teams/beta/examples/Get-MgBetaChatMember.md
  src/Teams/beta/examples/Get-MgBetaChatPermissionGrant.md
  src/Teams/beta/examples/Get-MgBetaGroupTeamPermissionGrant.md
  src/Teams/v1.0/examples/Get-MgAllTeamChannel.md
Due: none

Updating examples
  src/Security/beta/examples/Get-MgBetaSecuritySubjectRightsRequestNote.md
  src/Security/beta/examples/New-MgBetaSecuritySubjectRightsRequestNote.md
Due: none

Removed comment based help . Added scripts for generating examples and docs
  src/Authentication/Authentication/custom/Find-MgGraphCommand.ps1
  src/Authentication/Authentication/custom/Find-MgGraphPermission.ps1
  tools/GenerateAuthenticationExampleFiles.ps1
  tools/ImportAuthenticationExamples.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added script for generating markdown file
  tools/AuthenticationMarkdown.ps1
Due: none

Updated help file urls
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/DisconnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/Environment/AddMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/Environment/GetMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/Environment/RemoveMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/Environment/SetMgEnvironment.cs
  src/Authentication/Authentication/Cmdlets/GetMGContext.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added help uri to script custom cmdlets
  src/Authentication/Authentication/custom/Find-MgGraphCommand.ps1
  src/Authentication/Authentication/custom/Find-MgGraphPermission.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml
