Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Updated error message
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated file
  openApiDocs/v1.0/ExoUser.yml
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  tools/Custom/HttpMessageLogFormatter.cs
  tools/Custom/PSCmdletExtensions.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Weekly OpenApiDocs Download.
  config/ModuleMetadata.json
Due: none

Enable publish to pop feed
  .azure-pipelines/weekly-generation.yml
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/Identity.DirectoryManagement/v1.0/examples/New-MgDirectoryAdministrativeUnit.md
  src/Identity.DirectoryManagement/v1.0/examples/Update-MgDirectoryAdministrativeUnit.md
  src/Identity.Governance/beta/examples/New-MgBetaEntitlementManagementConnectedOrganization.md
  src/Identity.Governance/v1.0/examples/New-MgEntitlementManagementConnectedOrganization.md
  src/Identity.SignIns/beta/examples/New-MgBetaPolicyAppManagementPolicy.md
  src/Identity.SignIns/v1.0/examples/New-MgPolicyAppManagementPolicy.md
  src/Security/beta/examples/New-MgBetaSecurityAttackSimulation.md
  src/Security/v1.0/examples/New-MgSecurityAttackSimulation.md
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
Due: none

Fix minor typo in Dockerfile
  Dockerfile
Due: none

Re enabled generation of Get cmdlets for attackSimulation.
  src/Security/Security.md
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/DeviceManagement.Administration/beta/examples/New-MgBetaDeviceManagementVirtualEndpointUserSetting.md
  src/DeviceManagement.Administration/beta/examples/Update-MgBetaDeviceManagementVirtualEndpointUserSetting.md
  src/Identity.DirectoryManagement/beta/examples/Restore-MgBetaDirectoryDeletedItem.md
  src/Reports/beta/examples/Get-MgBetaAuditLogDirectoryAudit.md
  src/Reports/v1.0/examples/Get-MgAuditLogDirectoryAudit.md
  src/Teams/beta/examples/New-MgBetaTeam.md
  src/Teams/v1.0/examples/New-MgTeamScheduleOpenShift.md
  src/Teams/v1.0/examples/New-MgTeamScheduleShift.md
  src/Teams/v1.0/examples/New-MgTeamScheduleTimeOff.md
  src/Teams/v1.0/examples/New-MgTeamworkWorkforceIntegration.md
  src/Teams/v1.0/examples/Update-MgTeamworkWorkforceIntegration.md
Due: none

Drop unsupported net 6 and net 7
  .azure-pipelines/common-templates/install-tools.yml
Due: none

Removed unnecessary '#' characters
  src/Applications/beta/examples/Get-MgBetaApplicationDelta.md
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/Bookings/beta/examples/Initialize-MgBetaBackupRestoreProtectionPolicy.md
  src/Bookings/beta/examples/Invoke-MgBetaDeactivateSolutionBackupRestoreProtectionPolicy.md
  src/Bookings/v1.0/examples/Invoke-MgDeactivateSolutionBackupRestoreProtectionPolicy.md
  src/CloudCommunications/beta/examples/New-MgBetaCommunicationCall.md
  src/CloudCommunications/v1.0/examples/New-MgCommunicationCall.md
  src/Identity.DirectoryManagement/beta/examples/Get-MgBetaDirectoryRoleDelta.md
  src/Identity.DirectoryManagement/v1.0/examples/Get-MgDirectoryRoleDelta.md
  src/Identity.Governance/beta/examples/Get-MgBetaEntitlementManagementAccessPackageAssignment.md
  src/Identity.Governance/beta/examples/Get-MgBetaEntitlementManagementAssignmentRequest.md
  src/Identity.Governance/beta/examples/Get-MgBetaRoleManagementDirectoryRoleAssignment.md
  src/Identity.Governance/beta/examples/Get-MgBetaRoleManagementDirectoryTransitiveRoleAssignment.md
  src/Identity.Governance/beta/examples/New-MgBetaRoleManagementDirectoryRoleAssignment.md
  src/Identity.Governance/v1.0/examples/Get-MgEntitlementManagementAssignment.md
  src/Identity.Governance/v1.0/examples/Get-MgEntitlementManagementAssignmentRequest.md
  src/Identity.Governance/v1.0/examples/Get-MgRoleManagementDirectoryRoleAssignment.md
  src/Identity.Governance/v1.0/examples/New-MgRoleManagementDirectoryRoleAssignment.md
  src/Identity.SignIns/beta/examples/Get-MgBetaServicePrincipalRiskDetection.md
  src/Identity.SignIns/v1.0/examples/Get-MgServicePrincipalRiskDetection.md
  src/Search/beta/examples/Set-MgBetaExternalConnectionItem.md
  src/Search/v1.0/examples/Set-MgExternalConnectionItem.md
  src/Teams/beta/examples/New-MgBetaChatMessage.md
  src/Teams/beta/examples/New-MgBetaTeamChannelMessage.md
  src/Teams/v1.0/examples/Get-MgChatInstalledApp.md
  src/Teams/v1.0/examples/New-MgChatMessage.md
  src/Teams/v1.0/examples/New-MgTeamChannelMessage.md
  tools/ImportExamples.ps1
Due: none

feat: add direct dependency on System.Text.Json
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated tags with functions and actions to adopt the new regex
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Rolled back cloud communications
  openApiDocs/beta/CloudCommunications.yml
  openApiDocs/v1.0/CloudCommunications.yml
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Identity.Governance/beta/examples/Get-MgBetaEntitlementManagementAccessPackageAssignment.md
  src/Identity.Governance/beta/examples/Get-MgBetaEntitlementManagementAssignmentRequest.md
Due: none

Updating module mapping to troubleshoot failing module
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updated test
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Disabled test
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Disabled failing test
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Troubleshooting failing module
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Commented out devices.corporate management
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Still troubleshooting failures
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Isolating device corporate manageement for troubleshooting
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Rolled back devices.corporate management beta version
  config/ModulesMapping.jsonc
  openApiDocs/beta/Devices.CorporateManagement.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

feat: migrate from newtonsoft to system.text.json
  src/Authentication/Authentication/Cmdlets/GetMgGraphOption.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Cmdlets/SetMgGraphOption.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Common/GraphSettings.cs
  src/Authentication/Authentication/Common/GraphSettingsConverter.cs
  src/Authentication/Authentication/Helpers/StringUtil.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Isolating DeviceManagement.Administration for analysis
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Rolled back DeviceManagement.Administration
  config/ModulesMapping.jsonc
  openApiDocs/beta/DeviceManagement.Administration.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml
