Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Updated target framework on test csproj file
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated target framework for test
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated system.runtime
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Downgraded target framework to 8.0
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
  src/Authentication/Authentication/build-module.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update target framework
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated expected result
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Rolled back to net6.0 as target framework because autorest uses net6 to build commandlets
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
  src/Authentication/Authentication/build-module.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Rolled back to net 8
  .azure-pipelines/common-templates/install-tools.yml
Due: none

Target net8.0
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
  src/Authentication/Authentication/build-module.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated decompression flags
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added directive to remove unnecessary response content
  src/Identity.SignIns/Identity.SignIns.md
Due: none

Added autorest directive to remove undocumented operation
  src/Identity.Governance/Identity.Governance.md
Due: none

Removes invalid teams path
  src/Teams/Teams.md
Due: none

Updates module mapping to add missing tag tenantRelationships.tenantRelationship.Functions
  config/ModulesMapping.jsonc
  openApiDocs/beta/Identity.DirectoryManagement.yml
  openApiDocs/v1.0/Identity.DirectoryManagement.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updates module mapping file to add missing tag olicies.deviceRegistrationPolicy
  config/ModulesMapping.jsonc
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/v1.0/Identity.SignIns.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updates module mapping file to add missing tag `me.authentication
  config/ModulesMapping.jsonc
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/v1.0/Identity.SignIns.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Removed duplicate
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Update tests
  config/ModulesMapping.jsonc
  src/Authentication/Authentication/test/Find-MgGraphCommand.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updated test
  src/Authentication/Authentication/test/Find-MgGraphCommand.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Removed misplaced operation Id in modules mapping file
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Update sites directive to remove patch operation for /sites/{site-id}/pages/{baseSitePage-id}
  src/Sites/Sites.md
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/Files/beta/examples/Copy-MgBetaDriveItem.md
  src/Identity.Governance/v1.0/examples/Get-MgEntitlementManagementAssignment.md
  src/Identity.Governance/v1.0/examples/Get-MgEntitlementManagementAssignmentRequest.md
Due: none

Updates default output for MicrosoftGraphDirectoryObject model properties
  src/readme.graph.default.output.md
Due: none

Added alias for application Id
  src/Applications/Applications.md
Due: none

Set alias for Update-MgUser to Set-MgUser
  src/readme.graph.md
Due: none

Added regex that ensures null valued properties are not omitted
  src/readme.graph.md
Due: none

Added JsonExtensions class
  src/readme.graph.md
  tools/Custom/JsonExtensions.cs
Due: none

Updated test to cinclude file from custom folder
  tools/Custom/JsonExtensions.cs
  tools/Tests/JsonUtilitiesTest/JsonExtensionsTests.cs
  tools/Tests/JsonUtilitiesTest/JsonUtilitiesTest.csproj
Due: none

Added tests to pipeline
  .azure-pipelines/generation-templates/authentication-module.yml
Due: none

Regenerate missing cmdlets under notes section
  config/ModulesMapping.jsonc
  src/Notes/Notes.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Checking Identintity.Governance
  config/ModulesMapping.jsonc
  src/Identity.Governance/Identity.Governance.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Removed conversion of empty strings to null
  tools/Custom/JsonExtensions.cs
  tools/Tests/JsonUtilitiesTest/JsonExtensionsTests.cs
Due: none

Updated directives for Calendar, DeviceManagement.Actions, Notes, Teams and Users.Functions
  src/Calendar/Calendar.md
  src/DeviceManagement.Actions/DeviceManagement.Actions.md
  src/Notes/Notes.md
  src/Teams/Teams.md
  src/Users.Functions/Users.Functions.md
Due: none
