Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Docs Generation for DeviceManagement.Administration [run ci]
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Microsoft.Graph.DeviceManagement.Administration.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/New-MgDeviceManagementGroupPolicyCategory.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/New-MgDeviceManagementGroupPolicyDefinition.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/New-MgDeviceManagementGroupPolicyDefinitionFile.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/New-MgDeviceManagementGroupPolicyDefinitionNextVersionDefinitionPresentation.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/New-MgDeviceManagementGroupPolicyDefinitionNextVersionDefinitionPreviouVersionDefinitionPresentation.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/New-MgDeviceManagementGroupPolicyDefinitionPresentation.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/New-MgDeviceManagementGroupPolicyDefinitionPreviouVersionDefinitionNextVersionDefinitionPresentation.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/New-MgDeviceManagementGroupPolicyDefinitionPreviouVersionDefinitionPresentation.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/New-MgDeviceManagementGroupPolicyUploadedDefinitionFile.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/New-MgDeviceManagementNdeConnector.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyCategory.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyDefinition.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyDefinitionFile.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyDefinitionNextVersionDefinition.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyDefinitionNextVersionDefinitionPresentation.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyDefinitionNextVersionDefinitionPreviouVersionDefinition.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyDefinitionNextVersionDefinitionPreviouVersionDefinitionPresentation.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyDefinitionPresentation.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyDefinitionPreviouVersionDefinition.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyDefinitionPreviouVersionDefinitionNextVersionDefinition.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyDefinitionPreviouVersionDefinitionNextVersionDefinitionPresentation.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyDefinitionPreviouVersionDefinitionPresentation.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyUploadedDefinitionFile.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementNdeConnector.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0/Microsoft.Graph.DeviceManagement.Administration.md
Due: none

Docs Generation for Devices.CloudPrint [run ci]
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Get-MgPrintServiceEndpoint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Microsoft.Graph.Devices.CloudPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/New-MgPrintConnector.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/New-MgPrintPrinterShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/New-MgPrintService.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/New-MgPrintServiceEndpoint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/New-MgPrintShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintConnector.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintPrinter.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintPrinterShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintService.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintServiceEndpoint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Get-MgPrintServiceEndpoint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Microsoft.Graph.Devices.CloudPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/New-MgPrintConnector.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/New-MgPrintService.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/New-MgPrintServiceEndpoint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/New-MgPrintShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Update-MgPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Update-MgPrintConnector.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Update-MgPrintPrinter.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Update-MgPrintService.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Update-MgPrintServiceEndpoint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Update-MgPrintShare.md
Due: none

Docs Generation for Bookings [run ci]
  src/Bookings/Bookings/docs/v1.0-beta/Get-MgBookingBusiness.md
  src/Bookings/Bookings/docs/v1.0-beta/Get-MgBookingCurrency.md
  src/Bookings/Bookings/docs/v1.0-beta/Microsoft.Graph.Bookings.md
  src/Bookings/Bookings/docs/v1.0-beta/Remove-MgBookingBusiness.md
  src/Bookings/Bookings/docs/v1.0-beta/Update-MgBookingBusiness.md
  src/Bookings/Bookings/docs/v1.0/Microsoft.Graph.Bookings.md
Due: none

Docs Generation for Identity.Governance [run ci]
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Microsoft.Graph.Identity.Governance.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/New-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignment.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignmentPolicy.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignmentRequest.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/New-MgEntitlementManagementAccessPackageCatalog.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Select-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Select-MgEntitlementManagementAccessPackageAssignmentPolicy.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Update-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Update-MgEntitlementManagementAccessPackageAssignment.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Update-MgEntitlementManagementAccessPackageAssignmentPolicy.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Update-MgEntitlementManagementAccessPackageAssignmentRequest.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Update-MgEntitlementManagementAccessPackageCatalog.md
  src/Identity.Governance/Identity.Governance/docs/v1.0/Microsoft.Graph.Identity.Governance.md
Due: none

Docs Generation for SchemaExtensions [run ci]
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Get-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Microsoft.Graph.SchemaExtensions.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Update-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Get-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Microsoft.Graph.SchemaExtensions.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Update-MgSchemaExtension.md
Due: none

Docs Generation for Devices.CorporateManagement [run ci]
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Microsoft.Graph.Devices.CorporateManagement.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgUserManagedDevice.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgUserManagedDevice.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/Microsoft.Graph.Devices.CorporateManagement.md
Due: none

Docs Generation for Applications [run ci]
  src/Applications/Applications/docs/v1.0-beta/Microsoft.Graph.Applications.md
  src/Applications/Applications/docs/v1.0-beta/New-MgApplication.md
  src/Applications/Applications/docs/v1.0-beta/New-MgApplicationExtensionProperty.md
  src/Applications/Applications/docs/v1.0-beta/New-MgApplicationFederatedIdentityCredential.md
  src/Applications/Applications/docs/v1.0-beta/New-MgOnPremisePublishingProfile.md
  src/Applications/Applications/docs/v1.0-beta/New-MgOnPremisePublishingProfileConnector.md
  src/Applications/Applications/docs/v1.0-beta/New-MgOnPremisePublishingProfileConnectorGroup.md
  src/Applications/Applications/docs/v1.0-beta/New-MgServicePrincipal.md
  src/Applications/Applications/docs/v1.0-beta/Update-MgApplication.md
  src/Applications/Applications/docs/v1.0-beta/Update-MgApplicationExtensionProperty.md
  src/Applications/Applications/docs/v1.0-beta/Update-MgApplicationFederatedIdentityCredential.md
  src/Applications/Applications/docs/v1.0-beta/Update-MgOnPremisePublishingProfile.md
  src/Applications/Applications/docs/v1.0-beta/Update-MgOnPremisePublishingProfileConnector.md
  src/Applications/Applications/docs/v1.0-beta/Update-MgOnPremisePublishingProfileConnectorGroup.md
  src/Applications/Applications/docs/v1.0-beta/Update-MgServicePrincipal.md
  src/Applications/Applications/docs/v1.0/Microsoft.Graph.Applications.md
  src/Applications/Applications/docs/v1.0/New-MgApplication.md
  src/Applications/Applications/docs/v1.0/New-MgApplicationExtensionProperty.md
  src/Applications/Applications/docs/v1.0/New-MgApplicationFederatedIdentityCredential.md
  src/Applications/Applications/docs/v1.0/New-MgServicePrincipal.md
  src/Applications/Applications/docs/v1.0/Update-MgApplication.md
  src/Applications/Applications/docs/v1.0/Update-MgApplicationExtensionProperty.md
  src/Applications/Applications/docs/v1.0/Update-MgApplicationFederatedIdentityCredential.md
  src/Applications/Applications/docs/v1.0/Update-MgServicePrincipal.md
Due: none

Docs Generation for DeviceManagement.Actions [run ci]
  src/DeviceManagement.Actions/DeviceManagement.Actions/docs/v1.0-beta/Invoke-MgDownloadDeviceManagementComanagedDeviceAppDiagnostic.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/docs/v1.0-beta/Invoke-MgDownloadDeviceManagementManagedDeviceAppDiagnostic.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/docs/v1.0-beta/Microsoft.Graph.DeviceManagement.Actions.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/docs/v1.0-beta/Update-MgDeviceManagementGroupPolicyConfigurationMultipleDefinitionValue.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/docs/v1.0/Microsoft.Graph.DeviceManagement.Actions.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/examples/v1.0-beta/Invoke-MgDownloadDeviceManagementComanagedDeviceAppDiagnostic.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/examples/v1.0-beta/Invoke-MgDownloadDeviceManagementManagedDeviceAppDiagnostic.md
Due: none

Docs Generation for Groups [run ci]
  src/Groups/Groups/docs/v1.0-beta/Add-MgGroupSite.md
  src/Groups/Groups/docs/v1.0-beta/Microsoft.Graph.Groups.md
  src/Groups/Groups/docs/v1.0-beta/New-MgGroup.md
  src/Groups/Groups/docs/v1.0-beta/New-MgGroupDriveItemLink.md
  src/Groups/Groups/docs/v1.0-beta/New-MgUserJoinedGroup.md
  src/Groups/Groups/docs/v1.0-beta/Remove-MgGroupSite.md
  src/Groups/Groups/docs/v1.0-beta/Update-MgGroup.md
  src/Groups/Groups/docs/v1.0/Add-MgGroupSite.md
  src/Groups/Groups/docs/v1.0/Microsoft.Graph.Groups.md
  src/Groups/Groups/docs/v1.0/New-MgGroup.md
  src/Groups/Groups/docs/v1.0/New-MgGroupDriveItemLink.md
  src/Groups/Groups/docs/v1.0/Remove-MgGroupSite.md
  src/Groups/Groups/docs/v1.0/Update-MgGroup.md
Due: none

Docs Generation for Education [run ci]
  src/Education/Education/docs/v1.0-beta/Microsoft.Graph.Education.md
  src/Education/Education/docs/v1.0-beta/New-MgEducationClass.md
  src/Education/Education/docs/v1.0-beta/New-MgEducationSchool.md
  src/Education/Education/docs/v1.0-beta/New-MgEducationUser.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationClass.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationMe.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationRoot.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationSchool.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationUser.md
  src/Education/Education/docs/v1.0/Microsoft.Graph.Education.md
  src/Education/Education/docs/v1.0/New-MgEducationClass.md
  src/Education/Education/docs/v1.0/New-MgEducationSchool.md
  src/Education/Education/docs/v1.0/New-MgEducationUser.md
  src/Education/Education/docs/v1.0/Update-MgEducationClass.md
  src/Education/Education/docs/v1.0/Update-MgEducationMe.md
  src/Education/Education/docs/v1.0/Update-MgEducationRoot.md
  src/Education/Education/docs/v1.0/Update-MgEducationSchool.md
  src/Education/Education/docs/v1.0/Update-MgEducationUser.md
Due: none

Docs Generation for Users.Actions [run ci]
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Invoke-MgDownloadUserManagedDeviceAppDiagnostic.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Invoke-MgExtractUserSecurityInformationProtectionSensitivityLabelContentLabel.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Invoke-MgPreviewUserDriveRoot.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Microsoft.Graph.Users.Actions.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/New-MgUserDriveRootLink.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Test-MgUserSecurityInformationProtectionSensitivityLabelApplication.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Test-MgUserSecurityInformationProtectionSensitivityLabelClassificationResult.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Test-MgUserSecurityInformationProtectionSensitivityLabelRemoval.md
  src/Users.Actions/Users.Actions/docs/v1.0/Invoke-MgPreviewUserDriveRoot.md
  src/Users.Actions/Users.Actions/docs/v1.0/Microsoft.Graph.Users.Actions.md
  src/Users.Actions/Users.Actions/docs/v1.0/New-MgUserTodoListTaskAttachmentUploadSession.md
  src/Users.Actions/Users.Actions/examples/v1.0-beta/Invoke-MgDownloadUserManagedDeviceAppDiagnostic.md
  src/Users.Actions/Users.Actions/examples/v1.0/New-MgUserTodoListTaskAttachmentUploadSession.md
Due: none

Docs Generation for Identity.DirectoryManagement [run ci]
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Get-MgDomain.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Microsoft.Graph.Identity.DirectoryManagement.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0/Get-MgDomain.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0/Microsoft.Graph.Identity.DirectoryManagement.md
Due: none

Docs Generation for DirectoryObjects [run ci]
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Microsoft.Graph.DirectoryObjects.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Microsoft.Graph.DirectoryObjects.md
Due: none

Docs Generation for Compliance [run ci]
  src/Compliance/Compliance/docs/v1.0-beta/Microsoft.Graph.Compliance.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCase.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodian.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodianSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodianUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHold.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHoldSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHoldUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgCompliance.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscovery.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCase.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodian.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodianSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodianUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHold.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHoldSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHoldUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0/Microsoft.Graph.Compliance.md
Due: none

Docs Generation for Reports [run ci]
  src/Reports/Reports/docs/v1.0-beta/Get-MgDeviceManagementReportExportJob.md
  src/Reports/Reports/docs/v1.0-beta/Microsoft.Graph.Reports.md
  src/Reports/Reports/docs/v1.0-beta/New-MgReportAuthenticationMethodUserRegistrationDetail.md
  src/Reports/Reports/docs/v1.0-beta/Update-MgDeviceManagementReport.md
  src/Reports/Reports/docs/v1.0-beta/Update-MgReportAuthenticationMethodUserRegistrationDetail.md
  src/Reports/Reports/docs/v1.0/Microsoft.Graph.Reports.md
Due: none

Added examples to the cmdlets (#1441)
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/Get-MgDomainFederationConfiguration.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/New-MgDomainFederationConfiguration.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/Remove-MgDomainFederationConfiguration.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/Update-MgDomainFederationConfiguration.md
Due: none

Updated file to handle non json responses
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update dependencies.
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Utilities/DependencyAssemblyResolver.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

AzDo Private Preview Pipeline (#1435)
  .azure-pipelines/ci-build.yml
  .azure-pipelines/common-templates/esrp/codesign-nuget.yml
  .azure-pipelines/common-templates/esrp/codesign.yml
  .azure-pipelines/common-templates/esrp/strongname.yml
  .azure-pipelines/common-templates/install-tools.yml
  .azure-pipelines/common-templates/security-post-checks.yml
  .azure-pipelines/common-templates/security-pre-checks.yml
  .azure-pipelines/generation-templates/authentication-module.yml
  .azure-pipelines/generation-templates/meta-module.yml
  .azure-pipelines/generation-templates/workload-modules.yml
  config/ModuleMetadata.json
  config/ModulesMapping.jsonc
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Financials/Financials.md
  src/Graph/beta/Microsoft.Graph.Beta.nuspec
  src/Graph/beta/Microsoft.Graph.Beta.psd1
  src/Graph/v1.0/Microsoft.Graph.nuspec
  src/Graph/v1.0/Microsoft.Graph.psd1
  src/Groups/Groups.md
  src/Identity.Governance/Identity.Governance.md
  src/Security/Security.md
  src/Users.Actions/Users.Actions.md
  tools/BuildModule.ps1
  tools/CSProjHelper.ps1
  tools/GenerateAuthenticationModule.ps1
  tools/GenerateMetaModule.ps1
  tools/GenerateModules.ps1
  tools/GenerateRollUpModule.ps1
  tools/ManageGeneratedModule.ps1
  tools/NuspecHelper.ps1
  tools/SetModuleVersion.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Use -ClientId for user-assigned identity.
  src/Authentication/Authentication.Core/Constants.cs
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Models/AuthContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update integrated-pipeline.yml
  .azure-pipelines/integrated-pipeline.yml
Due: none

Exclude `features/2.0` from integrated build
  .azure-pipelines/integrated-pipeline.yml
Due: none

Set AssemblyOriginatorKeyFile on core proj.
  tools/GenerateAuthenticationModule.ps1
Due: none

Refactored initial solution
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Exclude features branch (#1463)
  .azure-pipelines/integrated-pipeline.yml
Due: none

Exclude duplicated /identityProviders paths.
  src/Identity.SignIns/Identity.SignIns.md
Due: none

Added examples to CA cmdlets (#1320)
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Get-MgIdentityConditionalAccessNamedLocation.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Get-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/New-MgIdentityConditionalAccessNamedLocation.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/New-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Remove-MgIdentityConditionalAccessNamedLocation.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Remove-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Update-MgIdentityConditionalAccessNamedLocation.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Update-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/Get-MgIdentityConditionalAccessNamedLocation.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/Get-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/New-MgIdentityConditionalAccessNamedLocation.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/New-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/Remove-MgIdentityConditionalAccessNamedLocation.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/Remove-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/Update-MgIdentityConditionalAccessNamedLocation.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/Update-MgIdentityConditionalAccessPolicy.md
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
