Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Build all modules
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Create Github Action to Generate Docs PR
  .github/workflows/helpDocs.yml
Due: none

Create Github Action to Generate Docs PR (#750)
  .github/workflows/helpDocs.yml
Due: none

test docs.
  src/DeviceManagement.Administration/DeviceManagement.Administration/resources/readme.md
Due: none

Cleanup Workflows. Rename workflows appropriately.
  .github/workflows/generate-helpdocs-pr-workflow.yml
  .github/workflows/main.yml
  .github/workflows/weekly-openapidocs-download-workflow.yml
Due: none

Rename workflows appropriately.
  .github/workflows/generate-openapidocs-pr-workflow.yml
Due: none

Switch to Create instead of Generate.
  .github/workflows/create-helpdocs-pr-workflow.yml
  .github/workflows/create-openapidocs-pr-workflow.yml
Due: none

Cleanup Workflows naming scheme (#753)
  .github/workflows/create-helpdocs-pr-workflow.yml
  .github/workflows/create-openapidocs-pr-workflow.yml
  .github/workflows/main.yml
Due: none

Only create PR when Docs and Examples are changed. Handle assignedto.
  .github/workflows/create-helpdocs-pr-workflow.yml
  .github/workflows/create-openapidocs-pr-workflow.yml
Due: none

Revert filter
  .github/workflows/create-helpdocs-pr-workflow.yml
Due: none

Remove /scripts
  src/Authentication/Authentication/Scripts/FindMgCommand.ps1
  src/Authentication/Authentication/custom/FindMgGraphCommand.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Docs PR Assignment (#756)
  .github/workflows/create-helpdocs-pr-workflow.yml
  .github/workflows/create-openapidocs-pr-workflow.yml
Due: none

Check for PR Changes
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

improving current find-mggraph permissions function
  src/Authentication/Authentication/custom/FindMgGraph_Permission.ps1
  src/Authentication/Authentication/custom/common/Permissions.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Data Sample File
  src/Authentication/Authentication/build-module.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update Permissions.ps1
  src/Authentication/Authentication/custom/common/Permissions.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Docs Generation for Search [skip ci]
  src/Search/Search/docs/v1.0-beta/Get-MgExternalConnection.md
  src/Search/Search/docs/v1.0-beta/Get-MgSearchEntity.md
  src/Search/Search/docs/v1.0-beta/Invoke-MgQuerySearch.md
  src/Search/Search/docs/v1.0-beta/Microsoft.Graph.Search.md
  src/Search/Search/docs/v1.0-beta/New-MgExternalConnection.md
  src/Search/Search/docs/v1.0-beta/Update-MgExternal.md
  src/Search/Search/docs/v1.0-beta/Update-MgExternalConnection.md
  src/Search/Search/docs/v1.0-beta/Update-MgSearchEntity.md
  src/Search/Search/docs/v1.0/Get-MgSearchEntity.md
  src/Search/Search/docs/v1.0/Invoke-MgQuerySearch.md
  src/Search/Search/docs/v1.0/Microsoft.Graph.Search.md
  src/Search/Search/docs/v1.0/Update-MgSearchEntity.md
  src/Search/Search/examples/v1.0-beta/Get-MgSearchEntity.md
  src/Search/Search/examples/v1.0-beta/Update-MgSearchEntity.md
  src/Search/Search/examples/v1.0/Get-MgSearchEntity.md
  src/Search/Search/examples/v1.0/Invoke-MgQuerySearch.md
  src/Search/Search/examples/v1.0/Update-MgSearchEntity.md
Due: none

Docs Generation for DirectoryObjects [skip ci]
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Confirm-MgDirectoryObjectMemberGroup.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Confirm-MgDirectoryObjectMemberObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Get-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Get-MgDirectoryObjectById.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Get-MgDirectoryObjectMemberGroup.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Get-MgDirectoryObjectMemberObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Get-MgDirectoryObjectUserOwnedObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Microsoft.Graph.DirectoryObjects.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/New-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Remove-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Restore-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Test-MgDirectoryObjectProperty.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Update-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Confirm-MgDirectoryObjectMemberGroup.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Confirm-MgDirectoryObjectMemberObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObjectAvailableExtensionProperty.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObjectById.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObjectMemberGroup.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObjectMemberObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObjectMicrosoftGraphAdministrativeUnitDelta.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Microsoft.Graph.DirectoryObjects.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/New-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Remove-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Restore-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Test-MgDirectoryObjectProperty.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Update-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/examples/v1.0/Get-MgDirectoryObjectMicrosoftGraphAdministrativeUnitDelta.md
Due: none

Docs Generation for CrossDeviceExperiences [skip ci]
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivityHistoryItemActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Microsoft.Graph.CrossDeviceExperiences.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/New-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/New-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/New-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Set-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Update-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Update-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Update-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivityHistoryItemActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Microsoft.Graph.CrossDeviceExperiences.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/New-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/New-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Remove-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Remove-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Remove-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Set-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Update-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Update-MgUserActivityHistoryItem.md
Due: none

Docs Generation for SchemaExtensions [skip ci]
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Get-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Microsoft.Graph.SchemaExtensions.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/New-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Remove-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Update-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Get-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Microsoft.Graph.SchemaExtensions.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/New-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Remove-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Update-MgSchemaExtension.md
Due: none

Docs Generation for ChangeNotifications [skip ci]
  src/ChangeNotifications/ChangeNotifications/docs/v1.0-beta/Get-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0-beta/Microsoft.Graph.ChangeNotifications.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0-beta/New-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0-beta/Remove-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0-beta/Update-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0/Get-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0/Microsoft.Graph.ChangeNotifications.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0/New-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0/Remove-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0/Update-MgSubscription.md
Due: none

Update Add-MgApplicationKey.md
  src/Applications/Applications/docs/v1.0-beta/Add-MgApplicationKey.md
Due: none

Updated some file names
  src/Authentication/Authentication/custom/Find-MgGraphPermission.ps1
  src/Authentication/Authentication/custom/common/MSGraphServicePrincipalPermissions.json
  src/Authentication/Authentication/custom/common/Permissions.ps1
  src/Authentication/Authentication/test/Find-MgGraphPermission.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

made requested changes
  src/Authentication/Authentication/custom/common/Permissions.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

improved v0.2
  src/Authentication/Authentication/custom/common/Permissions.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add pending tests cases for Find-MgGraphPermission
  src/Authentication/Authentication/test/Find-MgGraphPermission.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

testing
  src/Authentication/Authentication/test/Find-MgGraphPermission.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Sanitize incoming url.
  src/Authentication/Authentication/custom/FindMgGraphCommand.ps1
  tools/PostGeneration/NewCommandMetadata.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added more examples
  src/Applications/Applications/examples/v1.0-beta/New-MgApplication.md
  src/Applications/Applications/examples/v1.0-beta/New-MgApplicationOwnerByRef.md
  src/Applications/Applications/examples/v1.0-beta/Update-MgServicePrincipal.md
  src/Applications/Applications/examples/v1.0/New-MgApplication.md
  src/Applications/Applications/examples/v1.0/New-MgApplicationOwnerByRef.md
  src/Applications/Applications/examples/v1.0/Update-MgServicePrincipal.md
  src/Groups/Groups/examples/v1.0-beta/New-MgGroupOwnerByRef.md
  src/Groups/Groups/examples/v1.0/New-MgGroupOwnerByRef.md
  src/Users/Users/examples/v1.0-beta/Get-MgUserDirectReport.md
  src/Users/Users/examples/v1.0/Get-MgUserDirectReport.md
Due: none

Docs Generation for CrossDeviceExperiences [skip ci]
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivityHistoryItemActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Microsoft.Graph.CrossDeviceExperiences.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/New-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/New-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/New-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Set-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Update-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Update-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Update-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivityHistoryItemActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Microsoft.Graph.CrossDeviceExperiences.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/New-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/New-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Remove-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Remove-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Remove-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Set-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Update-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Update-MgUserActivityHistoryItem.md
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
