Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/Files/beta/examples/Copy-MgBetaDriveItem.md
  src/Identity.Governance/v1.0/examples/Get-MgEntitlementManagementAssignment.md
  src/Identity.Governance/v1.0/examples/Get-MgEntitlementManagementAssignmentRequest.md
Due: none

renebled devics.corporate
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Reduced scope to identify modules with large files
  config/ModulesMapping.jsonc
  tools/GenerateServiceModule.ps1
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Increases file limit on agent
  .azure-pipelines/ci-build.yml
Due: none

Generating network access only
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Uncommented modules to be generated
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Removed condition
  .azure-pipelines/ci-build.yml
Due: none

Added step for clearing temp folder
  .azure-pipelines/ci-build.yml
Due: none

Clearing temp files in autorest
  .azure-pipelines/ci-build.yml
  tools/GenerateServiceModule.ps1
Due: none

Removed faulty code in CI
  .azure-pipelines/ci-build.yml
Due: none

Added try-catch
  tools/GenerateServiceModule.ps1
Due: none

Added checks to confirm if a file exists
  tools/GenerateServiceModule.ps1
Due: none

Modified from deleting to forcefully close files
  tools/GenerateServiceModule.ps1
Due: none

Autodetected temp file folder
  tools/GenerateModules.ps1
  tools/GenerateServiceModule.ps1
Due: none

Updated service module generation to forcefully close files per api version
  tools/GenerateServiceModule.ps1
Due: none

Added throttle limiting
  tools/GenerateModules.ps1
  tools/GenerateServiceModule.ps1
Due: none

Added dynamic throttling
  tools/GenerateModules.ps1
Due: none

Removed null pointer inside the loop
  tools/GenerateModules.ps1
Due: none

Removed parallelism
  tools/GenerateModules.ps1
Due: none

Re-enabled parallelism
  tools/GenerateModules.ps1
Due: none

Force remove files
  tools/GenerateModules.ps1
Due: none

Added closing of files recursively
  tools/GenerateModules.ps1
Due: none

Defined function first before using it
  tools/GenerateModules.ps1
Due: none

Defined the function within the foreach scope
  tools/GenerateModules.ps1
Due: none

Reduced the throttle limit
  tools/GenerateModules.ps1
Due: none

Rolled back devicemanagement
  openApiDocs/beta/DeviceManagement.yml
  tools/GenerateModules.ps1
Due: none

Rolled back devicemanagement
  tools/GenerateModules.ps1
Due: none

Added using
  tools/GenerateModules.ps1
Due: none

Rolled back beta version of managed tenants
  openApiDocs/beta/ManagedTenants.yml
  tools/GenerateModules.ps1
Due: none

Removing more cached files
  tools/GenerateModules.ps1
Due: none

Updated modules mapping to remove modules that are causing duplicate cmdlets
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updated examples
  src/Identity.SignIns/beta/examples/New-MgBetaInvitation.md
  src/Identity.SignIns/v1.0/examples/New-MgInvitation.md
Due: none

Adds directive to remove invalid paths. /security/attackSimulation
  src/Security/Security.md
Due: none

Adds directive to remove undocumented operations
  src/Identity.Governance/Identity.Governance.md
Due: none

Bumps versions for Azure.Identity, Azure.Identity.Broker and Microsoft.Graph.Core
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/build-module.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added pipeline task to install net9.x
  .azure-pipelines/common-templates/install-tools.yml
Due: none

Ensures that Az.Accounts module installs the latest version 4.0.2
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Removed indexing incase of null
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Removed condition for checking AZ.Accounts module
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml
