Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Added pester tests
  src/Authentication/Authentication/test/BreakingChanges.Tests.ps1
  tools/PostGeneration/NewCommandMetadata.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added mising aliasing
  src/Applications/Applications.md
  src/readme.graph.md
Due: none

Changed the build logic
  .azure-pipelines/common-templates/download-openapi-docs.yml
Due: none

Added method check
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Program.cs
Due: none

Fixed formatting
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Program.cs
Due: none

Removed unnecessary file
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/GenerateErrorAndInfoFile.ps1
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Program.cs
Due: none

Commented out beta to flag v1.0 changes
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/OpenApiChanges.ps1
Due: none

Reenabled other modules
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Adds test workflow
  .github/workflows/metadatachanges.yml
Due: none

Added workflow for metadata changes
  .azure-pipelines/ci-build.yml
  .github/workflows/metadatachanges.yml
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/OpenApiChanges.ps1
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Program.cs
Due: none

- updates code of conduct to the latest standard
  CODE_OF_CONDUCT.md
Due: none

Add Safe rollout parameter to access token paramter set
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Changed url location
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Program.cs
Due: none

Added Safe rollout feature on user provided
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/GraphEnvironmentConstants.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

updated endpoint
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Program.cs
Due: none

Add newtosoft.json as a submodule instead of package
  .gitmodules
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add safe rollout parameter sets to support different auth flows
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update login authority during safe rollout
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

update author feedback label
  .github/policies/resourceManagement.yml
Due: none

adding "-AT PoP" option to "Set-MgGraphOptions"
  docs/authentication.md
  src/Authentication/Authentication.Core/Interfaces/IGraphOptions.cs
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication/Cmdlets/SetMgGraphOption.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/Models/GraphOption.cs
  src/Authentication/Authentication/test/Set-MgGraphOption.Tests.ps1
  src/Authentication/docs/Set-MgGraphOption.md
  src/Authentication/examples/Set-MgGraphOption.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Adding AT PoP skeleton (#2511)
  docs/authentication.md
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Core/Utilities/PopClient.cs
  src/Authentication/Authentication.Core/Utilities/PopClientOptions.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Filling ou tthe AT PoP skeleton
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Core/Utilities/PopClient.cs
  src/Authentication/Authentication.Core/Utilities/PopClientOptions.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

AT PoP Version 1
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
