Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Lock GUID of service modules.
  tools/GenerateModules.ps1
Due: none

Add basic Pester tests.
  src/Applications/Applications/test/Applications.Tests.ps1
  src/Applications/Applications/test/Microsoft.Graph.Applications.Tests.ps1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
  src/Authentication/Authentication/test/loadEnv.ps1
  src/Identity.SignIns/Identity.SignIns/test/Microsoft.Graph.Identity.SignIns.Tests.ps1
  src/Reports/Reports/test/Microsoft.Graph.Reports.Tests.ps1
  src/Sites/Sites/test/Microsoft.Graph.Sites.Tests.ps1
  src/Users/Users/test/Microsoft.Graph.Users.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add required tags to support offline install in PS 5.1.
  config/ModuleMetadata.json
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/readme.graph.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Default to workload's page size.
  src/readme.graph.md
  tools/Custom/ListCmdlet.cs
Due: none

Internally set top when overflow is detected.
  tools/Custom/ListCmdlet.cs
Due: none

Update codeowners and reviewers.
  .github/CODEOWNERS
  .github/workflows/create-helpdocs-pr-workflow.yml
  .github/workflows/create-openapidocs-pr-workflow.yml
Due: none

Expand Identity.Signins coverage.
  config/ModulesMapping.jsonc
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/v1.0/Identity.SignIns.yml
  profiles/Identity.SignIns/crawl-log-v1.0-beta.json
  profiles/Identity.SignIns/crawl-log-v1.0.json
  profiles/Identity.SignIns/definitions/v1.0-beta.md
  profiles/Identity.SignIns/definitions/v1.0.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Pagination Fix (#1361)
  src/readme.graph.md
  tools/Custom/ListCmdlet.cs
Due: none

Add required tags to support offline install in PS 5.1. (#1360)
  config/ModuleMetadata.json
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/readme.graph.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Lock module GUID (#1358)
  config/ModuleMetadata.json
  src/Applications/Applications/test/Applications.Tests.ps1
  src/Applications/Applications/test/Microsoft.Graph.Applications.Tests.ps1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
  src/Authentication/Authentication/test/loadEnv.ps1
  src/Graph/Graph/Microsoft.Graph.nuspec
  src/Graph/Graph/Microsoft.Graph.psd1
  src/Identity.SignIns/Identity.SignIns/test/Microsoft.Graph.Identity.SignIns.Tests.ps1
  src/Reports/Reports/test/Microsoft.Graph.Reports.Tests.ps1
  src/Sites/Sites/test/Microsoft.Graph.Sites.Tests.ps1
  src/Users/Users/test/Microsoft.Graph.Users.Tests.ps1
  tools/GenerateModules.ps1
  tools/GenerateRollUpModule.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove invalid commands from Identity.SignIns.
  .azure-pipelines/generate-modules-template.yml
  .azure-pipelines/generation-templates/generate-service-modules.yml
  src/Identity.SignIns/Identity.SignIns/Microsoft.Graph.Identity.SignIns.psd1
  src/Identity.SignIns/Identity.SignIns/readme.md
  tools/PostGeneration/FindDuplicateCommand.ps1
Due: none

Update codeowners and reviewers. (#1363)
  .github/CODEOWNERS
  .github/workflows/create-helpdocs-pr-workflow.yml
  .github/workflows/create-openapidocs-pr-workflow.yml
Due: none

Add missing `groups.groupLifecyclePolicy` tag to modules mapping config (#731)
  config/ModulesMapping.jsonc
  openApiDocs/beta/Groups.yml
  openApiDocs/v1.0/Groups.yml
  profiles/Groups/crawl-log-v1.0-beta.json
  profiles/Groups/crawl-log-v1.0.json
  profiles/Groups/definitions/v1.0-beta.md
  profiles/Groups/definitions/v1.0.md
  src/Groups/Groups/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
