Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Security/beta/examples/Get-MgBetaSecurityAlertV2.md
  src/Teams/v1.0/examples/Complete-MgGroupTeamChannelMigration.md
  src/Teams/v1.0/examples/Complete-MgGroupTeamPrimaryChannelMigration.md
  src/Teams/v1.0/examples/Complete-MgTeamChannelMigration.md
  src/Teams/v1.0/examples/Complete-MgTeamPrimaryChannelMigration.md
  src/Teams/v1.0/examples/Complete-MgTeamworkDeletedTeamChannelMigration.md
Due: none

fix: add CredScan suppression for DeviceManagement.Administration v1.0 example
  .azure-pipelines/config/credscan/credscan-suppressions.json
Due: none

Isolate Graph authentication assembly loading
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psm1
  src/Authentication/Authentication/build-module.ps1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Isolate Graph authentication assembly loading (#3632)
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psm1
  src/Authentication/Authentication/build-module.ps1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Address auth ALC review comments
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psm1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add a new CrossTenantAccessPolicies module to graph powershell
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

ci: enable Win32 long paths in CI build pipeline
  .azure-pipelines/ci-build.yml
Due: none

remove individual cross tenant access policies module
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Remove CrossTenantAccessPolicies OpenAPI docs to fix duplicate cmdlets with Identity.SignIns
  openApiDocs/beta/CrossTenantAccessPolicies.yml
  openApiDocs/v1.0/CrossTenantAccessPolicies.yml
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgApplicationTemplate.md
  src/Identity.SignIns/beta/examples/Confirm-MgBetaIdentityRiskPreventionWebApplicationFirewallProvider.md
  src/Identity.SignIns/beta/examples/Get-MgBetaPolicyCrossTenantAccessPolicyDefaultM365Capability.md
  src/Identity.SignIns/beta/examples/Get-MgBetaPolicyCrossTenantAccessPolicyPartnerM365Capability.md
  src/Security/beta/examples/Get-MgBetaSecurityAlertV2.md
  src/Teams/v1.0/examples/Complete-MgChatMigration.md
  src/Teams/v1.0/examples/Complete-MgGroupTeamPrimaryChannelMigration.md
  src/Teams/v1.0/examples/Complete-MgTeamChannelMigration.md
  src/Teams/v1.0/examples/Complete-MgTeamPrimaryChannelMigration.md
  src/Teams/v1.0/examples/Complete-MgTeamworkDeletedTeamChannelMigration.md
  src/Teams/v1.0/examples/Complete-MgUserChatMigration.md
Due: none

Bump module versions after metadata generation.
  config/ModuleMetadata.json
Due: none

ci: upgrade to Node 20 for Windows long path support
  .azure-pipelines/common-templates/install-tools.yml
  .azure-pipelines/generation-templates/individual-workload-module.yml
  .azure-pipelines/generation-templates/workload-modules.yml
Due: none

test api docs
  openApiDocs/beta/Identity.Governance.yml
  openApiDocs/beta/Reports.yml
  openApiDocs/beta/Security.yml
  openApiDocs/beta/Teams.yml
Due: none

fix: add -AllowUnsupportedNode parameter to GenerateModules.ps1
  tools/GenerateModules.ps1
Due: none

fix: patch node.exe manifest for long path support
  .azure-pipelines/common-templates/install-tools.yml
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/Bookings/beta/examples/Get-MgBetaVirtualEventTownhallRegistrationConfiguration.md
  src/Identity.SignIns/beta/examples/Get-MgBetaPolicyCrossTenantAccessPolicyDefaultM365Capability.md
  src/Identity.SignIns/beta/examples/Get-MgBetaPolicyCrossTenantAccessPolicyPartnerM365Capability.md
  src/Identity.SignIns/v1.0/examples/Get-MgPolicyOwnerlessGroupPolicy.md
  src/Security/v1.0/examples/Get-MgSecurityAlertV2.md
  src/Teams/v1.0/examples/Get-MgChatTargetedMessageReplyDelta.md
Due: none

fix: Clear persisted MSAL token cache on Disconnect-MgGraph
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Core/Utilities/TokenCacheUtilities.cs
  src/Authentication/Authentication.Test/TokenCache/TokenCacheUtilitiesTests.cs
  src/Authentication/descriptions/Disconnect-MgGraph.md
  src/Authentication/docs/Disconnect-MgGraph.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add AppRoleMove.ps1 sample for migrating Default Access to an explicit app role
  samples/Scripts/AppRoleMove.ps1
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/Bookings/beta/examples/Get-MgBetaVirtualEventTownhallRegistrationConfiguration.md
  src/Identity.Governance/beta/examples/Get-MgBetaEntitlementManagementAccessPackageApplicablePolicyRequirement.md
  src/Identity.SignIns/beta/examples/Get-MgBetaPolicyCrossTenantAccessPolicyDefaultM365Capability.md
  src/Identity.SignIns/beta/examples/Get-MgBetaPolicyCrossTenantAccessPolicyPartnerM365Capability.md
  src/Identity.SignIns/v1.0/examples/Get-MgPolicyOwnerlessGroupPolicy.md
  src/Security/v1.0/examples/Get-MgSecurityAlertV2.md
  src/Teams/v1.0/examples/Get-MgChatTargetedMessageReplyDelta.md
Due: none

changes to local build
  tools/GenerateModules.ps1
Due: none

auth module
  tools/GenerateModules.ps1
Due: none

fix: bootstrap rush/autorest in GenerateModules.ps1 for fresh clones
  .gitignore
  tools/GenerateModules.ps1
Due: none

fix: bootstrap rush/autorest in GenerateModules.ps1 for fresh clones (#3653)
  .gitignore
  tools/GenerateModules.ps1
Due: none

Also fail on Pester block/container failures, not just failed tests
  tools/TestModule.ps1
Due: none

ci: fail on Pester block/container failures, not just failed tests (#3655)
  tools/TestModule.ps1
Due: none

feat: add -SignOutFromBroker switch to Disconnect-MgGraph for optional WAM cache clearing
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Test/TokenCache/TokenCacheUtilitiesTests.cs
  src/Authentication/Authentication/Cmdlets/DisconnectMgGraph.cs
  src/Authentication/descriptions/Disconnect-MgGraph.md
  src/Authentication/docs/Disconnect-MgGraph.md
  src/Authentication/examples/Disconnect-MgGraph.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

feat: narrow broker cache clearing to the current session's account
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
