Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Handle Auth fallback logic. Indicate to caller that Fallback was initiated. Show error/warning message to user when fallback occurs.
  src/Authentication/Authentication.Core/Authenticator.cs
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Properties/Resources.Designer.cs
  src/Authentication/Authentication/Properties/Resources.resx
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Handle empty content for HTTP requests that don't return body data.
  tools/Custom/HttpMessageFormatter.cs
  tools/Custom/Module.cs
Due: none

Add stream tests.
  tools/Tests/DebugTests.ps1
Due: none

Adds missing site permissions to sites module (#607)
  config/ModulesMapping.jsonc
  openApiDocs/beta/Sites.yml
  openApiDocs/v1.0/Sites.yml
  profiles/Sites/crawl-log-v1.0-beta.json
  profiles/Sites/crawl-log-v1.0.json
  profiles/Sites/definitions/v1.0-beta.md
  profiles/Sites/definitions/v1.0.md
  tools/GenerateProfiles.ps1
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add admin module.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Skip module generation if profile is absent.
  tools/GenerateModules.ps1
Due: none

Add ClientId Provided by User
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Bump SDK version to 1.5.0
  config/ModuleMetadata.json
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Bookings/Bookings/readme.md
  src/Calendar/Calendar/readme.md
  src/ChangeNotifications/ChangeNotifications/readme.md
  src/CloudCommunications/CloudCommunications/readme.md
  src/Compliance/Compliance/readme.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/readme.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/DeviceManagement.Functions/DeviceManagement.Functions/readme.md
  src/DeviceManagement/DeviceManagement/readme.md
  src/Devices.CloudPrint/Devices.CloudPrint/readme.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Education/Education/readme.md
  src/Files/Files/readme.md
  src/Financials/Financials/readme.md
  src/Groups/Groups/readme.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Mail/Mail/readme.md
  src/Notes/Notes/readme.md
  src/People/People/readme.md
  src/PersonalContacts/PersonalContacts/readme.md
  src/Planner/Planner/readme.md
  src/Reports/Reports/readme.md
  src/SchemaExtensions/SchemaExtensions/readme.md
  src/Search/Search/readme.md
  src/Security/Security/readme.md
  src/Sites/Sites/readme.md
  src/Teams/Teams/readme.md
  src/Users.Actions/Users.Actions/readme.md
  src/Users.Functions/Users.Functions/readme.md
  src/Users/Users/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add generation guide.
  docs/designoverview.md
  docs/generation.md
  docs/images/generationprocess.png
Due: none

Update src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
Due: none

identity governance: reduce unneeded EM cmdlets (#577)
  src/Identity.Governance/Identity.Governance/readme.md
Due: none

Handle duplicate cmdlet names across modules.
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
Due: none

Update readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
Due: none

Use version in manifest if module is not in repo.
  tools/GenerateAuthenticationModule.ps1
Due: none

Remove generated text
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add test.
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Avoid checking for -Debug to respect DebugPreferences.
  tools/Custom/Module.cs
Due: none

1.5.0 Pre-Release (#617)
  config/ModuleMetadata.json
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Bookings/Bookings/readme.md
  src/Calendar/Calendar/readme.md
  src/ChangeNotifications/ChangeNotifications/readme.md
  src/CloudCommunications/CloudCommunications/readme.md
  src/Compliance/Compliance/readme.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/readme.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/DeviceManagement.Functions/DeviceManagement.Functions/readme.md
  src/DeviceManagement/DeviceManagement/readme.md
  src/Devices.CloudPrint/Devices.CloudPrint/readme.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Education/Education/readme.md
  src/Files/Files/readme.md
  src/Financials/Financials/readme.md
  src/Groups/Groups/readme.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Mail/Mail/readme.md
  src/Notes/Notes/readme.md
  src/People/People/readme.md
  src/PersonalContacts/PersonalContacts/readme.md
  src/Planner/Planner/readme.md
  src/Reports/Reports/readme.md
  src/SchemaExtensions/SchemaExtensions/readme.md
  src/Search/Search/readme.md
  src/Security/Security/readme.md
  src/Sites/Sites/readme.md
  src/Teams/Teams/readme.md
  src/Users.Actions/Users.Actions/readme.md
  src/Users.Functions/Users.Functions/readme.md
  src/Users/Users/readme.md
  tools/GenerateAuthenticationModule.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Fix exception thrown when Debug is called for Service modules. (#601)
  tools/Custom/HttpMessageFormatter.cs
  tools/Custom/Module.cs
  tools/Tests/DebugTests.ps1
Due: none

Update src/Authentication/Authentication/Properties/Resources.resx
  src/Authentication/Authentication/Properties/Resources.resx
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

add two parameter sets to New-MgEntitlementManagementAccessPackageAssignmentRequest
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementAccessPackageAssignmentRequest.ps1
Due: none

Exclude unavailable modules from meta-module.
  tools/GenerateRollUpModule.ps1
Due: none

introduce select on assignment policy
  src/Identity.Governance/Identity.Governance/custom/Select-MgEntitlementManagementAccessPackageAssignmentPolicy.ps1
Due: none

Add admin module mapping (#621)
  config/ModulesMapping.jsonc
  tools/GenerateModules.ps1
  tools/GenerateRollUpModule.ps1
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

add default params to Get-MgEntitlementManagementAccessPackageCatalog
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackageCatalog.ps1
Due: none

add Get AP by display name
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackage.ps1
Due: none

add get by catlaog ID to access package, and by display name for assignment policy
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackageAssignmentPolicy.ps1
Due: none

add displayname params to get co
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementConnectedOrganization.ps1
Due: none

add get assignment by AP
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackageAssignment.ps1
Due: none

add get assignment requests
  src/Identity.Governance/Identity.Governance/custom/Get-MgEntitlementManagementAccessPackageAssignmentRequest.ps1
Due: none

add -NoApprovalRequiredForRequest
  src/Identity.Governance/Identity.Governance/custom/Select-MgEntitlementManagementAccessPackageAssignmentPolicy.ps1
Due: none

introduce select- for AP and assignment
  src/Identity.Governance/Identity.Governance/custom/Select-MgEntitlementManagementAccessPackage.ps1
  src/Identity.Governance/Identity.Governance/custom/Select-MgEntitlementManagementAccessPackageAssignment.ps1
Due: none

remove select- assignment for now
  src/Identity.Governance/Identity.Governance/custom/Select-MgEntitlementManagementAccessPackageAssignment.ps1
Due: none

add filter on policy scope and no approval required
  src/Identity.Governance/Identity.Governance/custom/Select-MgEntitlementManagementAccessPackage.ps1
Due: none

Apply rename directive for *ById actions.
  src/Admin/Admin/Microsoft.Graph.Admin.psd1
  src/Admin/Admin/readme.md
Due: none
