Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Move regex pattern outside the loop
  tools/TweakOpenApi.ps1
Due: none

Address AutoREST `byRef` preposition truncation (#915)
  src/DeviceManagement/DeviceManagement/readme.md
  src/readme.graph.md
  tools/DownloadOpenApiDoc.ps1
  tools/TweakOpenApi.ps1
  tools/UpdateOpenApi.ps1
Due: none

Merge dev
  tools/Custom/HttpMessageLogFormatter.cs
Due: none

Update tests
  src/Authentication/Authentication/test/Find-MgGraphCommand.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added more examples
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageAssignmentPolicy.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageAssignmentRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageCatalogAccessPackageResource.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageCatalogAccessPackageResourceRole.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignmentPolicy.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignmentRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageResourceRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageResourceRoleScope.md
Due: none

Update readme and contributing.md
  CONTRIBUTING.md
  README.md
Due: none

Update SDK generation link.
  CONTRIBUTING.md
Due: none

Clean-up planner commmands.
  config/ModulesMapping.jsonc
  src/Planner/Planner/Microsoft.Graph.Planner.psd1
  src/Planner/Planner/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Clean-up commands in DeviceManagement.Enrolment module.
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/Microsoft.Graph.DeviceManagement.Enrolment.psd1
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
Due: none

Prepopulate User-Agent header.
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Helpers/RequestUserAgent.cs
  src/Authentication/Authentication/Models/AuthContext.cs
  tools/Custom/Module.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Prepopulate User-Agent header. (#928)
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Helpers/RequestUserAgent.cs
  src/Authentication/Authentication/Models/AuthContext.cs
  tools/Custom/Module.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Commands Clean-up (#927)
  config/ModulesMapping.jsonc
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/Microsoft.Graph.DeviceManagement.Enrolment.psd1
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/Planner/Planner/Microsoft.Graph.Planner.psd1
  src/Planner/Planner/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Bump SDK version
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Calendar/Calendar/readme.md
  src/ChangeNotifications/ChangeNotifications/readme.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/readme.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/DeviceManagement.Functions/DeviceManagement.Functions/readme.md
  src/DeviceManagement/DeviceManagement/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Financials/Financials/readme.md
  src/Mail/Mail/readme.md
  src/Notes/Notes/readme.md
  src/People/People/readme.md
  src/PersonalContacts/PersonalContacts/readme.md
  src/Planner/Planner/readme.md
  src/Reports/Reports/readme.md
  src/SchemaExtensions/SchemaExtensions/readme.md
  src/Search/Search/readme.md
  src/Security/Security/readme.md
  src/WindowsUpdates/WindowsUpdates/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Bump SDK version
  tools/Custom/HttpMessageLogFormatter.cs
Due: none

[run ci]
  .azure-pipelines/generation-templates/generate-service-modules.yml
Due: none

Fallback to process scope when on WSL.
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Ensure directory exists before opening a file.
  src/Authentication/Authentication/Common/DiskDataStore.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Default to process scope on WSL.
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added examples for the cmdlets
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageAssignmentRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageCatalogAccessPackageResource.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageResourceAccessPackageResourceScope.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageResourceRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementSetting.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignmentPolicy.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignmentRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageResourceRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageResourceRoleScope.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Remove-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Remove-MgEntitlementManagementAccessPackageAssignmentPolicy.md
Due: none

Added permissions and minor edits
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageAssignmentPolicy.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageAssignmentRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageCatalog.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageCatalogAccessPackageResource.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageCatalogAccessPackageResourceRole.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageResourceAccessPackageResourceScope.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageResourceRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementSetting.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignmentPolicy.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignmentRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageResourceRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageResourceRoleScope.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Remove-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Remove-MgEntitlementManagementAccessPackageAssignmentPolicy.md
Due: none

Remove duplicate docs.
  docs/designoverview.md
  docs/generation.md
Due: none

Merge branch 'bugFixes/WSLAuthentication' of https://github.com/microsoftgraph/msgraph-sdk-powershell into bugFixes/WSLAuthentication
  documentation/images/generationprocess.png
Due: none

Remove Powershell ISE from known issues.
  README.md
Due: none

Update code highlight
  README.md
Due: none

Added examples for the cmdlets (#904)
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageAssignmentPolicy.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageAssignmentRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageCatalog.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageCatalogAccessPackageResource.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageCatalogAccessPackageResourceRole.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageResourceAccessPackageResourceScope.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementAccessPackageResourceRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Get-MgEntitlementManagementSetting.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignmentPolicy.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignmentRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageResourceRequest.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementAccessPackageResourceRoleScope.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Remove-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/Remove-MgEntitlementManagementAccessPackageAssignmentPolicy.md
Due: none

Authentication Bug Fixes (#934)
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Common/DiskDataStore.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add directive to ensure we serialize DictionaryEntry types.
  src/readme.graph.md
Due: none

[run ci] Bump version number.
  config/ModuleMetadata.json
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Bookings/Bookings/readme.md
  src/Calendar/Calendar/readme.md
  src/ChangeNotifications/ChangeNotifications/readme.md
  src/CloudCommunications/CloudCommunications/readme.md
  src/Compliance/Compliance/readme.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/readme.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/DeviceManagement.Functions/DeviceManagement.Functions/readme.md
  src/DeviceManagement/DeviceManagement/readme.md
  src/Devices.CloudPrint/Devices.CloudPrint/readme.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Education/Education/readme.md
  src/Files/Files/readme.md
  src/Financials/Financials/readme.md
  src/Groups/Groups/readme.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Mail/Mail/readme.md
  src/Notes/Notes/readme.md
  src/People/People/readme.md
  src/PersonalContacts/PersonalContacts/readme.md
  src/Planner/Planner/readme.md
  src/Reports/Reports/readme.md
  src/SchemaExtensions/SchemaExtensions/readme.md
  src/Search/Search/readme.md
  src/Security/Security/readme.md
  src/Sites/Sites/readme.md
  src/Teams/Teams/readme.md
  src/Users.Actions/Users.Actions/readme.md
  src/Users.Functions/Users.Functions/readme.md
  src/Users/Users/readme.md
  src/WindowsUpdates/WindowsUpdates/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add Timothy to codeowners.
  .github/CODEOWNERS
Due: none

Readme Update (#924)
  .github/CODEOWNERS
  CONTRIBUTING.md
  README.md
  documentation/images/generationprocess.png
Due: none

Add directive to ensure we serialize DictionaryEntry types. (#942)
  src/readme.graph.md
Due: none

Log warning headers into PS Warning stream.
  tools/Custom/Module.cs
Due: none

Update autorest local version.
  src/readme.graph.md
Due: none

Update autorest local version. (#945)
  src/readme.graph.md
Due: none

Removed the permissions table
  src/Applications/Applications/examples/v1.0-beta/Get-MgApplication.md
  src/Applications/Applications/examples/v1.0-beta/Get-MgServicePrincipal.md
  src/Applications/Applications/examples/v1.0-beta/Get-MgUserAppRoleAssignment.md
  src/Applications/Applications/examples/v1.0/Get-MgApplication.md
  src/Applications/Applications/examples/v1.0/Get-MgServicePrincipal.md
  src/Groups/Groups/examples/v1.0-beta/Get-MgGroup.md
  src/Groups/Groups/examples/v1.0/Get-MgGroup.md
  src/Users/Users/examples/v1.0/Get-MgUser.md
Due: none
