Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/integrated-pipeline.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/integrated-pipeline.yml: any of: src, config/ModulesMapping.jsonc, but not: src/Authentication
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

formatting error.
  .azure-pipelines/install-tools-template.yml
Due: none

inline script.
  .azure-pipelines/install-tools-template.yml
Due: none

idempotent install
  .azure-pipelines/install-tools-template.yml
Due: none

inline scripts.
  .azure-pipelines/download-openapidocs-template.yml
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/generate-beta-modules-template.yml
  .azure-pipelines/generate-beta-rollup-module-template.yml
  .azure-pipelines/generate-profiles-template.yml
  .azure-pipelines/install-tools-template.yml
Due: none

inline script issues.
  .azure-pipelines/download-openapidocs-template.yml
  .azure-pipelines/generate-beta-modules-template.yml
  .azure-pipelines/generate-beta-rollup-module-template.yml
  .azure-pipelines/generate-profiles-template.yml
  .azure-pipelines/install-tools-template.yml
Due: none

Version check
  .azure-pipelines/download-openapidocs-template.yml
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/generate-beta-modules-template.yml
  .azure-pipelines/generate-beta-rollup-module-template.yml
  .azure-pipelines/generate-profiles-template.yml
  .azure-pipelines/install-tools-template.yml
Due: none

switch to core
  .azure-pipelines/download-openapidocs-template.yml
Due: none

Steps reuse
  .azure-pipelines/download-openapidocs-template.yml
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/generate-beta-modules-template.yml
  .azure-pipelines/generate-beta-rollup-module-template.yml
  .azure-pipelines/generate-profiles-template.yml
  .azure-pipelines/integrated-pipeline.yml
Due: none

Git issue
  .azure-pipelines/download-openapidocs-template.yml
Due: none

remove git publish from integrated pipeline
  .azure-pipelines/download-openapidocs-template.yml
Due: none

Formatting changes and cleanup
  .azure-pipelines/credential-scanning-template.yml
  .azure-pipelines/download-openapidocs-template.yml
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/generate-beta-modules-template.yml
  .azure-pipelines/generate-beta-rollup-module-template.yml
  .azure-pipelines/generate-profiles-template.yml
  .azure-pipelines/install-tools-template.yml
  .azure-pipelines/integrated-pipeline.yml
Due: none

Information. Move to 24 limit
  tools/GenerateModules.ps1
Due: none

Continue on V1 errors.
  .azure-pipelines/download-openapidocs-template.yml
  .azure-pipelines/generate-beta-modules-template.yml
  .azure-pipelines/integrated-pipeline.yml
Due: none

remove debug mode
  .azure-pipelines/credential-scanning-template.yml
Due: none

beta version argument
  .azure-pipelines/download-openapidocs-template.yml
Due: none

Fix up file paths.
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/generate-beta-modules-template.yml
Due: none

formatting
  .azure-pipelines/generate-beta-modules-template.yml
Due: none

revert back to old ps structure
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/generate-beta-modules-template.yml
  .azure-pipelines/generate-beta-rollup-module-template.yml
Due: none

increase timeout
  .azure-pipelines/generate-beta-modules-template.yml
  .azure-pipelines/generate-beta-rollup-module-template.yml
Due: none

Set unused *ToExport to @()
  config/ModuleMetadata.json
  src/Graph/Graph/Microsoft.Graph.nuspec
  src/Graph/Graph/Microsoft.Graph.psd1
  tools/GenerateRollUpModule.ps1
Due: .azure-pipelines/integrated-pipeline.yml

Represent v1.0-beta profile as beta.
  src/Authentication/Authentication/Cmdlets/SelectMgProfile.cs
  src/Authentication/Authentication/Models/PSGraphServiceProfile.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

version update
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/generate-beta-modules-template.yml
  .azure-pipelines/generate-beta-rollup-module-template.yml
  .azure-pipelines/integrated-pipeline.yml
  config/ModuleMetadata.json
  config/ModulesMapping.jsonc
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/integrated-pipeline.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Do not read stream if already consumed.
  src/Authentication/Authentication/Helpers/HttpMessageFormatter.cs
  tools/Custom/HttpMessageFormatter.cs
  tools/Custom/Module.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add Ignite samples.
  samples/5-Teams.ps1
  samples/9-Applications.ps1
  samples/Scripts/UsersAndGroups.ps1
Due: none

Add commands to add team.
  samples/5-Teams.ps1
Due: none

Read from local feed.
  .azure-pipelines/download-openapidocs-template.yml
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/generate-beta-modules-template.yml
  Nuget.config
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/integrated-pipeline.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Set nuget key
  .azure-pipelines/install-tools-template.yml
Due: none

ApiKey set
  .azure-pipelines/install-tools-template.yml
Due: none

try and set a key
  .azure-pipelines/install-tools-template.yml
Due: none

nuget authenticate
  .azure-pipelines/install-tools-template.yml
Due: none

Git commit.,
  .azure-pipelines/download-openapidocs-template.yml
Due: none

Minor changes and merge
  .azure-pipelines/download-openapidocs-template.yml
  .azure-pipelines/generate-beta-modules-template.yml
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

path filters
  .azure-pipelines/download-openapidocs-template.yml
  .azure-pipelines/generate-beta-modules-template.yml
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/integrated-pipeline.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

increase throttle limit to match packages
  tools/GenerateModules.ps1
Due: none

Publish to Build Feed
  .azure-pipelines/download-openapidocs-template.yml
  .azure-pipelines/generate-auth-module-template.yml
  Nuget.config
Due: none

Add -AccessToken parameter to Connect-Graph.
  src/Authentication/Authentication/Cmdlets/ConnectGraph.cs
  src/Authentication/Authentication/Common/GraphSession.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/ErrorConstants.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Interfaces/IAuthContext.cs
  src/Authentication/Authentication/TokenCache/TokenCacheStorage.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add unit tests.
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

register PS Module
  .azure-pipelines/generate-beta-rollup-module-template.yml
Due: none

list credential provider directory
  .azure-pipelines/generate-beta-rollup-module-template.yml
Due: none

show
  .azure-pipelines/generate-beta-rollup-module-template.yml
Due: none
