Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Docs Generation for Notes [run ci]
  src/Notes/Notes/docs/v1.0-beta/Microsoft.Graph.Notes.md
  src/Notes/Notes/docs/v1.0/Microsoft.Graph.Notes.md
Due: none

Docs Generation for Users.Actions [run ci]
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Find-MgUserMeetingTime.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Invoke-MgExtractUserInformationProtectionPolicyLabel.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Microsoft.Graph.Users.Actions.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Send-MgUserChatActivityNotification.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Send-MgUserTeamworkActivityNotification.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Test-MgUserInformationProtectionPolicyLabelApplication.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Test-MgUserInformationProtectionPolicyLabelClassificationResult.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Test-MgUserInformationProtectionPolicyLabelRemoval.md
  src/Users.Actions/Users.Actions/docs/v1.0/Find-MgUserMeetingTime.md
  src/Users.Actions/Users.Actions/docs/v1.0/Microsoft.Graph.Users.Actions.md
  src/Users.Actions/Users.Actions/docs/v1.0/Reset-MgUserAuthenticationMethodPassword.md
  src/Users.Actions/Users.Actions/docs/v1.0/Send-MgUserChatActivityNotification.md
  src/Users.Actions/Users.Actions/docs/v1.0/Send-MgUserTeamworkActivityNotification.md
  src/Users.Actions/Users.Actions/docs/v1.0/Update-MgUserPassword.md
  src/Users.Actions/Users.Actions/examples/v1.0/Reset-MgUserAuthenticationMethodPassword.md
Due: none

Docs Generation for Planner [run ci]
  src/Planner/Planner/docs/v1.0-beta/Microsoft.Graph.Planner.md
  src/Planner/Planner/docs/v1.0/Microsoft.Graph.Planner.md
Due: none

Docs Generation for People [run ci]
  src/People/People/docs/v1.0-beta/Microsoft.Graph.People.md
  src/People/People/docs/v1.0/Microsoft.Graph.People.md
Due: none

Docs Generation for Education [run ci]
  src/Education/Education/docs/v1.0-beta/Microsoft.Graph.Education.md
  src/Education/Education/docs/v1.0-beta/New-MgEducationClass.md
  src/Education/Education/docs/v1.0-beta/New-MgEducationSchool.md
  src/Education/Education/docs/v1.0-beta/New-MgEducationUser.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationClass.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationMe.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationRoot.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationSchool.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationUser.md
  src/Education/Education/docs/v1.0/Microsoft.Graph.Education.md
  src/Education/Education/docs/v1.0/New-MgEducationClass.md
  src/Education/Education/docs/v1.0/New-MgEducationSchool.md
  src/Education/Education/docs/v1.0/New-MgEducationUser.md
  src/Education/Education/docs/v1.0/Update-MgEducationClass.md
  src/Education/Education/docs/v1.0/Update-MgEducationMe.md
  src/Education/Education/docs/v1.0/Update-MgEducationRoot.md
  src/Education/Education/docs/v1.0/Update-MgEducationSchool.md
  src/Education/Education/docs/v1.0/Update-MgEducationUser.md
Due: none

Docs Generation for Devices.CorporateManagement [run ci]
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Microsoft.Graph.Devices.CorporateManagement.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgDeviceAppMgtAndroidManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgDeviceAppMgtDefaultManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgDeviceAppMgtTargetedManagedAppConfiguration.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgDeviceAppMgtiOSManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgUserDeviceManagementTroubleshootingEvent.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgUserManagedDevice.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgUserMobileAppTroubleshootingEvent.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgDeviceAppMgt.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgDeviceAppMgtAndroidManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgDeviceAppMgtDefaultManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgDeviceAppMgtTargetedManagedAppConfiguration.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgDeviceAppMgtiOSManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgUserDeviceManagementTroubleshootingEvent.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgUserManagedDevice.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgUserMobileAppTroubleshootingEvent.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/Microsoft.Graph.Devices.CorporateManagement.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/New-MgDeviceAppMgtDefaultManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/New-MgDeviceAppMgtTargetedManagedAppConfiguration.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/Update-MgDeviceAppMgt.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/Update-MgDeviceAppMgtDefaultManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/Update-MgDeviceAppMgtTargetedManagedAppConfiguration.md
Due: none

Docs Generation for Devices.CloudPrint [run ci]
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Microsoft.Graph.Devices.CloudPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/New-MgPrintPrinterShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/New-MgPrintShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintPrinter.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintPrinterShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Microsoft.Graph.Devices.CloudPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/New-MgPrintShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Update-MgPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Update-MgPrintPrinter.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Update-MgPrintShare.md
Due: none

Docs Generation for Users.Functions [run ci]
  src/Users.Functions/Users.Functions/docs/v1.0-beta/Get-MgAllUserChatMessage.md
  src/Users.Functions/Users.Functions/docs/v1.0-beta/Get-MgUserChatMessageDelta.md
  src/Users.Functions/Users.Functions/docs/v1.0-beta/Get-MgUserChatMessageReplyDelta.md
  src/Users.Functions/Users.Functions/docs/v1.0-beta/Get-MgUserCloudPcConnectivityHistory.md
  src/Users.Functions/Users.Functions/docs/v1.0-beta/Get-MgUserDriveListItemActivityByInterval.md
  src/Users.Functions/Users.Functions/docs/v1.0-beta/Microsoft.Graph.Users.Functions.md
  src/Users.Functions/Users.Functions/docs/v1.0/Get-MgAllUserChatMessage.md
  src/Users.Functions/Users.Functions/docs/v1.0/Get-MgUserChatMessageDelta.md
  src/Users.Functions/Users.Functions/docs/v1.0/Get-MgUserChatMessageReplyDelta.md
  src/Users.Functions/Users.Functions/docs/v1.0/Get-MgUserDriveListItemActivityByInterval.md
  src/Users.Functions/Users.Functions/docs/v1.0/Microsoft.Graph.Users.Functions.md
  src/Users.Functions/Users.Functions/examples/v1.0-beta/Get-MgUserCloudPcConnectivityHistory.md
Due: none

Docs Generation for Reports [run ci]
  src/Reports/Reports/docs/v1.0-beta/Microsoft.Graph.Reports.md
  src/Reports/Reports/docs/v1.0/Microsoft.Graph.Reports.md
Due: none

Added new alias
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Adds HTTP/2 Support (#1374)
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Test/Handlers/HttpVersionHandlerTests.cs
  src/Authentication/Authentication.Test/Handlers/ODataQueryOptionsHandlerTests.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Handlers/HttpVersionHandler.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Utilities/DependencyAssemblyResolver.cs
  src/Authentication/Authentication/build-module.ps1
  src/Authentication/Authentication/custom/common/GraphUri.ps1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Current User and Local Machine Certificate Store Lookup (#1387)
  src/Authentication/Authentication.Core/ErrorConstants.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

1288 add alias for invoke mgrestmethod to invoke mggraphrequest (#1390)
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Throw non-terminating errors in `Disconnect-MgGraph` (#1395)
  src/Authentication/Authentication/Cmdlets/DisconnectMgGraph.cs
  src/Authentication/Authentication/test/Disconnect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Enable Get-MgTeam
  src/Teams/Teams/readme.md
Due: none

Enable per ApiVersion telemetry.
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  tools/Custom/Module.cs
  tools/PostGeneration/CleanUpPsm1.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update module manifest.
  src/Teams/Teams/Microsoft.Graph.Teams.psd1
Due: none

Ensure .NET SDK header is always present.
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update Get-MgRiskyUser.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Get-MgRiskyUser.md
Due: none

Update Get-MgRiskyUserHistory.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Get-MgRiskyUserHistory.md
Due: none

Update Confirm-MgRiskyUserCompromised.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Confirm-MgRiskyUserCompromised.md
Due: none

Remove New/Update/Remove AuthenticationMethod
  src/Identity.SignIns/Identity.SignIns/readme.md
Due: none

Enable API Version telemetry (#1396)
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  tools/Custom/Module.cs
  tools/PostGeneration/CleanUpPsm1.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add ci-build
  .azure-pipelines/ci-build.yml
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Set up CI with Azure Pipelines
  .azure-pipelines/ci-build.yml
Due: none

Install required tools.
  .azure-pipelines/ci-build.yml
  .azure-pipelines/common-templates/install-tools-template.yml
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Temorarily skip tests.
  .azure-pipelines/ci-build.yml
Due: none

Support workload page size.
  src/readme.graph.md
  tools/Custom/ListCmdlet.cs
Due: none

Remove broken API.
  config/ModulesMapping.jsonc
  src/Security/Security.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
