Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Docs Generation for Devices.CloudPrint [run ci]
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Microsoft.Graph.Devices.CloudPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/New-MgPrintPrinterShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/New-MgPrintShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintPrinter.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintPrinterShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Microsoft.Graph.Devices.CloudPrint.md
Due: none

Docs Generation for Groups [run ci]
  src/Groups/Groups/docs/v1.0-beta/Add-MgGroupSite.md
  src/Groups/Groups/docs/v1.0-beta/Microsoft.Graph.Groups.md
  src/Groups/Groups/docs/v1.0-beta/New-MgGroup.md
  src/Groups/Groups/docs/v1.0-beta/New-MgUserJoinedGroup.md
  src/Groups/Groups/docs/v1.0-beta/Remove-MgGroupSite.md
  src/Groups/Groups/docs/v1.0-beta/Update-MgGroup.md
  src/Groups/Groups/docs/v1.0/Microsoft.Graph.Groups.md
Due: none

Weekly OpenApiDocs Download. [run ci]
  openApiDocs/beta/CloudCommunications.yml
  openApiDocs/beta/Compliance.yml
  openApiDocs/beta/DeviceManagement.yml
  openApiDocs/beta/Devices.CloudPrint.yml
  openApiDocs/beta/Devices.CorporateManagement.yml
  openApiDocs/beta/Education.yml
  openApiDocs/beta/Files.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/Identity.Governance.yml
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/beta/Reports.yml
  openApiDocs/beta/Security.yml
  openApiDocs/beta/Sites.yml
  openApiDocs/beta/Teams.yml
  openApiDocs/beta/Users.Actions.yml
  openApiDocs/beta/Users.Functions.yml
  openApiDocs/beta/Users.yml
  openApiDocs/v1.0/Bookings.yml
  profiles/CloudCommunications/crawl-log-v1.0-beta.json
  profiles/CloudCommunications/definitions/v1.0-beta.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Adding the managed tenants module mapping
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Added more examples
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Get-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/New-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Remove-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Update-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/Get-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/New-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/Remove-MgIdentityConditionalAccessNamedLocation.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/Remove-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/Update-MgIdentityConditionalAccessPolicy.md
Due: none

Docs Generation for Compliance [run ci]
  src/Compliance/Compliance/docs/v1.0-beta/Microsoft.Graph.Compliance.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCase.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodian.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodianSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodianUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHold.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHoldSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHoldUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgCompliance.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscovery.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCase.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodian.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodianSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodianUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHold.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHoldSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHoldUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0/Microsoft.Graph.Compliance.md
Due: none

Docs Generation for Identity.Governance [run ci]
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Microsoft.Graph.Identity.Governance.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/New-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignment.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignmentPolicy.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/New-MgEntitlementManagementAccessPackageAssignmentRequest.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/New-MgEntitlementManagementAccessPackageCatalog.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Select-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Select-MgEntitlementManagementAccessPackageAssignmentPolicy.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Update-MgEntitlementManagementAccessPackage.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Update-MgEntitlementManagementAccessPackageAssignment.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Update-MgEntitlementManagementAccessPackageAssignmentPolicy.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Update-MgEntitlementManagementAccessPackageAssignmentRequest.md
  src/Identity.Governance/Identity.Governance/docs/v1.0-beta/Update-MgEntitlementManagementAccessPackageCatalog.md
  src/Identity.Governance/Identity.Governance/docs/v1.0/Microsoft.Graph.Identity.Governance.md
Due: none

Docs Generation for Security [run ci]
  src/Security/Security/docs/v1.0-beta/Add-MgSecurityCaseEdiscoveryCaseReviewSetToReviewSet.md
  src/Security/Security/docs/v1.0-beta/Microsoft.Graph.Security.md
  src/Security/Security/docs/v1.0-beta/New-MgSecurityCaseEdiscoveryCase.md
  src/Security/Security/docs/v1.0-beta/New-MgSecurityCaseEdiscoveryCaseCustodian.md
  src/Security/Security/docs/v1.0-beta/New-MgSecurityCaseEdiscoveryCaseCustodianSiteSource.md
  src/Security/Security/docs/v1.0-beta/New-MgSecurityCaseEdiscoveryCaseCustodianUnifiedGroupSource.md
  src/Security/Security/docs/v1.0-beta/New-MgSecurityCaseEdiscoveryCaseLegalHold.md
  src/Security/Security/docs/v1.0-beta/New-MgSecurityCaseEdiscoveryCaseLegalHoldSiteSource.md
  src/Security/Security/docs/v1.0-beta/New-MgSecurityCaseEdiscoveryCaseReviewSet.md
  src/Security/Security/docs/v1.0-beta/New-MgSecurityCaseEdiscoveryCaseReviewSetFile.md
  src/Security/Security/docs/v1.0-beta/New-MgSecurityCaseEdiscoveryCaseSearch.md
  src/Security/Security/docs/v1.0-beta/New-MgSecuritySubjectRightsRequest.md
  src/Security/Security/docs/v1.0-beta/Update-MgSecurityCase.md
  src/Security/Security/docs/v1.0-beta/Update-MgSecurityCaseEdiscoveryCase.md
  src/Security/Security/docs/v1.0-beta/Update-MgSecurityCaseEdiscoveryCaseCustodian.md
  src/Security/Security/docs/v1.0-beta/Update-MgSecurityCaseEdiscoveryCaseCustodianSiteSource.md
  src/Security/Security/docs/v1.0-beta/Update-MgSecurityCaseEdiscoveryCaseCustodianUnifiedGroupSource.md
  src/Security/Security/docs/v1.0-beta/Update-MgSecurityCaseEdiscoveryCaseLegalHold.md
  src/Security/Security/docs/v1.0-beta/Update-MgSecurityCaseEdiscoveryCaseLegalHoldSiteSource.md
  src/Security/Security/docs/v1.0-beta/Update-MgSecurityCaseEdiscoveryCaseReviewSet.md
  src/Security/Security/docs/v1.0-beta/Update-MgSecurityCaseEdiscoveryCaseReviewSetFile.md
  src/Security/Security/docs/v1.0-beta/Update-MgSecurityCaseEdiscoveryCaseSearch.md
  src/Security/Security/docs/v1.0-beta/Update-MgSecuritySubjectRightsRequest.md
  src/Security/Security/docs/v1.0/Microsoft.Graph.Security.md
  src/Security/Security/docs/v1.0/New-MgSecurityCaseEdiscoveryCase.md
  src/Security/Security/docs/v1.0/New-MgSecurityCaseEdiscoveryCaseCustodian.md
  src/Security/Security/docs/v1.0/New-MgSecurityCaseEdiscoveryCaseCustodianSiteSource.md
  src/Security/Security/docs/v1.0/New-MgSecurityCaseEdiscoveryCaseCustodianUnifiedGroupSource.md
  src/Security/Security/docs/v1.0/Update-MgSecurityCase.md
  src/Security/Security/docs/v1.0/Update-MgSecurityCaseEdiscoveryCase.md
  src/Security/Security/docs/v1.0/Update-MgSecurityCaseEdiscoveryCaseCustodian.md
  src/Security/Security/docs/v1.0/Update-MgSecurityCaseEdiscoveryCaseCustodianSiteSource.md
  src/Security/Security/docs/v1.0/Update-MgSecurityCaseEdiscoveryCaseCustodianUnifiedGroupSource.md
Due: none

Docs Generation for DirectoryObjects [run ci]
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Get-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Microsoft.Graph.DirectoryObjects.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/New-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Remove-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Restore-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Update-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObjectById.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Microsoft.Graph.DirectoryObjects.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/New-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Remove-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Restore-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Update-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/examples/v1.0-beta/Restore-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/examples/v1.0/Restore-MgDirectoryObject.md
Due: none

Docs Generation for Users.Actions [run ci]
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Microsoft.Graph.Users.Actions.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Restore-MgUserDriveItemListItemDocumentSetVersion.md
  src/Users.Actions/Users.Actions/docs/v1.0-beta/Restore-MgUserDriveListItemDocumentSetVersion.md
  src/Users.Actions/Users.Actions/docs/v1.0/Microsoft.Graph.Users.Actions.md
  src/Users.Actions/Users.Actions/docs/v1.0/Restore-MgUserDriveItemListItemDocumentSetVersion.md
  src/Users.Actions/Users.Actions/docs/v1.0/Restore-MgUserDriveListItemDocumentSetVersion.md
  src/Users.Actions/Users.Actions/docs/v1.0/Restore-MgUserDriveRootListItemDocumentSetVersion.md
  src/Users.Actions/Users.Actions/examples/v1.0/Restore-MgUserDriveItemListItemDocumentSetVersion.md
  src/Users.Actions/Users.Actions/examples/v1.0/Restore-MgUserDriveListItemDocumentSetVersion.md
  src/Users.Actions/Users.Actions/examples/v1.0/Restore-MgUserDriveRootListItemDocumentSetVersion.md
Due: none

Docs Generation for DeviceManagement.Administration [run ci]
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Microsoft.Graph.DeviceManagement.Administration.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/New-MgDeviceManagementVirtualEndpointExternalPartnerSetting.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0-beta/Update-MgDeviceManagementVirtualEndpointExternalPartnerSetting.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/docs/v1.0/Microsoft.Graph.DeviceManagement.Administration.md
Due: none

Docs Generation for Devices.CorporateManagement [run ci]
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Microsoft.Graph.Devices.CorporateManagement.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgUserManagedDevice.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgUserManagedDevice.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/Microsoft.Graph.Devices.CorporateManagement.md
Due: none

Docs Generation for Reports [run ci]
  src/Reports/Reports/docs/v1.0-beta/Microsoft.Graph.Reports.md
  src/Reports/Reports/docs/v1.0/Microsoft.Graph.Reports.md
Due: none

Docs Generation for DeviceManagement.Actions [run ci]
  src/DeviceManagement.Actions/DeviceManagement.Actions/docs/v1.0-beta/Microsoft.Graph.DeviceManagement.Actions.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/docs/v1.0/Get-MgDeviceManagementReportNoncompliantDeviceAndSettingReport.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/docs/v1.0/Microsoft.Graph.DeviceManagement.Actions.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/examples/v1.0/Get-MgDeviceManagementReportNoncompliantDeviceAndSettingReport.md
Due: none

Docs Generation for Users.Functions [run ci]
  src/Users.Functions/Users.Functions/docs/v1.0-beta/Get-MgAllUserChatMessage.md
  src/Users.Functions/Users.Functions/docs/v1.0-beta/Get-MgUserChatMessageDelta.md
  src/Users.Functions/Users.Functions/docs/v1.0-beta/Get-MgUserChatMessageReplyDelta.md
  src/Users.Functions/Users.Functions/docs/v1.0-beta/Get-MgUserDeviceDelta.md
  src/Users.Functions/Users.Functions/docs/v1.0-beta/Get-MgUserDriveListContentTypeCompatibleHubContentType.md
  src/Users.Functions/Users.Functions/docs/v1.0-beta/Microsoft.Graph.Users.Functions.md
  src/Users.Functions/Users.Functions/docs/v1.0/Get-MgAllUserChatMessage.md
  src/Users.Functions/Users.Functions/docs/v1.0/Get-MgUserChatMessageDelta.md
  src/Users.Functions/Users.Functions/docs/v1.0/Get-MgUserChatMessageReplyDelta.md
  src/Users.Functions/Users.Functions/docs/v1.0/Get-MgUserDriveListContentTypeCompatibleHubContentType.md
  src/Users.Functions/Users.Functions/docs/v1.0/Microsoft.Graph.Users.Functions.md
  src/Users.Functions/Users.Functions/examples/v1.0-beta/Get-MgUserDeviceDelta.md
Due: none

Docs Generation for Education [run ci]
  src/Education/Education/docs/v1.0-beta/Microsoft.Graph.Education.md
  src/Education/Education/docs/v1.0-beta/New-MgEducationClass.md
  src/Education/Education/docs/v1.0-beta/New-MgEducationSchool.md
  src/Education/Education/docs/v1.0-beta/New-MgEducationUser.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationClass.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationMe.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationRoot.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationSchool.md
  src/Education/Education/docs/v1.0-beta/Update-MgEducationUser.md
  src/Education/Education/docs/v1.0/Microsoft.Graph.Education.md
  src/Education/Education/docs/v1.0/New-MgEducationClass.md
  src/Education/Education/docs/v1.0/New-MgEducationSchool.md
  src/Education/Education/docs/v1.0/New-MgEducationUser.md
  src/Education/Education/docs/v1.0/Update-MgEducationClass.md
  src/Education/Education/docs/v1.0/Update-MgEducationMe.md
  src/Education/Education/docs/v1.0/Update-MgEducationRoot.md
  src/Education/Education/docs/v1.0/Update-MgEducationSchool.md
  src/Education/Education/docs/v1.0/Update-MgEducationUser.md
Due: none

Docs Generation for Applications [run ci]
  src/Applications/Applications/docs/v1.0-beta/Microsoft.Graph.Applications.md
  src/Applications/Applications/docs/v1.0-beta/New-MgApplication.md
  src/Applications/Applications/docs/v1.0-beta/New-MgApplicationExtensionProperty.md
  src/Applications/Applications/docs/v1.0-beta/New-MgOnPremisePublishingProfile.md
  src/Applications/Applications/docs/v1.0-beta/New-MgOnPremisePublishingProfileConnector.md
  src/Applications/Applications/docs/v1.0-beta/New-MgOnPremisePublishingProfileConnectorGroup.md
  src/Applications/Applications/docs/v1.0-beta/Update-MgApplication.md
  src/Applications/Applications/docs/v1.0-beta/Update-MgApplicationExtensionProperty.md
  src/Applications/Applications/docs/v1.0-beta/Update-MgOnPremisePublishingProfile.md
  src/Applications/Applications/docs/v1.0-beta/Update-MgOnPremisePublishingProfileConnector.md
  src/Applications/Applications/docs/v1.0-beta/Update-MgOnPremisePublishingProfileConnectorGroup.md
  src/Applications/Applications/docs/v1.0/Microsoft.Graph.Applications.md
  src/Applications/Applications/docs/v1.0/New-MgApplication.md
  src/Applications/Applications/docs/v1.0/New-MgApplicationExtensionProperty.md
  src/Applications/Applications/docs/v1.0/Update-MgApplication.md
  src/Applications/Applications/docs/v1.0/Update-MgApplicationExtensionProperty.md
Due: none

Docs Generation for Groups [run ci]
  src/Groups/Groups/docs/v1.0-beta/Add-MgGroupSite.md
  src/Groups/Groups/docs/v1.0-beta/Microsoft.Graph.Groups.md
  src/Groups/Groups/docs/v1.0-beta/New-MgGroup.md
  src/Groups/Groups/docs/v1.0-beta/New-MgUserJoinedGroup.md
  src/Groups/Groups/docs/v1.0-beta/Remove-MgGroupSite.md
  src/Groups/Groups/docs/v1.0-beta/Update-MgGroup.md
  src/Groups/Groups/docs/v1.0/Add-MgGroupSite.md
  src/Groups/Groups/docs/v1.0/Microsoft.Graph.Groups.md
  src/Groups/Groups/docs/v1.0/New-MgGroup.md
  src/Groups/Groups/docs/v1.0/Remove-MgGroupSite.md
  src/Groups/Groups/docs/v1.0/Restore-MgGroupDriveItemListItemDocumentSetVersion.md
  src/Groups/Groups/docs/v1.0/Restore-MgGroupDriveListItemDocumentSetVersion.md
  src/Groups/Groups/docs/v1.0/Restore-MgGroupDriveRootListItemDocumentSetVersion.md
  src/Groups/Groups/docs/v1.0/Restore-MgGroupSiteListItemDocumentSetVersion.md
  src/Groups/Groups/docs/v1.0/Update-MgGroup.md
  src/Groups/Groups/examples/v1.0/Restore-MgGroupDriveItemListItemDocumentSetVersion.md
  src/Groups/Groups/examples/v1.0/Restore-MgGroupDriveListItemDocumentSetVersion.md
  src/Groups/Groups/examples/v1.0/Restore-MgGroupDriveRootListItemDocumentSetVersion.md
  src/Groups/Groups/examples/v1.0/Restore-MgGroupSiteListItemDocumentSetVersion.md
Due: none

Docs Generation for Identity.DirectoryManagement [run ci]
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Get-MgContactMemberGroup.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Get-MgDevice.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Get-MgDeviceDelta.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Get-MgDomain.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Get-MgOrganizationBrandingLocalizationSquareLogoDark.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Get-MgOrganizationBrandingSquareLogoDark.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Microsoft.Graph.Identity.DirectoryManagement.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/New-MgDevice.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/New-MgOrganization.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/New-MgOrganizationBrandingLocalization.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Set-MgOrganizationBrandingLocalizationSquareLogoDark.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Set-MgOrganizationBrandingSquareLogoDark.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Update-MgDevice.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Update-MgOrganization.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Update-MgOrganizationBranding.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0-beta/Update-MgOrganizationBrandingLocalization.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0/Get-MgDevice.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0/Get-MgDeviceDelta.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0/Get-MgDomain.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0/Microsoft.Graph.Identity.DirectoryManagement.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0/New-MgDevice.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0/Update-MgDevice.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Get-MgDeviceDelta.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Get-MgOrganizationBrandingLocalizationSquareLogoDark.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Get-MgOrganizationBrandingSquareLogoDark.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Set-MgOrganizationBrandingLocalizationSquareLogoDark.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/Set-MgOrganizationBrandingSquareLogoDark.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/Get-MgDeviceDelta.md
Due: none

Docs Generation for Identity.SignIns [run ci]
  src/Identity.SignIns/Identity.SignIns/docs/v1.0-beta/Microsoft.Graph.Identity.SignIns.md
  src/Identity.SignIns/Identity.SignIns/docs/v1.0-beta/New-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/docs/v1.0-beta/New-MgInvitation.md
  src/Identity.SignIns/Identity.SignIns/docs/v1.0-beta/New-MgPolicyMobileAppManagementPolicy.md
  src/Identity.SignIns/Identity.SignIns/docs/v1.0-beta/New-MgPolicyMobileDeviceManagementPolicy.md
  src/Identity.SignIns/Identity.SignIns/docs/v1.0-beta/Update-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/docs/v1.0-beta/Update-MgPolicyMobileAppManagementPolicy.md
  src/Identity.SignIns/Identity.SignIns/docs/v1.0-beta/Update-MgPolicyMobileDeviceManagementPolicy.md
  src/Identity.SignIns/Identity.SignIns/docs/v1.0/Microsoft.Graph.Identity.SignIns.md
  src/Identity.SignIns/Identity.SignIns/docs/v1.0/New-MgIdentityConditionalAccessPolicy.md
  src/Identity.SignIns/Identity.SignIns/docs/v1.0/New-MgInvitation.md
  src/Identity.SignIns/Identity.SignIns/docs/v1.0/Update-MgIdentityConditionalAccessPolicy.md
Due: none

Docs Generation for CloudCommunications [run ci]
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/Microsoft.Graph.CloudCommunications.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/New-MgCommunicationOnlineMeeting.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/New-MgCommunicationOnlineMeetingTranscript.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/New-MgUserOnlineMeeting.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/New-MgUserOnlineMeetingTranscript.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/Update-MgCommunicationOnlineMeeting.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/Update-MgCommunicationOnlineMeetingTranscript.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/Update-MgUserOnlineMeeting.md
  src/CloudCommunications/CloudCommunications/docs/v1.0-beta/Update-MgUserOnlineMeetingTranscript.md
  src/CloudCommunications/CloudCommunications/docs/v1.0/Microsoft.Graph.CloudCommunications.md
Due: none

Docs Generation for Devices.CloudPrint [run ci]
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Microsoft.Graph.Devices.CloudPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/New-MgPrintPrinterShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/New-MgPrintShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintPrinter.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintPrinterShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0-beta/Update-MgPrintShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Microsoft.Graph.Devices.CloudPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/New-MgPrintShare.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Update-MgPrint.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Update-MgPrintPrinter.md
  src/Devices.CloudPrint/Devices.CloudPrint/docs/v1.0/Update-MgPrintShare.md
Due: none

Update config/ModulesMapping.jsonc
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Bump module version.
  config/ModuleMetadata.json
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Bookings/Bookings/readme.md
  src/Calendar/Calendar/readme.md
  src/ChangeNotifications/ChangeNotifications/readme.md
  src/CloudCommunications/CloudCommunications/readme.md
  src/Compliance/Compliance/readme.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/readme.md
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/DeviceManagement.Functions/DeviceManagement.Functions/readme.md
  src/DeviceManagement/DeviceManagement/readme.md
  src/Devices.CloudPrint/Devices.CloudPrint/readme.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
  src/Devices.ServiceAnnouncement/Devices.ServiceAnnouncement/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Education/Education/readme.md
  src/Files/Files/readme.md
  src/Financials/Financials/readme.md
  src/Groups/Groups/readme.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Mail/Mail/readme.md
  src/Notes/Notes/readme.md
  src/People/People/readme.md
  src/PersonalContacts/PersonalContacts/readme.md
  src/Planner/Planner/readme.md
  src/Reports/Reports/readme.md
  src/SchemaExtensions/SchemaExtensions/readme.md
  src/Search/Search/readme.md
  src/Security/Security/readme.md
  src/Sites/Sites/readme.md
  src/Teams/Teams/readme.md
  src/Users.Actions/Users.Actions/readme.md
  src/Users.Functions/Users.Functions/readme.md
  src/Users/Users/readme.md
  src/WindowsUpdates/WindowsUpdates/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Read module version from metamodule config.
  config/ModuleMetadata.json
  tools/BuildModule.ps1
  tools/GenerateAuthenticationModule.ps1
  tools/GenerateMetaModule.ps1
  tools/GenerateModules.ps1
  tools/NuspecHelper.ps1
  tools/SetModuleVersion.ps1
Due: none

Adding the managed tenants module mapping (#1430)
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Generate prerelease workload modules.
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Graph/beta/Microsoft.Graph.Beta.nuspec
  src/Graph/beta/Microsoft.Graph.Beta.psd1
  src/Graph/v1.0/Microsoft.Graph.nuspec
  src/Graph/v1.0/Microsoft.Graph.psd1
  tools/BuildModule.ps1
  tools/CSProjHelper.ps1
  tools/GenerateAuthenticationModule.ps1
  tools/GenerateModules.ps1
  tools/ManageGeneratedModule.ps1
  tools/NuspecHelper.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Lock meta-module version.
  config/ModuleMetadata.json
  src/Graph/beta/Microsoft.Graph.Beta.nuspec
  src/Graph/beta/Microsoft.Graph.Beta.psd1
  src/Graph/v1.0/Microsoft.Graph.nuspec
  src/Graph/v1.0/Microsoft.Graph.psd1
  tools/GenerateMetaModule.ps1
Due: none

Added examples to the cmdlets
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/Get-MgDomainFederationConfiguration.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/New-MgDomainFederationConfiguration.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/Remove-MgDomainFederationConfiguration.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/Update-MgDomainFederationConfiguration.md
Due: none

Add -Identity to Connect-MgGraph.
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Constants.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add -AccountId for MSI.
  src/Authentication/Authentication.Core/Constants.cs
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Models/AuthContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
