Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Added directive to remove invalid path from calendar
  src/Calendar/Calendar.md
Due: none

Updated pool
  .azure-pipelines/weekly-examples-update.yml
  .azure-pipelines/weekly-generation.yml
Due: none

rolled back to the original build agent
  .azure-pipelines/weekly-examples-update.yml
  .azure-pipelines/weekly-generation.yml
Due: none

Excluded bin folder from policheck
  .azure-pipelines/config/policheck/policheck-exclusions.xml
Due: none

Testing with change notifications module first
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Added auth helper tests to credscan
  .azure-pipelines/config/credscan/credscan-suppressions.json
Due: none

Excluded AuthenticationHelperTests
  .azure-pipelines/config/policheck/policheck-exclusions.xml
Due: none

Added self cert password suppression
  .azure-pipelines/config/credscan/credscan-suppressions.json
Due: none

Disabled rosylyn error
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added back the other modules after testing
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updating examples
  src/Search/beta/examples/Get-MgBetaSearchAcronym.md
  src/Search/beta/examples/Get-MgBetaSearchBookmark.md
  src/Search/beta/examples/Get-MgBetaSearchQna.md
  src/Search/beta/examples/New-MgBetaSearchAcronym.md
  src/Search/beta/examples/New-MgBetaSearchBookmark.md
  src/Search/beta/examples/New-MgBetaSearchQna.md
  src/Security/beta/examples/Get-MgBetaSecurityLabelRetentionLabel.md
  src/Security/beta/examples/New-MgBetaSecurityLabelRetentionLabel.md
  src/Security/beta/examples/Remove-MgBetaSecurityLabelRetentionLabel.md
  src/Security/beta/examples/Update-MgBetaSecurityLabelRetentionLabel.md
Due: none

Add issue templating using issue forms
  .github/ISSUE_TEMPLATE/01-sdk-bug.yml
  .github/ISSUE_TEMPLATE/02-sdk-feature-request.yml
  .github/ISSUE_TEMPLATE/03-blank-issue.md
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Updates on the issue form templates and removal of the older templates
  .github/ISSUE_TEMPLATE/01-sdk-bug.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/microsoft-graph-powershell-bug-report.md
  .github/ISSUE_TEMPLATE/service-bug-report-instructions.md
Due: none

Update .github/ISSUE_TEMPLATE/01-sdk-bug.yml on -Debug floag
  .github/ISSUE_TEMPLATE/01-sdk-bug.yml
Due: none

Ordered permsssions by least privilege flag
  src/Authentication/Authentication/Models/GraphCommand.cs
  tools/PostGeneration/NewCommandMetadata.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added permission scope type
  src/Authentication/Authentication/Models/GraphCommand.cs
  tools/PostGeneration/NewCommandMetadata.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added check for uris with query parameters to prevent double encoding of the http request.
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Helpers/EncodeUriPath.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated Identity broker package reference
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Made corrections as per comment from reviewer
  src/Authentication/Authentication/Helpers/EncodeUriPath.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added else block
  src/Authentication/Authentication/Helpers/EncodeUriPath.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated 1ES pool for weekly examples update
  .azure-pipelines/weekly-examples-update.yml
Due: none

Added support for external docs link in findmggraph command
  .gitmodules
  src/Authentication/Authentication/Models/GraphCommand.cs
  tools/PostGeneration/NewCommandMetadata.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added pester test for the external docs support
  src/Authentication/Authentication/test/Find-MgGraphCommand.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated pester test
  src/Authentication/Authentication/test/Find-MgGraphCommand.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated submodule
  .gitmodules
Due: none
