Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Run all modules.
  .azure-pipelines/common-templates/download-openapi-docs.yml
  config/ModulesMapping.jsonc
  tools/GenerateProfiles.ps1
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Set base branch to dev.
  .azure-pipelines/weekly-generation.yml
Due: none

Add issue and PR templates.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/service-bug-report-instructions.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Use PAT for git commands.
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/generation-templates/generate-command-metadata-template.yml
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

Initial implemenatation of parameter completion
  src/Authentication/Authentication/custom/Find-MgGraphPermission.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Checkout submodule from checkout task.
  .azure-pipelines/common-templates/checkout.yml
Due: none

Add dependabot configuration.
  .github/dependabot.yml
Due: none

Connect-MgGraph Parameter completer
  src/Authentication/Authentication/custom/Find-MgGraphPermission.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add service bug report instructions.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/service-bug-report-instructions.md
Due: none

Code refactoring
  src/Authentication/Authentication/custom/Find-MgGraphPermission.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update New-MgInvitation.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/New-MgInvitation.md
Due: none

Add Service Announcement APIs.
  config/ModulesMapping.jsonc
  openApiDocs/beta/Devices.ServiceAnnouncement.yml
  openApiDocs/v1.0/Devices.ServiceAnnouncement.yml
  profiles/Devices.ServiceAnnouncement/crawl-log-v1.0-beta.json
  profiles/Devices.ServiceAnnouncement/crawl-log-v1.0.json
  profiles/Devices.ServiceAnnouncement/definitions/v1.0-beta.md
  profiles/Devices.ServiceAnnouncement/definitions/v1.0.md
  profiles/Devices.ServiceAnnouncement/readme.md
  src/Devices.ServiceAnnouncement/Devices.ServiceAnnouncement/Microsoft.Graph.Devices.ServiceAnnouncement.psd1
  src/Devices.ServiceAnnouncement/Devices.ServiceAnnouncement/readme.md
  src/WindowsUpdates/WindowsUpdates/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Fix empty body on -Debug
  tools/Custom/HttpMessageLogFormatter.cs
Due: none

Clean up code.
  tools/Custom/HttpMessageLogFormatter.cs
Due: none

Update New-MgInvitation.md (#1112)
  src/Identity.SignIns/Identity.SignIns/examples/v1.0/New-MgInvitation.md
Due: none

Upgrade dependencies.
  src/Authentication/Authentication.Core/Authenticator.cs
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/TokenCache/TokenCacheStorage.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Core/Utilities/JwtHelpers.cs
  src/Authentication/Authentication.Core/Utilities/PlatformHelpers.cs
  src/Authentication/Authentication.Core/Utilities/UserProvidedTokenCredential.cs
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication.Test/Helpers/HttpHelpersTests.cs
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Helpers/ContentHelper.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Helpers/InvokeGraphRequestAuthProvider.cs
  src/Authentication/Authentication/Helpers/RequestUserAgent.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Utilities/DependencyAssemblyResolver.cs
  src/Authentication/Authentication/build-module.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Fixes Missing Debug Body (#1114)
  tools/Custom/HttpMessageLogFormatter.cs
Due: none

AzDo Pipeline Improvements (#1102)
  .azure-pipelines/common-templates/checkout.yml
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/generation-templates/generate-command-metadata-template.yml
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  .azure-pipelines/weekly-generation.yml
Due: none

Increase timeout to match build time.
  .azure-pipelines/generate-modules-template.yml
  .azure-pipelines/generation-templates/generate-service-modules.yml
Due: none

Fix dependency resolution in PS 5.1
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Utilities/DependencyAssemblyResolver.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add GitHub Issue Templates (#1110)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/service-bug-report-instructions.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add caching.
  src/Authentication/Authentication.Core/Authenticator.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Core/Utilities/JwtHelpers.cs
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/DisconnectMgGraph.cs
  src/Authentication/Authentication/Common/GraphSettings.cs
  src/Authentication/Authentication/Extensions/PSCmdletExtensions.cs
  src/Authentication/Authentication/Helpers/HttpKnownHeaderNames.cs
  src/Authentication/Authentication/Helpers/StringUtil.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/Utilities/DependencyAssemblyResolver.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

updates and removing findmg parameter completer
  src/Authentication/Authentication/custom/Connect-MgGraphParameterCompleter.ps1
  src/Authentication/Authentication/custom/Find-MgGraphPermission.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add Issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Re-use access token from cache.
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/build-module.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update session object after authentication.
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/Utilities/DependencyAssemblyResolver.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

new updates requested
  src/Authentication/Authentication/custom/ParameterCompleters.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Connect-MgGraph Parameter completer
  src/Authentication/Authentication/custom/Find-MgGraphPermission.ps1
  src/Authentication/Authentication/custom/ParameterCompleters.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Connect-MgGraph parameter completer
  src/Authentication/Authentication/custom/Find-MgGraphPermission.ps1
  src/Authentication/Authentication/custom/ParameterCompleters.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add inline directive.
  src/readme.graph.md
Due: none

Connect-MgGraph parameter completer v0.2
  src/Authentication/Authentication/custom/ParameterCompleters.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
