Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Update test to expect the new flag in AppCertificateParameterSet
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add flag to send certificate chain for subject name / issuer based auth in Connect-MgGraph
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Models/AuthContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Disabled Binskim and commented out other modules for testing purposes
  .azure-pipelines/weekly-generation.yml
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Renabled generation of all modules
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Corrected formatting
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Fixes parameter sets count
  src/Authentication/Authentication/test/Get-MgGraphOption.Tests.ps1
  src/Authentication/Authentication/test/Set-MgGraphOption.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated parameter sets
  src/Authentication/Authentication/test/Get-MgGraphOption.Tests.ps1
  src/Authentication/Authentication/test/Set-MgGraphOption.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Removed unnecessary aritifacts generation branch
  .azure-pipelines/weekly-generation.yml
Due: none

Updated pester test
  src/Authentication/Authentication/test/Get-MgGraphOption.Tests.ps1
  src/Authentication/Authentication/test/Set-MgGraphOption.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated import script to solely rely on find-mggraph command
  tools/ImportExamples.ps1
Due: none

Updating examples
  src/Education/beta/examples/Update-MgBetaEducationClassAssignmentSetting.md
  src/Planner/v1.0/examples/New-MgPlannerPlan.md
  src/Security/beta/examples/New-MgBetaSecurityTriggerRetentionEvent.md
  src/Security/beta/examples/Update-MgBetaSecurityLabelRetentionLabel.md
Due: none

Updated pester tests
  src/Authentication/Authentication/test/Find-MgGraphCommand.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added safe rollout feature
  config/ModuleMetadata.json
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Constants.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated file
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update Auth helper and ConnectMgGraph classes
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Removed unnecessary debug
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Weekly OpenApiDocs Download.
  openApiDocs/beta/DeviceManagement.Actions.yml
  openApiDocs/beta/Files.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/Security.yml
  openApiDocs/beta/Users.Functions.yml
  openApiDocs/beta/Users.yml
  openApiDocs/v1.0/Bookings.yml
  openApiDocs/v1.0/DeviceManagement.yml
  openApiDocs/v1.0/Devices.CorporateManagement.yml
  openApiDocs/v1.0/Groups.yml
  openApiDocs/v1.0/Identity.DirectoryManagement.yml
  openApiDocs/v1.0/Identity.SignIns.yml
  openApiDocs/v1.0/Security.yml
  openApiDocs/v1.0/Users.yml
Due: none

Updating examples
  src/Education/beta/examples/Remove-MgBetaEducationClassMemberByRef.md
  src/Education/v1.0/examples/Remove-MgEducationClassMemberByRef.md
  src/Search/beta/examples/New-MgBetaSearchBookmark.md
Due: none

Adds breaking changes in response to the cmdlets that changed as a result of metadata changes
  docs/PowerShellBreakingChanges-Beta.csv
  docs/PowerShellBreakingChanges-V1.0.csv
Due: none

Added migration script
  docs/BreakingChangeMigration.ps1
Due: none

Made changes to accomodate backward compatibility due to breaking changes
  src/Applications/Applications.md
  src/Applications/v1.0/readme.md
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Models/GraphCommand.cs
  src/Authentication/Authentication/custom/Find-MgGraphCommand.ps1
  src/CrossDeviceExperiences/CrossDeviceExperiences.md
  src/Education/Education.md
  src/Groups/Groups.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement.md
  src/Identity.Governance/Identity.Governance.md
  src/Identity.SignIns/Identity.SignIns.md
  src/readme.graph.md
  tools/PostGeneration/NewCommandMetadata.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Cleaned read me file in Applications v1.0
  src/Applications/v1.0/readme.md
Due: none

Removed command alias from interface due to failing auth tests
  src/Authentication/Authentication/Models/GraphCommand.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added API reference link to interface
  src/Authentication/Authentication/Models/GraphCommand.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added implementation for detecting open Api changes
  .azure-pipelines/common-templates/install-tools.yml
  src/Authentication/Authentication.sln
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/FileHandler.cs
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Model.cs
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/OpenApiChanges.ps1
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/OpenApiInfoGenerator.csproj
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/OriginalMetadata.cs
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Parameters.cs
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Program.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated script and pipeline
  .azure-pipelines/common-templates/download-openapi-docs.yml
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/GenerateErrorAndInfoFile.ps1
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/OpenApiChanges.ps1
Due: none

Added check for open api errors as part of prechecks in pipeline
  .azure-pipelines/ci-build.yml
  .azure-pipelines/generation-templates/check-openapi-errors.yml
Due: none

Running test with one module first
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Corrected paths
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/FileHandler.cs
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Program.cs
Due: none

Rectified file formatting
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/Program.cs
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
