Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Added network access Open Api tags to modules mapping file and generated Open Api yml file
  config/ModulesMapping.jsonc
  openApiDocs/beta/NetworkAccess.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Rename parameter causing conflicts
  src/NetworkAccess/NetworkAccess.md
Due: none

Removed unnecessary errors file
  docs/OpenApiInfo/v1.0/openAPIErrors.csv
Due: none

Updated tests
  src/Authentication/Authentication/test/Find-MgGraphCommand.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated Find-MgGraphCommand test
  src/Authentication/Authentication/test/Find-MgGraphCommand.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update src/Authentication/Authentication/Helpers/ContentHelper.cs
  src/Authentication/Authentication/Helpers/ContentHelper.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Migration to ESRP V5
  .azure-pipelines/common-templates/esrp/codesign-nuget.yml
  .azure-pipelines/common-templates/esrp/codesign.yml
  .azure-pipelines/common-templates/esrp/strongname.yml
Due: none

Update example import script
  tools/ImportExamples.ps1
Due: none

Switch to test autorest submodule branch
  .gitmodules
Due: none

Bump autorest submodule
  .gitmodules
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Security/beta/examples/Get-MgBetaSecurityPartnerSecurityScore.md
  src/Security/beta/examples/Get-MgBetaSecurityPartnerSecurityScoreCustomerInsight.md
  src/Security/beta/examples/Get-MgBetaSecurityPartnerSecurityScoreHistory.md
  src/Security/beta/examples/Get-MgBetaSecurityPartnerSecurityScoreRequirement.md
  src/Users.Functions/v1.0/examples/Get-MgAllUserOnlineMeetingRecording.md
  src/Users.Functions/v1.0/examples/Get-MgAllUserOnlineMeetingTranscript.md
Due: none

Updated example to remove mentions of Global admin
  src/Identity.DirectoryManagement/v1.0/examples/Get-MgDirectoryRole.md
Due: none

Removed erronous example header
  src/DeviceManagement.Enrollment/beta/examples/New-MgBetaRoleManagementCloudPcRoleDefinition.md
  src/DeviceManagement.Enrollment/beta/examples/Update-MgBetaRoleManagementCloudPcRoleDefinition.md
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
  src/Bookings/v1.0/examples/Enable-MgBackupRestore.md
  src/Identity.Governance/v1.0/examples/Get-MgEntitlementManagementAssignmentPolicy.md
  src/Reports/v1.0/examples/Get-MgAdminReportSetting.md
  src/Security/beta/examples/Get-MgBetaSecurityPartnerSecurityScore.md
  src/Security/beta/examples/Get-MgBetaSecurityPartnerSecurityScoreCustomerInsight.md
  src/Security/beta/examples/Get-MgBetaSecurityPartnerSecurityScoreHistory.md
  src/Security/beta/examples/Get-MgBetaSecurityPartnerSecurityScoreRequirement.md
  src/Users.Functions/v1.0/examples/Get-MgAllUserOnlineMeetingRecording.md
  src/Users.Functions/v1.0/examples/Get-MgAllUserOnlineMeetingTranscript.md
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
Due: none

Added autorest directives to remove overgenerated cmdlets
  src/Security/Security.md
Due: none

Removed DeviceAppManagementMobileAppRelationship from beta generation due to build pipeline errors at autorest stage
  src/Devices.CorporateManagement/beta/readme.md
Due: none

Extracted the correct graph endpoint for cloud environments
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/custom/common/Permissions.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Files/beta/examples/Copy-MgBetaDriveItem.md
Due: none

Removed repetition
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Corrected example 5 title
  src/Groups/v1.0/examples/Get-MgGroup.md
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
