Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Enable all modules.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Increate timeout.
  .azure-pipelines/ci-build.yml
Due: none

Move CI build to a job.
  .azure-pipelines/ci-build.yml
Due: none

Refresh OpenAPI documents.
  openApiDocs/beta/Applications.yml
  openApiDocs/beta/Bookings.yml
  openApiDocs/beta/CloudCommunications.yml
  openApiDocs/beta/Compliance.yml
  openApiDocs/beta/DeviceManagement.Actions.yml
  openApiDocs/beta/DeviceManagement.Administration.yml
  openApiDocs/beta/DeviceManagement.Enrolment.yml
  openApiDocs/beta/DeviceManagement.Functions.yml
  openApiDocs/beta/DeviceManagement.yml
  openApiDocs/beta/Devices.CloudPrint.yml
  openApiDocs/beta/Devices.CorporateManagement.yml
  openApiDocs/beta/Education.yml
  openApiDocs/beta/Files.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/Identity.DirectoryManagement.yml
  openApiDocs/beta/Identity.Governance.yml
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/beta/Notes.yml
  openApiDocs/beta/People.yml
  openApiDocs/beta/Planner.yml
  openApiDocs/beta/Reports.yml
  openApiDocs/beta/SchemaExtensions.yml
  openApiDocs/beta/Search.yml
  openApiDocs/beta/Security.yml
  openApiDocs/beta/Sites.yml
  openApiDocs/beta/Teams.yml
  openApiDocs/beta/Users.Actions.yml
  openApiDocs/beta/Users.Functions.yml
  openApiDocs/beta/Users.yml
  openApiDocs/beta/WindowsUpdates.yml
  openApiDocs/v1.0/Bookings.yml
  openApiDocs/v1.0/Devices.CloudPrint.yml
  openApiDocs/v1.0/Identity.DirectoryManagement.yml
  openApiDocs/v1.0/Notes.yml
  openApiDocs/v1.0/SchemaExtensions.yml
  openApiDocs/v1.0/Search.yml
  openApiDocs/v1.0/Users.Functions.yml
  tools/UpdateOpenApi.ps1
Due: none

Rename ReplyAll commands.
  src/Users.Actions/Users.Actions.md
Due: none

Update src/Authentication/Authentication/custom/ParameterCompleters.ps1
  src/Authentication/Authentication/custom/ParameterCompleters.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Exclude modules with broken APIs.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Fix groups module.
  config/ModulesMapping.jsonc
  src/Groups/Groups.md
  src/Identity.Governance/Identity.Governance.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Remove Financials directive.
  config/ModulesMapping.jsonc
  src/Financials/Financials.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Update src/Identity.SignIns/Identity.SignIns/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
Due: none

Use templates.
  .azure-pipelines/ci-build.yml
  .azure-pipelines/common-templates/install-tools.yml
  .azure-pipelines/common-templates/security-post-checks.yml
  .azure-pipelines/common-templates/security-pre-checks.yml
  .azure-pipelines/generation-templates/authentication-module.yml
  .azure-pipelines/generation-templates/meta-module.yml
  .azure-pipelines/generation-templates/workload-modules.yml
Due: none

Opt-in to test.
  .azure-pipelines/ci-build.yml
  .azure-pipelines/generation-templates/authentication-module.yml
Due: none

Enable signing.
  .azure-pipelines/common-templates/esrp/codesign-nuget.yml
  .azure-pipelines/common-templates/esrp/codesign.yml
  .azure-pipelines/common-templates/esrp/strongname.yml
  .azure-pipelines/generation-templates/authentication-module.yml
  .azure-pipelines/generation-templates/meta-module.yml
  .azure-pipelines/generation-templates/workload-modules.yml
Due: none

Enable test modules.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Update folder path.
  .azure-pipelines/generation-templates/authentication-module.yml
Due: none

Enable signing.
  .azure-pipelines/generation-templates/authentication-module.yml
Due: none

Set signing option for templates.
  .azure-pipelines/ci-build.yml
  .azure-pipelines/generation-templates/authentication-module.yml
  .azure-pipelines/generation-templates/meta-module.yml
  .azure-pipelines/generation-templates/workload-modules.yml
Due: none

Publish module to artifact directory.
  .azure-pipelines/ci-build.yml
  .azure-pipelines/generation-templates/authentication-module.yml
  .azure-pipelines/generation-templates/meta-module.yml
  .azure-pipelines/generation-templates/workload-modules.yml
  config/ModulesMapping.jsonc
  tools/GenerateModules.ps1
  tools/GenerateRollUpModule.ps1
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Publish to drop container on pack and sign.
  .azure-pipelines/ci-build.yml
Due: none

Enable all succeeding modules.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Update src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Confirm-MgRiskyUserCompromised.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Confirm-MgRiskyUserCompromised.md
Due: none

Add more samples for Identity Protection Module (#1399)
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Confirm-MgRiskyUserCompromised.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Get-MgRiskyUser.md
  src/Identity.SignIns/Identity.SignIns/examples/v1.0-beta/Get-MgRiskyUserHistory.md
Due: none

Remove New/Update/Remove MgUserAuthenticationMethod (#1401)
  src/Identity.SignIns/Identity.SignIns/readme.md
Due: none

Publish to feed.
  .azure-pipelines/ci-build.yml
Due: none

Enable packing of meta-module.
  .azure-pipelines/generation-templates/meta-module.yml
  src/Graph/beta/Microsoft.Graph.Beta.nuspec
  src/Graph/beta/Microsoft.Graph.Beta.psd1
  src/Graph/v1.0/Microsoft.Graph.nuspec
  src/Graph/v1.0/Microsoft.Graph.psd1
  tools/GenerateMetaModule.ps1
  tools/GenerateModules.ps1
Due: none

Enable meta-module preview version.
  src/Graph/beta/Microsoft.Graph.Beta.nuspec
  src/Graph/beta/Microsoft.Graph.Beta.psd1
  src/Graph/v1.0/Microsoft.Graph.nuspec
  src/Graph/v1.0/Microsoft.Graph.psd1
  tools/GenerateMetaModule.ps1
Due: none

Set meta-module preview version.
  config/ModuleMetadata.json
Due: none

Enable auth module preview version.
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  tools/BuildModule.ps1
  tools/CSProjHelper.ps1
  tools/GenerateAuthenticationModule.ps1
  tools/NuspecHelper.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove broken API operations.
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
Due: none

Docs Generation for Planner [run ci]
  src/Planner/Planner/docs/v1.0-beta/Microsoft.Graph.Planner.md
  src/Planner/Planner/docs/v1.0-beta/New-MgPlannerBucket.md
  src/Planner/Planner/docs/v1.0-beta/New-MgPlannerPlan.md
  src/Planner/Planner/docs/v1.0-beta/New-MgPlannerRoster.md
  src/Planner/Planner/docs/v1.0-beta/New-MgPlannerTask.md
  src/Planner/Planner/docs/v1.0-beta/Update-MgGroupPlanner.md
  src/Planner/Planner/docs/v1.0-beta/Update-MgPlanner.md
  src/Planner/Planner/docs/v1.0-beta/Update-MgPlannerBucket.md
  src/Planner/Planner/docs/v1.0-beta/Update-MgPlannerPlan.md
  src/Planner/Planner/docs/v1.0-beta/Update-MgPlannerRoster.md
  src/Planner/Planner/docs/v1.0-beta/Update-MgPlannerTask.md
  src/Planner/Planner/docs/v1.0-beta/Update-MgUserPlanner.md
  src/Planner/Planner/docs/v1.0/Microsoft.Graph.Planner.md
  src/Planner/Planner/docs/v1.0/New-MgPlannerBucket.md
  src/Planner/Planner/docs/v1.0/New-MgPlannerPlan.md
  src/Planner/Planner/docs/v1.0/New-MgPlannerTask.md
  src/Planner/Planner/docs/v1.0/Update-MgGroupPlanner.md
  src/Planner/Planner/docs/v1.0/Update-MgPlanner.md
  src/Planner/Planner/docs/v1.0/Update-MgPlannerBucket.md
  src/Planner/Planner/docs/v1.0/Update-MgPlannerPlan.md
  src/Planner/Planner/docs/v1.0/Update-MgPlannerTask.md
  src/Planner/Planner/docs/v1.0/Update-MgUserPlanner.md
Due: none

Docs Generation for Users.Functions [run ci]
  src/Users.Functions/Users.Functions/docs/v1.0-beta/Microsoft.Graph.Users.Functions.md
  src/Users.Functions/Users.Functions/docs/v1.0/Microsoft.Graph.Users.Functions.md
Due: none

Docs Generation for Compliance [run ci]
  src/Compliance/Compliance/docs/v1.0-beta/Add-MgComplianceEdiscoveryCaseReviewSetQueryTag.md
  src/Compliance/Compliance/docs/v1.0-beta/Add-MgComplianceEdiscoveryCaseReviewSetToReviewSet.md
  src/Compliance/Compliance/docs/v1.0-beta/Microsoft.Graph.Compliance.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCase.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodian.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodianSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodianUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseCustodianUserSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHold.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHoldSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHoldUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseLegalHoldUserSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseNoncustodialDataSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseOperation.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseReviewSet.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseReviewSetQuery.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseSourceCollection.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseSourceCollectionAdditionalSource.md
  src/Compliance/Compliance/docs/v1.0-beta/New-MgComplianceEdiscoveryCaseTag.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgCompliance.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscovery.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCase.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodian.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodianSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodianUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseCustodianUserSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHold.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHoldSiteSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHoldUnifiedGroupSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseLegalHoldUserSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseNoncustodialDataSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseOperation.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseReviewSet.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseReviewSetQuery.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseSourceCollection.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseSourceCollectionAdditionalSource.md
  src/Compliance/Compliance/docs/v1.0-beta/Update-MgComplianceEdiscoveryCaseTag.md
  src/Compliance/Compliance/docs/v1.0/Microsoft.Graph.Compliance.md
Due: none

Docs Generation for Devices.CorporateManagement [run ci]
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Microsoft.Graph.Devices.CorporateManagement.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgDeviceAppMgtAndroidManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgDeviceAppMgtDefaultManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgDeviceAppMgtTargetedManagedAppConfiguration.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgDeviceAppMgtiOSManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgUserDeviceManagementTroubleshootingEvent.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgUserManagedDevice.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/New-MgUserMobileAppTroubleshootingEvent.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgDeviceAppMgt.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgDeviceAppMgtAndroidManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgDeviceAppMgtDefaultManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgDeviceAppMgtTargetedManagedAppConfiguration.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgDeviceAppMgtiOSManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgUserDeviceManagementTroubleshootingEvent.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgUserManagedDevice.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0-beta/Update-MgUserMobileAppTroubleshootingEvent.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/Microsoft.Graph.Devices.CorporateManagement.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/New-MgDeviceAppMgtDefaultManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/New-MgDeviceAppMgtTargetedManagedAppConfiguration.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/Update-MgDeviceAppMgt.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/Update-MgDeviceAppMgtDefaultManagedAppProtection.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/docs/v1.0/Update-MgDeviceAppMgtTargetedManagedAppConfiguration.md
Due: none
