Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Update src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add Async suffix to async methods.
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add Script to Generate docs for all modules.
  docs/.gitkeep
  tools/GenerateDocs.ps1
Due: none

Update comments.
  tools/Custom/ListCmdlet.cs
Due: none

break up script
  tools/GenerateDocs.ps1
  tools/GenerateDocsForProfile.ps1
Due: none

Minor script update. Install globally.
  tools/GenerateDocs.ps1
  tools/GenerateDocsForProfile.ps1
Due: none

Weekly OpenApiDocs Download
  openApiDocs/beta/Applications.yml
  openApiDocs/beta/ChangeNotifications.yml
  openApiDocs/beta/Compliance.yml
  openApiDocs/beta/CrossDeviceExperiences.yml
  openApiDocs/beta/Devices.CorporateManagement.yml
  openApiDocs/beta/Education.yml
  openApiDocs/beta/Files.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/Identity.DirectoryManagement.yml
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/beta/Mail.yml
  openApiDocs/beta/People.yml
  openApiDocs/beta/Sites.yml
  openApiDocs/beta/Teams.yml
  openApiDocs/beta/Users.Actions.yml
  openApiDocs/beta/Users.Functions.yml
  openApiDocs/beta/Users.yml
  openApiDocs/v1.0/Applications.yml
  openApiDocs/v1.0/Calendar.yml
  openApiDocs/v1.0/ChangeNotifications.yml
  openApiDocs/v1.0/Education.yml
  openApiDocs/v1.0/Files.yml
  openApiDocs/v1.0/Groups.yml
  openApiDocs/v1.0/Identity.DirectoryManagement.yml
  openApiDocs/v1.0/Identity.SignIns.yml
  openApiDocs/v1.0/Mail.yml
  openApiDocs/v1.0/Sites.yml
  openApiDocs/v1.0/Teams.yml
  openApiDocs/v1.0/Users.Actions.yml
  openApiDocs/v1.0/Users.Functions.yml
  openApiDocs/v1.0/Users.yml
Due: none

Avoid frezzes in Connect-Graph. Make methods private.
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Avoid re-initializing the tokenSource.
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add tests for Null certificate scenarios and precendence.
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add communications singleton
  config/ModulesMapping.jsonc
  src/CloudCommunications/CloudCommunications/Microsoft.Graph.CloudCommunications.psd1
  src/CloudCommunications/CloudCommunications/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Clean up invitation manager.
  src/Identity.SignIns/Identity.SignIns/Microsoft.Graph.Identity.SignIns.psd1
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/readme.graph.md
Due: none

Add DeviceManagement modules
  config/ModulesMapping.jsonc
  src/DeviceManagement.Administration/DeviceManagement.Administration/Microsoft.Graph.DeviceManagement.Administration.psd1
  src/DeviceManagement.Administration/DeviceManagement.Administration/readme.md
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/Microsoft.Graph.DeviceManagement.Enrolment.psd1
  src/DeviceManagement.Enrolment/DeviceManagement.Enrolment/readme.md
  src/DeviceManagement/DeviceManagement/Microsoft.Graph.DeviceManagement.psd1
  src/DeviceManagement/DeviceManagement/readme.md
  tools/GenerateModules.ps1
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Allow Connect-Graph to take an x509Certificate. (#440)
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Interfaces/IAuthContext.cs
  src/Authentication/Authentication/Models/AuthContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add AzureAutomationNotSupported tag to meta-module
  config/ModuleMetadata.json
  src/Graph/Graph/Microsoft.Graph.psd1
Due: none

Update logo branch.
  config/ModuleMetadata.json
  src/Graph/Graph/Microsoft.Graph.psd1
  tools/Templates/Microsoft.Graph.nuspec
Due: none

Weekly OpenApiDocs Download
  openApiDocs/beta/CloudCommunications.yml
  openApiDocs/v1.0/CloudCommunications.yml
Due: none

Add importedDeviceIdentity to device enrolment
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Fix security singleton casing
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Update docs
  openApiDocs/beta/Applications.yml
  openApiDocs/beta/Calendar.yml
  openApiDocs/beta/ChangeNotifications.yml
  openApiDocs/beta/CloudCommunications.yml
  openApiDocs/beta/Compliance.yml
  openApiDocs/beta/Devices.CloudPrint.yml
  openApiDocs/beta/Devices.CorporateManagement.yml
  openApiDocs/beta/Education.yml
  openApiDocs/beta/Files.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/Identity.DirectoryManagement.yml
  openApiDocs/beta/Identity.Governance.yml
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/beta/SchemaExtensions.yml
  openApiDocs/beta/Security.yml
  openApiDocs/beta/Sites.yml
  openApiDocs/beta/Teams.yml
  openApiDocs/beta/Users.Actions.yml
  openApiDocs/beta/Users.Functions.yml
  openApiDocs/beta/Users.yml
  openApiDocs/v1.0/Applications.yml
  openApiDocs/v1.0/Calendar.yml
  openApiDocs/v1.0/CloudCommunications.yml
  openApiDocs/v1.0/Education.yml
  openApiDocs/v1.0/Files.yml
  openApiDocs/v1.0/Groups.yml
  openApiDocs/v1.0/Identity.SignIns.yml
  openApiDocs/v1.0/Search.yml
  openApiDocs/v1.0/Security.yml
  openApiDocs/v1.0/Sites.yml
  openApiDocs/v1.0/Teams.yml
  openApiDocs/v1.0/Users.Actions.yml
  openApiDocs/v1.0/Users.Functions.yml
  openApiDocs/v1.0/Users.yml
Due: none

Bump version number.
  config/ModuleMetadata.json
  src/Applications/Applications/readme.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Bookings/Bookings/readme.md
  src/Calendar/Calendar/readme.md
  src/ChangeNotifications/ChangeNotifications/readme.md
  src/CloudCommunications/CloudCommunications/readme.md
  src/Compliance/Compliance/readme.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/readme.md
  src/Devices.CloudPrint/Devices.CloudPrint/readme.md
  src/Devices.CorporateManagement/Devices.CorporateManagement/readme.md
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Education/Education/readme.md
  src/Files/Files/readme.md
  src/Financials/Financials/readme.md
  src/Groups/Groups/readme.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
  src/Identity.SignIns/Identity.SignIns/readme.md
  src/Mail/Mail/readme.md
  src/Notes/Notes/readme.md
  src/People/People/readme.md
  src/PersonalContacts/PersonalContacts/readme.md
  src/Planner/Planner/readme.md
  src/Reports/Reports/readme.md
  src/SchemaExtensions/SchemaExtensions/readme.md
  src/Search/Search/readme.md
  src/Security/Security/readme.md
  src/Sites/Sites/readme.md
  src/Teams/Teams/readme.md
  src/Users.Actions/Users.Actions/readme.md
  src/Users.Functions/Users.Functions/readme.md
  src/Users/Users/readme.md
  tools/Templates/Microsoft.Graph.nuspec
  tools/Templates/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add role management to administration
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Help Generation Infrastructure
  .azure-pipelines/generate-helpdocs.yml
  .github/workflows/docs.yml
  tools/GenerateHelpDocs.ps1
  tools/GenerateHelpDocsForModules.ps1
  tools/GenerateModules.ps1
Due: none

Create docs.yml
  .github/workflows/docs.yml
Due: none

Generate help docs as last build step and create PR, only in Dev
  .azure-pipelines/generate-helpdocs.yml
  .azure-pipelines/integrated-pipeline.yml
Due: none

File path issue
  .azure-pipelines/integrated-pipeline.yml
Due: none

Remove pool specification
  .azure-pipelines/generate-helpdocs.yml
Due: none

Set to LocalNugetFeed
  .azure-pipelines/generate-helpdocs.yml
Due: none

username change
  .azure-pipelines/generate-helpdocs.yml
Due: none

Persist Security Credentials
  .azure-pipelines/generate-helpdocs.yml
Due: none

Revert back to fully qualified namespace.
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Handle UI Freezes when IMGR is called from WPF (#439)
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Helpers/AsyncHelpers.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Helpers/CustomAsyncCommandRuntime.cs
  src/Authentication/Authentication/Interfaces/IAuthContext.cs
  src/Authentication/Authentication/Models/AuthContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add device management actions and functions.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Remove uneeded file.
  tools/GenerateDocs.ps1
Due: none

Set autorest version in global readme.
  src/readme.graph.md
  tools/GenerateModules.ps1
Due: none

Clean information output.
  tools/GenerateModules.ps1
Due: none

Updated applications samples
  samples/9-Applications.ps1
Due: none

Set default Content-Type header to application/json when user has not specified `-ContentType` for PUT,POST,PATCH.
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Weekly OpenApiDocs Download
  openApiDocs/beta/Applications.yml
  openApiDocs/beta/Calendar.yml
  openApiDocs/beta/CloudCommunications.yml
  openApiDocs/beta/Compliance.yml
  openApiDocs/beta/Devices.CloudPrint.yml
  openApiDocs/beta/Devices.CorporateManagement.yml
  openApiDocs/beta/Education.yml
  openApiDocs/beta/Files.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/Identity.DirectoryManagement.yml
  openApiDocs/beta/Identity.SignIns.yml
  openApiDocs/beta/Mail.yml
  openApiDocs/beta/Notes.yml
  openApiDocs/beta/Reports.yml
  openApiDocs/beta/Search.yml
  openApiDocs/beta/Security.yml
  openApiDocs/beta/Sites.yml
  openApiDocs/beta/Teams.yml
  openApiDocs/beta/Users.Actions.yml
  openApiDocs/beta/Users.Functions.yml
  openApiDocs/beta/Users.yml
  openApiDocs/v1.0/Applications.yml
  openApiDocs/v1.0/Calendar.yml
  openApiDocs/v1.0/CloudCommunications.yml
  openApiDocs/v1.0/Education.yml
  openApiDocs/v1.0/Files.yml
  openApiDocs/v1.0/Groups.yml
  openApiDocs/v1.0/Identity.DirectoryManagement.yml
  openApiDocs/v1.0/Identity.SignIns.yml
  openApiDocs/v1.0/Mail.yml
  openApiDocs/v1.0/Notes.yml
  openApiDocs/v1.0/Reports.yml
  openApiDocs/v1.0/SchemaExtensions.yml
  openApiDocs/v1.0/Search.yml
  openApiDocs/v1.0/Security.yml
  openApiDocs/v1.0/Sites.yml
  openApiDocs/v1.0/Teams.yml
  openApiDocs/v1.0/Users.Actions.yml
  openApiDocs/v1.0/Users.Functions.yml
  openApiDocs/v1.0/Users.yml
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
