Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

fix nullable build error
  src/Authentication/Authentication/Models/AuthContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Feature: Add ability to disable WAM (#3505)
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Interfaces/IGraphOptions.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/SetMgGraphOption.cs
  src/Authentication/Authentication/Models/AuthContext.cs
  src/Authentication/Authentication/Models/GraphOption.cs
  src/Authentication/Authentication/test/Set-MgGraphOption.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updating examples (#3506)
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
Due: none

Mask secret values in Add-MgApplicationPassword.md
  src/Applications/v1.0/examples/Add-MgApplicationPassword.md
Due: none

Mask secret values in Add-MgBetaApplicationPassword.md
  src/Applications/beta/examples/Add-MgBetaApplicationPassword.md
Due: none

Change secretText to use placeholder
  src/Applications/v1.0/examples/Add-MgServicePrincipalKey.md
Due: none

Change secretText to a placeholder in documentation
  src/Applications/beta/examples/Add-MgBetaApplicationKey.md
Due: none

Patch 1 replace secrets in examples (#3509)
  src/Applications/beta/examples/Add-MgBetaApplicationKey.md
  src/Applications/beta/examples/Add-MgBetaApplicationPassword.md
  src/Applications/v1.0/examples/Add-MgApplicationPassword.md
  src/Applications/v1.0/examples/Add-MgServicePrincipalKey.md
Due: none

temp disable condition param
  .azure-pipelines/weekly-generation.yml
Due: none

file rename ref
  .azure-pipelines/weekly-generation.yml
Due: none

re introduce sign param
  .azure-pipelines/generation-templates/individual-workload-module.yml
Due: none

fix: catch error codes in parallel (#3504)
  tools/GenerateModules.ps1
  tools/GenerateServiceModule.ps1
Due: none

validated open api docs
  openApiDocs/beta/CloudCommunications.yml
  openApiDocs/beta/Compliance.yml
  openApiDocs/v1.0/Devices.CorporateManagement.yml
  openApiDocs/v1.0/Identity.Governance.yml
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Add-MgServicePrincipalKey.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
Due: none

Updating examples (#3511)
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Add-MgServicePrincipalKey.md
  src/Applications/v1.0/examples/Get-MgServicePrincipalSynchronizationTemplate.md
Due: none

Weekly OpenApiDocs Download.
  config/ModuleMetadata.json
  tools/OpenApiInfoGenerator/OpenApiInfoGenerator/OpenApiInfoGenerator.csproj.gdn.sarif
Due: none

Updating examples (#3496)
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
Due: none

Add ConfigurationManagement mapping to ModulesMapping
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Update config/ModulesMapping.jsonc
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add ConfigurationManagement mapping to ModulesMapping (#3520)
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

consolidate skipDownload parameters
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/weekly-generation.yml
Due: none

move module matrix to independent script
  .azure-pipelines/weekly-generation.yml
  tools/Utilities/CreateGenerationMatrix.ps1
Due: none

consolidate conditionals and variables
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/weekly-generation.yml
Due: none

move openapidocdiff to dedicated script file
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/weekly-generation.yml
  tools/Utilities/OpenApiDocDiff.ps1
Due: none

remove duplicate diff script
  tools/OpenApiDocDiff.ps1
Due: none

Adjust patch version and fix issue where disabling wam with client ID wont show pop up window
  config/ModuleMetadata.json
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove duplicated code
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Fix Bug for Disable WAM Auth Flow (#3521)
  config/ModuleMetadata.json
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

branch variable scope
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/weekly-generation.yml
Due: none

fix parameter passing
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/weekly-generation.yml
  tools/Utilities/OpenApiDocDiff.ps1
Due: none
