Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

addMigrations root
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Migrations module Autorest configuration updates for Cross Tenant Migration Jobs (#3447)
  config/ModulesMapping.jsonc
  src/Migrations/Migrations.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add generated Migrations folder (#3450)
  config/ModulesMapping.jsonc
  src/Migrations/Migrations.md
  src/Migrations/beta/.gitattributes
  src/Migrations/beta/.gitignore
  src/Migrations/beta/custom/EventExtensions.cs
  src/Migrations/beta/custom/EventFactory.cs
  src/Migrations/beta/custom/FileUploadCmdlet.cs
  src/Migrations/beta/custom/HttpMessageLogFormatter.cs
  src/Migrations/beta/custom/JsonExtensions.cs
  src/Migrations/beta/custom/ListCmdlet.cs
  src/Migrations/beta/custom/Module.cs
  src/Migrations/beta/custom/PSCmdletExtensions.cs
  src/Migrations/beta/custom/README.md
  src/Migrations/beta/docs/README.md
  src/Migrations/beta/examples/README.md
  src/Migrations/beta/how-to.md
  src/Migrations/beta/license.txt
  src/Migrations/beta/readme.md
  src/Migrations/beta/resources/README.md
  src/Migrations/beta/test/README.md
  src/Migrations/beta/test/loadEnv.ps1
  src/Migrations/beta/utils/Unprotect-SecureString.ps1
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

remove unused variable
  .azure-pipelines/ci-build.yml
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaApplicationFederatedIdentityCredential.md
  src/Applications/beta/examples/Get-MgBetaApplicationTemplate.md
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgApplicationFederatedIdentityCredential.md
Due: none

Updating examples (#3453)
  src/Applications/beta/examples/Get-MgBetaApplicationFederatedIdentityCredential.md
  src/Applications/beta/examples/Get-MgBetaApplicationTemplate.md
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
  src/Applications/v1.0/examples/Get-MgApplicationFederatedIdentityCredential.md
Due: none

Weekly OpenApiDocs Download.
  config/ModuleMetadata.json
  openApiDocs/beta/DeviceManagement.Enrollment.yml
  openApiDocs/beta/Reports.yml
  openApiDocs/beta/Security.yml
  openApiDocs/v1.0/Search.yml
Due: none

Remove Dev branch as buffer before Main. Trigger release only on Tagged Commits.
  .azure-pipelines/ci-build.yml
  .azure-pipelines/sdk-release.yml
Due: none

Sdk release and CI-build pipelines are seperated and restructured in Main
  .azure-pipelines/ci-build.yml
  .azure-pipelines/sdk-release.yml
Due: none

Pipelines should target Main branch
  .azure-pipelines/weekly-examples-update.yml
  .azure-pipelines/weekly-generation.yml
Due: none

weekly pipelines should target main branch
  .azure-pipelines/weekly-examples-update.yml
  .azure-pipelines/weekly-generation.yml
Due: none

CI build does not pack and sign
  .azure-pipelines/ci-build.yml
Due: none

Separate CI-Build and Sdk-Release pipelines (#3462)
  .azure-pipelines/ci-build.yml
  .azure-pipelines/sdk-release.yml
  .azure-pipelines/weekly-examples-update.yml
  .azure-pipelines/weekly-generation.yml
Due: none

Separate weekly open api -doc refresh and command metadata refresh
  .azure-pipelines/common-templates/create-pr.yml
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/generation-templates/individual-workload-module.yml
  .azure-pipelines/module-metadata-generation.yml
  .azure-pipelines/weekly-generation.yml
  .github/workflows/metadatachanges.yml
Due: none

rename file
  .azure-pipelines/command-metadata-refresh.yml
Due: none

Weekly OpenApiDocs Download.
  config/ModuleMetadata.json
  openApiDocs/beta/DeviceManagement.Enrollment.yml
  openApiDocs/beta/Reports.yml
  openApiDocs/beta/Security.yml
  openApiDocs/beta/WindowsUpdates.yml
  openApiDocs/v1.0/Files.yml
  openApiDocs/v1.0/Identity.Governance.yml
  openApiDocs/v1.0/Search.yml
  openApiDocs/v1.0/Security.yml
  openApiDocs/v1.0/Teams.yml
Due: none

Weekly OpenApiDocs Download.
  config/ModuleMetadata.json
Due: none

feat: force WAM auth for windows users
  CONTRIBUTING.md
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/ModuleInitializer.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

feat(auth): Provide messages to user regarding WAM on windows support.
  docs/authentication.md
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/SetMgGraphOption.cs
  src/Authentication/docs/Get-MgGraphOption.md
  src/Authentication/docs/Microsoft.Graph.Authentication.md
  src/Authentication/docs/Set-MgGraphOption.md
  src/Authentication/examples/Get-MgGraphOption.md
  src/Authentication/examples/Set-MgGraphOption.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Wiring up WriteWarning
  src/Authentication/Authentication.Core/Interfaces/IPSGraphOutputWriter.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Models/PsGraphOutputWriter.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Sign parameter set to True in CI
  .azure-pipelines/ci-build.yml
Due: none

clear messages regarding WAM option deprecation
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/SetMgGraphOption.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/docs/Get-MgGraphOption.md
  src/Authentication/examples/Set-MgGraphOption.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

remove writeDebug as it doesnt exist in context
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

bump versions to 2.34.0
  config/ModuleMetadata.json
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
