Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Include error message in line one.
  tools/Custom/HttpMessageLogFormatter.cs
  tools/Custom/PSCmdletExtensions.cs
Due: none

Add Microsoft Graph error properties to InnerError.
  src/readme.graph.md
Due: none

Making updates to WAM implementation
  src/Authentication/Authentication/Cmdlets/GetMgGraphOption.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Log Microsoft Graph error codes.
  tools/Custom/HttpMessageLogFormatter.cs
  tools/Custom/PSCmdletExtensions.cs
Due: none

Update src/Authentication/Authentication/Cmdlets/GetMgGraphOption.cs
  src/Authentication/Authentication/Cmdlets/GetMgGraphOption.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update New-MgEntitlementManagementConnectedOrganization.md
  src/Identity.Governance/Identity.Governance/examples/v1.0-beta/New-MgEntitlementManagementConnectedOrganization.md
Due: none

Updating v1 examples
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0-beta/New-MgDomain.md
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/examples/v1.0/New-MgDomain.md
Due: none

Implementing Peter's suggestions v1
  src/Authentication/Authentication/Cmdlets/GetMgGraphOption.cs
  src/Authentication/Authentication/test/Get-MgGraphOption.Tests.ps1
  src/Authentication/Authentication/test/Set-MgGraphOption.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Adding documentation for WAM
  docs/authentication.md
Due: none

Making updates to WAM implementation (#2100)
  docs/authentication.md
  src/Authentication/Authentication/Cmdlets/GetMgGraphOption.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/test/Get-MgGraphOption.Tests.ps1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
  src/Authentication/Authentication/test/Set-MgGraphOption.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Move v2 GA to status.
  config/ModuleMetadata.json
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update readme
  README.md
  samples/5-Teams.ps1
  samples/Scripts/Get-TeamMembers.ps1
  src/Users.Actions/v1.0/examples/Set-MgUserLicense.md
  tools/Tests/DebugTests.ps1
Due: none

Remove duplicates.
  src/DeviceManagement.Enrollment/DeviceManagement.Enrollment.md
  src/Groups/Groups.md
Due: none

Create mg directory on module initialization.
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update beta shield.
  README.md
Due: none

Update code comment in 5-Teams.ps1
  samples/5-Teams.ps1
Due: none

Adds issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/microsoft-graph-powershell-bug-report.md
Due: none

Update beta link
  .github/ISSUE_TEMPLATE/microsoft-graph-powershell-bug-report.md
Due: none

Fix InnorError property name.
  src/Identity.DirectoryManagement/Identity.DirectoryManagement.md
  tools/Custom/HttpMessageLogFormatter.cs
Due: none

Add permission reference link to the readme.
  README.md
Due: none

Update v2 Changelog.
  docs/authentication.md
  docs/upgrade-to-v2.md
Due: none

Include module rename in changelog.
  README.md
  docs/upgrade-to-v2.md
Due: none

Remove duplicate tag in module mapping.
  config/ModulesMapping.jsonc
  openApiDocs/beta/DeviceManagement.yml
  openApiDocs/v1.0/DeviceManagement.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Corrected a typo
  src/Identity.DirectoryManagement/beta/examples/Get-MgBetaDomain.md
  src/Identity.DirectoryManagement/v1.0/examples/Get-MgDomain.md
Due: none

Alias using AutoRest's options.
  src/Devices.CorporateManagement/Devices.CorporateManagement.md
Due: none

Update weekly generation pipeline to support v2 GA.
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/weekly-generation.yml
Due: none

conformed script to v2 snippets on api reference
  .azure-pipelines/weekly-examples-update.yml
  tools/ImportExamples.ps1
Due: none

Uncommented v1
  tools/ImportExamples.ps1
Due: none

Updated base branch from features/2.0 to dev
  .azure-pipelines/weekly-examples-update.yml
Due: none

Update base branches in AzDo pipeline scripts.
  .azure-pipelines/ci-build.yml
  .azure-pipelines/weekly-examples-update.yml
  .azure-pipelines/weekly-generation.yml
Due: none

Add GitHub policies.
  .github/CODEOWNERS
  .github/policies/msgraph-sdk-powershell-branch-protection.yml
Due: none

Clean up pipeline
  .azure-pipelines/weekly-generation.yml
Due: none

Fixed import script to ensure retention of correct examples and deleting wrong examples
  src/CloudCommunications/beta/examples/Get-MgBetaUserOnlineMeeting.md
  tools/ImportExamples.ps1
Due: none
