Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Checked for empty files
  tools/ImportExamples.ps1
Due: none

Ensured that atleast one correct example is maintained if the api returns a wrong example to an existing file with correct examples
  tools/ImportExamples.ps1
Due: none

Reverted back to auto imports
  tools/ImportExamples.ps1
Due: none

Removed extra space created when retaining the correct example
  tools/ImportExamples.ps1
Due: none

Manually corrected user online beta meeting example file
  src/CloudCommunications/beta/examples/Get-MgBetaUserOnlineMeeting.md
Due: none

Update tools/ImportExamples.ps1
  tools/ImportExamples.ps1
Due: none

Corrected formatting
  tools/ImportExamples.ps1
Due: none

Add Window to Windows rename in the breaking change doc.
  docs/upgrade-to-v2.md
Due: none

Uncommented start generator to import examples
  tools/ImportExamples.ps1
Due: none

Bump dependency version.
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update directives.
  src/Devices.CorporateManagement/Devices.CorporateManagement.md
  src/readme.graph.md
Due: none

Correct alias prefix.
  src/Devices.CorporateManagement/Devices.CorporateManagement.md
Due: none

Modified import script
  tools/ImportExamples.ps1
Due: none

Improved script
  tools/ImportExamples.ps1
Due: none

Removed part that adds boiler plate code
  tools/ImportExamples.ps1
Due: none

Fix resourceRoleScope directive.
  src/Identity.Governance/Identity.Governance.md
  src/Sites/Sites.md
Due: none

Include prefix in alias.
  src/Identity.DirectoryManagement/Identity.DirectoryManagement.md
Due: none

Added people admin settings tag
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Added dollar sign at the end
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Transferred tag to Identity directory management
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Added fetch from list variants
  tools/ImportExamples.ps1
Due: none

feat: Add environment to Get-MgContext output
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Test/Helpers/AuthenticationHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/GetMGContext.cs
  src/Authentication/Authentication/Models/AuthContext.cs
  src/Authentication/Authentication/test/Get-MgContext.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

chore: Add duplicate command detection.
  .azure-pipelines/weekly-generation.yml
Due: none

chore: Temporarily disable FindDuplicateCommands task.
  .azure-pipelines/weekly-generation.yml
Due: none

chore: Use Import-PowerShellDataFile to read manifest files.
  .azure-pipelines/weekly-generation.yml
  tools/PostGeneration/FindDuplicateCommand.ps1
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
