Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Reassigned _originalEnvironment variable to the previous user defined state instead of pointing to null
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Corrected comment on Remove-MgEnvironment command
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add DeviceManagementConfigurationSettings apis. (#1326)
  config/ModulesMapping.jsonc
  openApiDocs/beta/DeviceManagement.yml
  openApiDocs/v1.0/DeviceManagement.yml
  profiles/DeviceManagement/crawl-log-v1.0-beta.json
  profiles/DeviceManagement/definitions/v1.0-beta.md
  src/DeviceManagement/DeviceManagement/Microsoft.Graph.DeviceManagement.psd1
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Removed null reference to Graph Instance environment after calling Invoke-MgGraph command (#1328)
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Cleanup Broken Commands (#1325)
  src/Applications/Applications/Microsoft.Graph.Applications.psd1
  src/DirectoryObjects/DirectoryObjects/Microsoft.Graph.DirectoryObjects.psd1
  src/Groups/Groups/Microsoft.Graph.Groups.psd1
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/Microsoft.Graph.Identity.DirectoryManagement.psd1
  src/Identity.Governance/Identity.Governance/Microsoft.Graph.Identity.Governance.psd1
  src/Reports/Reports/Microsoft.Graph.Reports.psd1
  src/Reports/Reports/readme.md
  src/Teams/Teams/Microsoft.Graph.Teams.psd1
  src/Users.Actions/Users.Actions/Microsoft.Graph.Users.Actions.psd1
  src/Users.Actions/Users.Actions/readme.md
  src/readme.graph.md
Due: none

Add custom directive to download files when response is of type octetStreamSchemaResponse.
  src/readme.graph.md
  tools/Custom/PSCmdletExtensions.cs
Due: none

Change agent.
  .azure-pipelines/common-templates/security-prechecks-template.yml
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  .azure-pipelines/integrated-pipeline.yml
  .azure-pipelines/weekly-generation.yml
Due: none

Warn customer if file name already exists.
  src/Authentication/Authentication/ErrorConstants.cs
  src/readme.graph.md
  tools/Custom/PSCmdletExtensions.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Documenting Add-MgEnvironment and Get_MgEnvironment
  README.md
Due: none

Rectified indentation
  README.md
Due: none

Rectified grammatical errors
  README.md
Due: none

Renamed environment title
  README.md
Due: none

Updated descriptions
  README.md
Due: none

Updated cloud links
  README.md
Due: none

Updated headings for cloud descritions
  README.md
Due: none

Separated the documentation into descriptive files
  CmdletsDescription/Applications/Application.md
  CmdletsDescription/CloudEnvironment/CloudEnvironment.md
  CmdletsDescription/Users/Users.md
  README.md
Due: none

Updated readme and added profile folder
  CmdletsDescription/Profile/Profile.md
  README.md
Due: none

Updated heading
  README.md
Due: none

Fixed typo in Get-MgDomain example
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0/Get-MgDomain.md
Due: none

Add custom directive to download files in Reports module. (#1331)
  src/Authentication/Authentication/ErrorConstants.cs
  src/readme.graph.md
  tools/Custom/PSCmdletExtensions.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Fixed typo in Get-MgDomain example (#1335)
  src/Identity.DirectoryManagement/Identity.DirectoryManagement/docs/v1.0/Get-MgDomain.md
Due: none

Merge dev
  src/Files/Files/readme.md
  src/Sites/Sites/readme.md
Due: none

Copy DockerImage to artifact staging directory.
  .azure-pipelines/generate-rollup-module-template.yml
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Fix -RequiredVersion parameter in DockerFile.
  Dockerfile
Due: none

Enable all modules.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Simplify version variable name.
  Dockerfile
Due: none

Update directives.
  src/Groups/Groups/readme.md
Due: none

Switched off the refresh flag
  tools/UpdateOpenApi.ps1
Due: none

Rolled back to original readme file
  CmdletsDescription/Applications/Application.md
  CmdletsDescription/CloudEnvironment/CloudEnvironment.md
  CmdletsDescription/Profile/Profile.md
  CmdletsDescription/Users/Users.md
  README.md
Due: none

ForceRefresh for v1 only
  tools/UpdateOpenApi.ps1
Due: none

Pointed to openapi test environment
  tools/DownloadOpenApiDoc.ps1
  tools/UpdateOpenApi.ps1
Due: none

Disabling condition check for successful docs download and diff check
  .azure-pipelines/generation-templates/generate-service-modules.yml
Due: none

Publish docker image to ACR (#1348)
  .azure-pipelines/generate-rollup-module-template.yml
  Dockerfile
Due: none

Set default HTTP version to 2.0.
  src/Authentication/Authentication/Handlers/HttpVersionHandler.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Lock meta-module GUID.
  config/ModuleMetadata.json
  src/Graph/Graph/Microsoft.Graph.nuspec
  src/Graph/Graph/Microsoft.Graph.psd1
  tools/GenerateRollUpModule.ps1
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
