Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Split Weekly Generation Pipeline
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/generation-templates/individualized-workload-modules.yml
  .azure-pipelines/module-metadata-generation.yml
  .azure-pipelines/weekly-generation.yml
Due: none

remove testing line
  .azure-pipelines/common-templates/download-openapi-docs.yml
Due: none

remove duplicate lines
  .azure-pipelines/generation-templates/individualized-workload-modules.yml
Due: none

update checkout step ref
  .azure-pipelines/module-metadata-generation.yml
Due: none

Update .azure-pipelines/module-metadata-generation.yml
  .azure-pipelines/module-metadata-generation.yml
Due: none

Updating examples
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
Due: none

Add update schedule section to README
  README.md
Due: none

Clarify update schedule wording in README
  README.md
Due: none

Adding mapping for new Migrations module
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Adding mapping for new Migrations module (#3437)
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updating examples
  src/Applications/beta/examples/Get-MgBetaApplicationTemplate.md
  src/Applications/beta/examples/Get-MgBetaServicePrincipalSynchronizationTemplate.md
Due: none

fix: workload module script signing in pwsh at 17:20:16
  .azure-pipelines/generation-templates/workload-modules.yml
Due: none

fix: workload module script signing in pwsh at 17:20:16 (#3443)
  .azure-pipelines/generation-templates/workload-modules.yml
Due: none

Rolled back devicemanagement to the one that 2.19.0 had.
  openApiDocs/beta/DeviceManagement.Actions.yml
Due: none

adding "-AT PoP" option to "Set-MgGraphOptions"
  docs/AT-Pop.md
  docs/authentication.md
  src/Authentication/Authentication.Core/Common/GraphSession.cs
  src/Authentication/Authentication.Core/Interfaces/IGraphOptions.cs
  src/Authentication/Authentication.Core/Interfaces/IGraphRequestPopContext.cs
  src/Authentication/Authentication.Core/Interfaces/IGraphSession.cs
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Cmdlets/SetMgGraphOption.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Handlers/AuthenticationHandler.cs
  src/Authentication/Authentication/Models/GraphOption.cs
  src/Authentication/Authentication/Models/GraphRequestPopContext.cs
  src/Authentication/Authentication/test/Get-MgGraphOption.Tests.ps1
  src/Authentication/Authentication/test/Set-MgGraphOption.Tests.ps1
  src/Authentication/docs/Get-MgGraphOption.md
  src/Authentication/docs/Set-MgGraphOption.md
  src/Authentication/examples/Set-MgGraphOption.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Resolving comments regarding static instance
  src/Authentication/Authentication.Core/Interfaces/IGraphRequestPopContext.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Handlers/AuthenticationHandler.cs
  src/Authentication/Authentication/Models/GraphRequestPopContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

resolving issues with PS 7.4.4
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated expected message
  src/Authentication/docs/Connect-MgGraph.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updated error message
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Fixed pester test expected messages
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updating docs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
  src/Authentication/docs/Connect-MgGraph.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Rebasing to keep up to date
  src/Authentication/Authentication.Core/Common/GraphSession.cs
  src/Authentication/Authentication.Core/Interfaces/IGraphRequestPopContext.cs
  src/Authentication/Authentication.Core/Interfaces/IGraphSession.cs
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.Core.csproj
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Handlers/AuthenticationHandler.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Models/GraphRequestPopContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Updating Migrations module mapping regex
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

chore: updates migrations module mapping regex (#3446)
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Updating mapping and command names for cross tenant migration jobs
  config/ModulesMapping.jsonc
  src/Migrations/Migrations.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Fixing comments for Migrations module autorest config
  src/Migrations/Migrations.md
Due: none

add migrations folder
  src/Migrations/Migrations.md
  src/Migrations/beta/.gitattributes
  src/Migrations/beta/.gitignore
  src/Migrations/beta/custom/EventExtensions.cs
  src/Migrations/beta/custom/EventFactory.cs
  src/Migrations/beta/custom/FileUploadCmdlet.cs
  src/Migrations/beta/custom/HttpMessageLogFormatter.cs
  src/Migrations/beta/custom/JsonExtensions.cs
  src/Migrations/beta/custom/ListCmdlet.cs
  src/Migrations/beta/custom/Module.cs
  src/Migrations/beta/custom/PSCmdletExtensions.cs
  src/Migrations/beta/custom/README.md
  src/Migrations/beta/docs/README.md
  src/Migrations/beta/examples/README.md
  src/Migrations/beta/how-to.md
  src/Migrations/beta/license.txt
  src/Migrations/beta/readme.md
  src/Migrations/beta/resources/README.md
  src/Migrations/beta/test/README.md
  src/Migrations/beta/test/loadEnv.ps1
  src/Migrations/beta/utils/Unprotect-SecureString.ps1
Due: none

seperate ci and release build pipelines
  .azure-pipelines/sdk-release.yml
Due: none
