Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Use latest version of AutoREST.
  config/ModuleMetadata.json
  src/DeviceManagement.Actions/DeviceManagement.Actions.md
  src/readme.graph.md
Due: none

Adds option to set max retry attempt (#1584)
  src/Authentication/Authentication.Core/Common/GraphSession.cs
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Interfaces/IRequestContext.cs
  src/Authentication/Authentication.Test/Helpers/HttpHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Cmdlets/RequestContext/GetMgRequestContext.cs
  src/Authentication/Authentication/Cmdlets/RequestContext/SetMgRequestContext.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/Models/AuthContext.cs
  src/Authentication/Authentication/Models/RequestContext.cs
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Weekly V2 Preview Refresh (#1587)
  .azure-pipelines/ci-build.yml
  .azure-pipelines/common-templates/checkout.yml
  .azure-pipelines/common-templates/download-openapi-docs.yml
  .azure-pipelines/common-templates/esrp/codesign-nuget.yml
  .azure-pipelines/common-templates/esrp/codesign.yml
  .azure-pipelines/common-templates/esrp/strongname.yml
  .azure-pipelines/common-templates/install-tools-template.yml
  .azure-pipelines/common-templates/install-tools.yml
  .azure-pipelines/common-templates/security-post-checks.yml
  .azure-pipelines/common-templates/security-postchecks-template.yml
  .azure-pipelines/common-templates/security-pre-checks.yml
  .azure-pipelines/common-templates/security-prechecks-template.yml
  .azure-pipelines/generate-auth-module-template.yml
  .azure-pipelines/generate-modules-template.yml
  .azure-pipelines/generate-profiles-template.yml
  .azure-pipelines/generate-rollup-module-template.yml
  .azure-pipelines/generation-templates/authentication-module.yml
  .azure-pipelines/generation-templates/generate-command-metadata-template.yml
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  .azure-pipelines/generation-templates/generate-service-modules.yml
  .azure-pipelines/generation-templates/meta-module.yml
  .azure-pipelines/generation-templates/workload-modules.yml
  .azure-pipelines/integrated-pipeline.yml
  .azure-pipelines/weekly-generation.yml
  .gitignore
  Nuget.config
  tools/GenerateProfiles.ps1
  tools/SetMetaModuleVersion.ps1
  tools/SetModuleVersion.ps1
  tools/SetServiceModuleVersion.ps1
  tools/Versions/BumpModuleVersion.ps1
  tools/Versions/SetModuleVersion.ps1
Due: none

Avoid setting DefaultRequestHeaders when request is in flight.
  src/Authentication/Authentication.Test/Helpers/HttpHelpersTests.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Helpers/RequestUserAgent.cs
  tools/Custom/Module.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Mark navigation properties as readOnly.
  tools/TweakOpenApi.ps1
Due: none

Add environment variable auth support.
  src/Authentication/Authentication.Core/ErrorConstants.cs
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Constants.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add Pester tests.
  .gitignore
  src/Authentication/Authentication/.gitignore
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication-TestResults.xml
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Mark navigation properties as readOnly. (#1608)
  tools/TweakOpenApi.ps1
Due: none

Enable build of all modules.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add environment variable authentication support. (#1609)
  .gitignore
  src/Authentication/Authentication.Core/ErrorConstants.cs
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/.gitignore
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
  src/Authentication/Authentication/test/Microsoft.Graph.Authentication-TestResults.xml
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Use indexer to add JsonObject node.
  src/readme.graph.md
Due: none

Fix serialization of Hashtables.
  src/readme.graph.md
Due: none

Use indexer to add JsonObject node. (#1615)
  src/readme.graph.md
Due: none

Remove invalid path from DeviceManagement.Actions.
  src/DeviceManagement.Actions/DeviceManagement.Actions/readme.md
Due: none

Add GitHub action for weekly preview OpenAPI docs refresh PR.
  .github/workflows/create-preview-openapidocs-pr-workflow.yml
Due: none

Add GitHub action for weekly preview OpenAPI docs refresh PR. (#1617)
  .github/workflows/create-preview-openapidocs-pr-workflow.yml
Due: none

Fix type reference of AccessPackageAssignment.Target property.
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementAccessPackageAssignmentRequest.ps1
Due: none

Fix serialization of Hashtables. (#1624)
  src/readme.graph.md
Due: none

Update Find-MgGraphCommand tests.
  src/Authentication/Authentication/custom/Find-MgGraphCommand.ps1
  src/Authentication/Authentication/test/Find-MgGraphCommand.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Fix type reference of AccessPackageAssignment.Target property. (#1629)
  src/Identity.Governance/Identity.Governance/custom/New-MgEntitlementManagementAccessPackageAssignmentRequest.ps1
Due: none

Rename documents to docs.
  config/ModuleMetadata.json
  docs/authentication.md
  docs/images/generationprocess.png
  docs/images/graph_color256.png
  docs/readme.md
  docs/upgrade-to-v2.md
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  tools/Templates/Microsoft.Graph.nuspec
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
