Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

use old autorest
  src/readme.graph.md
Due: none

Print errors
  tools/GenerateModules.ps1
Due: none

fixes
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psm1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

remove unused file
  src/Authentication/Authentication.Core/Microsoft.Graph.Authentication.psm1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

modules to generate.
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

show status when git is done.
  tools/GenerateHelp.ps1
Due: none

change module used.
  src/readme.graph.md
Due: none

correct format
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

Configure user
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

Commit since user is configured.
  tools/GenerateHelp.ps1
Due: none

Debug log
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

Create main.yml
  .github/workflows/docs/main.yml
Due: none

persist credentials
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

Set module name in commit.
  tools/GenerateHelp.ps1
Due: none

use checkout to persist credentials.
  .azure-pipelines/common-templates/checkout.yml
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
  .azure-pipelines/integrated-pipeline.yml
Due: none

checkout step
  .azure-pipelines/integrated-pipeline.yml
Due: none

update credscan
  .azure-pipelines/common-templates/checkout.yml
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

persist credentials due to the way stages work.
  .azure-pipelines/integrated-pipeline.yml
  tools/GenerateHelp.ps1
Due: none

checkout procedure
  .azure-pipelines/generate-modules-template.yml
  .azure-pipelines/integrated-pipeline.yml
Due: none

Docs Generation for Bookings
  src/Bookings/Bookings/docs/v1.0-beta/Get-MgBookingBusiness.md
  src/Bookings/Bookings/docs/v1.0-beta/Get-MgBookingBusinessAppointment.md
  src/Bookings/Bookings/docs/v1.0-beta/Get-MgBookingBusinessCalendarView.md
  src/Bookings/Bookings/docs/v1.0-beta/Get-MgBookingBusinessCustomer.md
  src/Bookings/Bookings/docs/v1.0-beta/Get-MgBookingBusinessService.md
  src/Bookings/Bookings/docs/v1.0-beta/Get-MgBookingBusinessStaffMember.md
  src/Bookings/Bookings/docs/v1.0-beta/Get-MgBookingCurrency.md
  src/Bookings/Bookings/docs/v1.0-beta/Microsoft.Graph.Bookings.md
  src/Bookings/Bookings/docs/v1.0-beta/New-MgBookingBusiness.md
  src/Bookings/Bookings/docs/v1.0-beta/New-MgBookingBusinessAppointment.md
  src/Bookings/Bookings/docs/v1.0-beta/New-MgBookingBusinessCalendarView.md
  src/Bookings/Bookings/docs/v1.0-beta/New-MgBookingBusinessCustomer.md
  src/Bookings/Bookings/docs/v1.0-beta/New-MgBookingBusinessService.md
  src/Bookings/Bookings/docs/v1.0-beta/New-MgBookingBusinessStaffMember.md
  src/Bookings/Bookings/docs/v1.0-beta/New-MgBookingCurrency.md
  src/Bookings/Bookings/docs/v1.0-beta/Publish-MgBookingBusiness.md
  src/Bookings/Bookings/docs/v1.0-beta/Remove-MgBookingBusiness.md
  src/Bookings/Bookings/docs/v1.0-beta/Remove-MgBookingBusinessAppointment.md
  src/Bookings/Bookings/docs/v1.0-beta/Remove-MgBookingBusinessCalendarView.md
  src/Bookings/Bookings/docs/v1.0-beta/Remove-MgBookingBusinessCustomer.md
  src/Bookings/Bookings/docs/v1.0-beta/Remove-MgBookingBusinessService.md
  src/Bookings/Bookings/docs/v1.0-beta/Remove-MgBookingBusinessStaffMember.md
  src/Bookings/Bookings/docs/v1.0-beta/Remove-MgBookingCurrency.md
  src/Bookings/Bookings/docs/v1.0-beta/Stop-MgBookingBusinessAppointment.md
  src/Bookings/Bookings/docs/v1.0-beta/Stop-MgBookingBusinessCalendarView.md
  src/Bookings/Bookings/docs/v1.0-beta/Unpublish-MgBookingBusiness.md
  src/Bookings/Bookings/docs/v1.0-beta/Update-MgBookingBusiness.md
  src/Bookings/Bookings/docs/v1.0-beta/Update-MgBookingBusinessAppointment.md
  src/Bookings/Bookings/docs/v1.0-beta/Update-MgBookingBusinessCalendarView.md
  src/Bookings/Bookings/docs/v1.0-beta/Update-MgBookingBusinessCustomer.md
  src/Bookings/Bookings/docs/v1.0-beta/Update-MgBookingBusinessService.md
  src/Bookings/Bookings/docs/v1.0-beta/Update-MgBookingBusinessStaffMember.md
  src/Bookings/Bookings/docs/v1.0-beta/Update-MgBookingCurrency.md
Due: none

Skip CI Move around security templates.
  .azure-pipelines/common-templates/checkout.yml
  .azure-pipelines/common-templates/security-postchecks-template.yml
  .azure-pipelines/common-templates/security-prechecks-template.yml
  .azure-pipelines/generation-templates/generate-service-modules.yml
  .azure-pipelines/integrated-pipeline.yml
  .azure-pipelines/security-postchecks-template.yml
  .azure-pipelines/security-prechecks-template.yml
  tools/GenerateHelp.ps1
Due: none

reorder templates.
  .azure-pipelines/integrated-pipeline.yml
Due: none

Docs Generation PR.
  .github/workflows/helpdocs.yml
Due: none

Create Help Docs workflow
  .github/workflows/docs/helpdocs.yml
Due: none

Revert to full module generation.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Inform the user to switch to Device Code Authentication when Browser and thus interactive auth is not availoable such as on CloudShell.
  src/Authentication/Authentication.Core/Authenticator.cs
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Core/Utilities/AuthenticationHelpers.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/Models/AuthContext.cs
  src/Authentication/Authentication/Properties/Resources.Designer.cs
  src/Authentication/Authentication/Properties/Resources.resx
  src/Authentication/Authentication/test/Connect-MgGraph.Tests.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update GenerateHelp.ps1
  tools/GenerateHelp.ps1
Due: none

Use PlatyPS
  tools/GenerateHelp.ps1
Due: none

Dont Generate security, for now.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Skip platyps validation.
  tools/GenerateHelp.ps1
Due: none

Fix exception thrown when Debug is called for Service modules. Show full request body and response when Debug is called.
  tools/Custom/HttpMessageFormatter.cs
  tools/Custom/Module.cs
Due: none

Fix aggrement file directive.
  src/Identity.Governance/Identity.Governance/readme.md
Due: none

Bump SDK version to 1.4.3.
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Financials/Financials/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add sistes.permissions tag to module mappings.
  config/ModulesMapping.jsonc
  openApiDocs/beta/Sites.yml
  openApiDocs/v1.0/Sites.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Generate profile for sites.
  profiles/Sites/crawl-log-v1.0-beta.json
  profiles/Sites/crawl-log-v1.0.json
  profiles/Sites/definitions/v1.0-beta.md
  profiles/Sites/definitions/v1.0.md
Due: none

Update agreementFile remove directive (#605)
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/DirectoryObjects/DirectoryObjects/readme.md
  src/Financials/Financials/readme.md
  src/Identity.Governance/Identity.Governance/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Sort crawl logs.
  tools/GenerateProfiles.ps1
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
