Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Auth Generation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation_Windows
    displayName: MS Graph PS SDK Auth Validation - Windows
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Beta Validation
    timeoutInMinutes: 300
    pool:
      vmImage: windows-latest
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Add -ClientTimeout to Connect-MgGraph.
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Test/Helpers/HttpHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Models/AuthContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add v1.0 Booking Business Under Solutions Singleton. (#1006)
  config/ModulesMapping.jsonc
  openApiDocs/v1.0/Bookings.yml
  profiles/Bookings/crawl-log-v1.0.json
  profiles/Bookings/definitions/v1.0.md
  profiles/Bookings/readme.md
  src/Bookings/Bookings/Microsoft.Graph.Bookings.psd1
  src/Bookings/Bookings/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Increase request timeout to match default retry attempts. (#1018)
  src/Authentication/Authentication.Core/Interfaces/IAuthContext.cs
  src/Authentication/Authentication.Test/Helpers/HttpHelpersTests.cs
  src/Authentication/Authentication/Cmdlets/ConnectMgGraph.cs
  src/Authentication/Authentication/Cmdlets/InvokeMgGraphRequest.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Models/AuthContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

checkout submodules persist credentials.
  .azure-pipelines/common-templates/checkout.yml
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

Test with fewer modules.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

generate fewer modules.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

remove incorrect checkout.
  .azure-pipelines/generate-modules-template.yml
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

fix up
  .azure-pipelines/generate-modules-template.yml
Due: none

update
  .azure-pipelines/generation-templates/generate-helpdocs-template.yml
Due: none

fix branch variable.
  .azure-pipelines/generate-modules-template.yml
Due: none

use docs generation directly.
  .azure-pipelines/generate-modules-template.yml
Due: none

remove
  .azure-pipelines/common-templates/checkout.yml
Due: none

Doc git issues.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

update
  .azure-pipelines/common-templates/checkout.yml
Due: none

Add generated MgCommandMetadata.json. [run ci]
  .azure-pipelines/common-templates/download-openapi-docs.yml
Due: none

Update ModulesMapping.jsonc
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Remove skip ci message
  .github/workflows/create-helpdocs-pr-workflow.yml
  tools/GenerateHelp.ps1
Due: none

trigger workflow.
  src/Bookings/Bookings/docs/v1.0-beta/Get-MgBookingBusiness.md
Due: none

Run ci for builds
  tools/GenerateHelp.ps1
Due: none

update.
  .azure-pipelines/common-templates/checkout.yml
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Remove checkout rule.
  .azure-pipelines/common-templates/checkout.yml
Due: none

Weekly OpenApiDocs Download. [run ci]
  openApiDocs/beta/Compliance.yml
  openApiDocs/beta/Devices.CloudPrint.yml
  openApiDocs/beta/Files.yml
  openApiDocs/beta/Groups.yml
  openApiDocs/beta/Users.Functions.yml
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Docs Generation for DirectoryObjects [run ci]
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Confirm-MgDirectoryObjectMemberGroup.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Confirm-MgDirectoryObjectMemberObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Get-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Get-MgDirectoryObjectById.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Get-MgDirectoryObjectMemberGroup.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Get-MgDirectoryObjectMemberObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Get-MgDirectoryObjectUserOwnedObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Microsoft.Graph.DirectoryObjects.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/New-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Remove-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Restore-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Test-MgDirectoryObjectProperty.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0-beta/Update-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Confirm-MgDirectoryObjectMemberGroup.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Confirm-MgDirectoryObjectMemberObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObjectAvailableExtensionProperty.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObjectById.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObjectMemberGroup.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObjectMemberObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Get-MgDirectoryObjectMicrosoftGraphAdministrativeUnitDelta.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Microsoft.Graph.DirectoryObjects.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/New-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Remove-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Restore-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Test-MgDirectoryObjectProperty.md
  src/DirectoryObjects/DirectoryObjects/docs/v1.0/Update-MgDirectoryObject.md
  src/DirectoryObjects/DirectoryObjects/examples/v1.0/Get-MgDirectoryObjectMicrosoftGraphAdministrativeUnitDelta.md
Due: none

Docs Generation for SchemaExtensions [run ci]
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Get-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Microsoft.Graph.SchemaExtensions.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/New-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Remove-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0-beta/Update-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Get-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Microsoft.Graph.SchemaExtensions.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/New-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Remove-MgSchemaExtension.md
  src/SchemaExtensions/SchemaExtensions/docs/v1.0/Update-MgSchemaExtension.md
Due: none

Docs Generation for CrossDeviceExperiences [run ci]
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivityHistoryItemActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Get-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Microsoft.Graph.CrossDeviceExperiences.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/New-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/New-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/New-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Remove-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Set-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Update-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Update-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0-beta/Update-MgUserDevice.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivityHistoryItemActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Get-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Microsoft.Graph.CrossDeviceExperiences.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/New-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/New-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Remove-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Remove-MgUserActivityHistoryItem.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Remove-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Set-MgUserActivityHistoryItemActivityByRef.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Update-MgUserActivity.md
  src/CrossDeviceExperiences/CrossDeviceExperiences/docs/v1.0/Update-MgUserActivityHistoryItem.md
Due: none

Docs Generation for ChangeNotifications [run ci]
  src/ChangeNotifications/ChangeNotifications/docs/v1.0-beta/Get-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0-beta/Microsoft.Graph.ChangeNotifications.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0-beta/New-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0-beta/Remove-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0-beta/Update-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0/Get-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0/Microsoft.Graph.ChangeNotifications.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0/New-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0/Remove-MgSubscription.md
  src/ChangeNotifications/ChangeNotifications/docs/v1.0/Update-MgSubscription.md
Due: none

Migrate back to full build.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-beta-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
